<div class="container" *ngIf='!this.promiseFinished'>
  <div class="loader"></div>
  <!-- <p class="loading">Loading</p> -->
</div>
<div class="page" *ngIf='this.promiseFinished && this.bugReport'>
  <div class="container">
    <div class="send-field">
      <p>BUG REPORT</p>
      <p>Describe your bug below and send it to our team!</p>
      <textarea class="" style="width: 100%; height: 18vh;" placeholder="content" [(ngModel)] = 'this.newMessage.content' (focus)='recipientSearchOn=false'></textarea>
      <button class="col-xs-4 col-xs-offset-4" type="button" name="button" (click)='sendMessage()'>Send Bug</button>
    </div>
  </div>
</div>
<div class="page" *ngIf='this.promiseFinished && !this.bugReport'>
  <div class="container top-bar">
    <div class="profile-navbar" *ngIf='this.currentUser.power <= 3 || !this.currentUser.power'>
      <div class="profile-navbar-tab" (click)='switchTab(0)' [ngClass]="{'profile-navbar-tab-active-left': this.activeTab.main == 0}">
        Inbox
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(1)' [ngClass]="{'profile-navbar-tab-active': this.activeTab.main == 1}">
        Outbox
      </div>
      <div class="profile-navbar-tab-right" (click)='switchTab(2)' [ngClass]="{'profile-navbar-tab-active-right': this.activeTab.main == 2}">
        Compose
      </div>
    </div>
    <div class="profile-navbar" *ngIf='this.currentUser.power > 3'>
      <div class="profile-navbar-tab" (click)='switchTab(0)' style="width: calc(100% / 4)" [ngClass]="{'profile-navbar-tab-active-left': this.activeTab.main == 0}">
        Inbox
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(1)' style="width: calc(100% / 4)" [ngClass]="{'profile-navbar-tab-active': this.activeTab.main == 1}">
        Outbox
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(3)' style="width: calc(100% / 4)" [ngClass]="{'profile-navbar-tab-active': this.activeTab.main == 3}">
        Bug Reports
      </div>
      <div class="profile-navbar-tab-right" (click)='switchTab(2)' style="width: calc(100% / 4)" [ngClass]="{'profile-navbar-tab-active-right': this.activeTab.main == 2}">
        Compose
      </div>
    </div>
    <div class="edit-box">
      <div *ngIf="this.isActiveProfile" class="btn-edit" (click) = 'editProfile()'>Edit</div>
    </div>
  </div>
  <p style="font-size: 16px; text-align: center">The mailbox is still early and under construction - use with care!</p>
  <br>
  <div class="" *ngIf='this.messageOpen'>
    <div class="open-message">
      <p>FROM: {{this.activeMessage.sender.name}}</p>
      <p>TO: {{this.activeMessage.recipient[0].name}}</p>
      <p>SUBJECT: {{this.activeMessage.subject}}</p>
      <p>CONTENT: {{this.activeMessage.content}}</p>
      <div class="invitation-box" *ngIf="this.activeMessage.isInvitation && !this.activeMessage.invitation.fromUser">
        <p>Join {{this.activeMessage.sender.name}}?</p>
        <div class="" style="position: relative; width: 100%; height: 40px;">
          <div class="" style="position: absolute; left: 50%; top: 0px; transform: translate(-50%, -50%); width: 320px;">
            <button type="button" name="button" style="left: 0px;" (click)='acceptCompanyInvitation(this.activeMessage, this.activeMessage.sender)'>Accept</button>
            <button type="button" name="button" style="right: 0px;" (click)='declineCompanyInvitation(this.activeMessage, this.activeMessage.sender)'>Decline</button>
          </div>
        </div>
      </div><div class="invitation-box" *ngIf="this.activeMessage.isInvitation && this.activeMessage.invitation.fromUser">
        <p>Accept {{this.activeMessage.sender.name}}?</p>
        <div class="" style="position: relative; width: 100%; height: 40px;">
          <div class="" style="position: absolute; left: 50%; top: 0px; transform: translate(-50%, -50%); width: 320px;">
            <button type="button" name="button" style="left: 0px;" (click)='acceptPersonInvitation(this.activeMessage, this.activeMessage.sender)'>Accept</button>
            <button type="button" name="button" style="right: 0px;" (click)='declinePersonInvitation(this.activeMessage, this.activeMessage.sender)'>Decline</button>
          </div>
        </div>
      </div>
    </div>
    <div class="open-message-background" (click)='closeMessage()'>
    </div>
  </div>
  <div class="container" *ngIf='activeTab.main == 0'>
    <div class="inbox col-xs-12">
      INBOX
      <div class="message" *ngFor='let i of this.inbox; let index = index' [ngClass]="{'message-read': i.read}">
        <div (click)='deleteMessage(i, index)'>
          <img src="./assets/img/btn-close.png" alt="" class="message-close">
        </div>
        <div class="" style="width: calc(100% - 15px); height: 100%;"  (click)='openMessage(i, index)'>
          <p>FROM: {{i.sender.name}}</p>
          <p>SUBJECT: {{i.subject}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf='activeTab.main == 1'>
    <div class="outbox col-xs-12">
      OUTBOX
      <div class="message" *ngFor='let i of this.outbox; let index = index' [ngClass]="{'message-read': i.read}">
        <div (click)='deleteMessage(i, index)'>
          <img src="./assets/img/btn-close.png" alt="" class="message-close">
        </div>
        <div class="" style="width: calc(100% - 15px); height: 100%;"  (click)='openMessage(i, index)'>
          <p>TO: {{i.recipient[0].name}}</p>
          <p>SUBJECT: {{i.subject}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf='activeTab.main == 3'>
    <div class="outbox col-xs-12">
      BUG REPORTS FOR YOU
      <div class="message" *ngFor='let i of this.bugbox; let index = index' [ngClass]="{'message-read': i.read}">
        <div (click)='deleteMessage(i, index)'>
          <img src="./assets/img/btn-close.png" alt="" class="message-close">
        </div>
        <div class="" style="width: calc(100% - 15px); height: 100%;"  (click)='openMessage(i, index)'>
          <p>TO: {{i.recipient[0].name}}</p>
          <p>SUBJECT: {{i.subject}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf='activeTab.main == 2'>
    <div class="send-field">
      <input class="" style="width: 100%;" type="text" placeholder="send to:" [(ngModel)] = 'this.newMessage.recipient[0].name' (ngModelChange)='filterUsers(this.newMessage.recipient[0].name)' [ngClass]="{'empty-field': !this.newMessage.recipient[0].name}" (focus)='recipientSearchOn=true'>
      <div class="recipient-search" *ngIf='this.recipientSearchOn && this.newMessage.recipient[0].name.length > 0'>
        <div class="" *ngFor='let u of this.filteredUsers' (click)='setRecipientUser(u)'>
          {{u.firstName}} {{u.lastName}}
        </div>
      </div>
      <input class="" style="width: 100%;" type="text" placeholder="subject" [(ngModel)] = 'this.newMessage.subject' (focus)='recipientSearchOn=false' [ngClass]="{'empty-field': !this.newMessage.subject}">
      <textarea class="" style="width: 100%; height: 18vh;" placeholder="content" [(ngModel)] = 'this.newMessage.content' (focus)='recipientSearchOn=false'></textarea>
      <button class="col-xs-4 col-xs-offset-4" type="button" name="button" (click)='sendMessage()'>Send</button>
    </div>
  </div>
</div>
