<div class="col-xs-12 career">
  <div class="career-detail" *ngIf='detailsOn'>
    <p class="job-title">{{careerDetails.PositionTitle}}, {{careerDetails.Employer}}</p>
    <p class="from">{{careerDetails.StartDate}} - {{careerDetails.EndDate}}</p>
    <textarea class="description scrollbar" readonly>
      {{careerDetails.Description}}
    </textarea>
  </div>
  <div class="career-detail" *ngIf='!detailsOn' style="text-align: center; font-size: 16px;">
    Click one of your jobs below to expand its details here
  </div>
</div>
<div class="timeline-box col-xs-12">
  <section class="timeline scrollbar">
    <div class="career-item" *ngFor="let data of Data; let i = index" id="{{data.StartDate.replace('', '').replace('', '')}}">
      <div class="career-year" id="c-year-{{data.StartDate.replace('', '').replace('', '')}}" (click)="setDetails(data, i)" [ngClass]="{'career-active': this.careerDetails.index == i}">
        <p class="career-year-head">{{data['Year']}}</p>
        <p class="career-year-sub">{{data['PositionTitle']}}</p>
        <p class="career-year-sub">{{data['Employer']}}</p>
      </div>
      <!-- <div class="career-brief after" id="c-brief-{{data.StartDate.replace('', '').replace('', '')}}">
      <p class="job-title">{{data['PositionTitle']}}</p>
      <p class="company">{{data['Employer']}}</p>
      <p class="from">{{data['StartDate']}}</p>
    </div> -->
  </div>
</section>
</div>
