container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    transition: all .05s ease-in-out;
}

.box-left {
  padding-left: 0px;
  padding-right: 5px;
}

.box-right {
  padding-left: 5px;
  padding-right: 0px;
  height: 400px;
}

.career {
  height: calc(100vh - 235px);
}

.description {
  height: calc(100vh - 325px);
  width: 100%;
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 10px;
}

.timeline-box {
  height: 100px;
  background: rgba(223,223,225,1);
  padding-top: 10px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  height: 90px;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  overflow-x: auto;
}

.timeline ul {
  /*padding: 50px 0;*/
}

.timeline .career-item {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  width: 220px;
  padding-left: 30px;
  padding-right: 30px;
}

.timeline .career-item:first-child {
    padding: 0px;
    margin-left: 0px;
}

.timeline .career-item:last-child {
    margin-right: 0px;
}

.hidden {
    display: none;
}

.career-year:active ~ .hidden {
  display: block !important;
}

.career-year {
  cursor: pointer;
  height: 70px;
  width: 230px;
  padding: 2px;
  color: rgba(0,0,0,0.75);
  text-align: center;
  background-color: rgba(253,253,255,1);
  box-shadow: 0px 2px 5px #888888;
  border-radius: 2px;
  border: 2px solid rgba(0,0,2,0.05);
}

.career-year:hover {
  background-color: rgba(243,243,245,1);
}

.career-active {
  background-color: rgba(143,143,145,1);
  color: rgba(253,253,255,1);
  border: 2px solid rgba(0,0,2,0.1);
  box-shadow: 0px 4px 7px #888888;
}
.career-active:hover {
  background-color: rgba(143,143,145,1);
  color: rgba(253,253,255,1);
}

.career-year-head {
  font-size: 20px;
  font-weight: bold;
}

.career-year-sub {
  font-size: 12px;
}

.career-brief {
    width: 150px;
    padding: 12px;
    margin-top: -50px;
    border-radius: 10px;
    border: 2px solid #555;
}

.career-brief .job-title {
    text-decoration: underline;
    color: #555;
    font-size: 15px;
    font-weight: bolder;
    line-height: 20px;
    margin-bottom: 5px;
}

.career-brief .company {
    color: #666;
    font-size: 12px;
    line-height: 15px;
}

.career-brief .from {
    color: #666;
    font-size: 12px;
    line-height: 15px;
}

.career-detail {
    width: 100%;
    padding: 10px 40px 40px 40px;
    height: 40vh;
}

.career-detail .job-title {
    color: #555;
    font-size: 15px;
    font-weight: bolder;
    line-height: 40px;
}

.career-detail .from {
    color: #555;
    font-size: 14px;
    font-weight: bolder;
    line-height: 40px;
}

.career-detail .career {
    background: none;
    width: 100%;
    height: 80%;
    color: #555;
    font-size: 13px;
    border: none;
}

.career-brief .after{
    margin-top: -100px;
}
