container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    transition: all .05s ease-in-out;
}

.box {
  border-radius: 15px;
  border: 10px solid rgba(0,100,200, 0.9);
  background: rgb(255,255,255);
  box-shadow: 0px 3px 10px #888888;
}

.career-box {
  height: calc(100vh - 170px);
  overflow-y: auto;
}

.box-left {
  padding-left: 0px;
  padding-right: 5px;
}

.box-right {
  padding-left: 5px;
  padding-right: 0px;
  height: 400px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  /*padding: 50px 0;*/
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #827e7c;
}

.timeline ul li:first-child {
    padding: 0px;
    width: 0px;
}

.timeline ul li:last-child {
    padding: 0px;
    width: 0px;
}

.pre {
    margin-left: -200px;
}

.after {
    margin-left: 50px;
}

.hidden {
    display: none;
}

.career-year:active ~ .hidden {
  display: block !important;
}

.career-year {
  cursor: pointer;
  margin-left: -12.5vh;
  width: 25vh;
  padding: 2px;
  color: #555;
  text-align: center;
  background-color: #adc9f9;
  border-radius: 10px;
  border: 2px solid rgba(0,100,200, 0.9);
}

.career-year:hover {
  background-color: #cedcf5;
}

.career-active {
  background: #2772f5;
  color: white;
}
.career-active:hover {
  background: #2772f5;
  color: white;
}

.career-year-head {
  font-size: 20px;
  font-weight: bold;
}

.career-year-sub {
  font-size: 12px;
}

.career-brief {
    width: 150px;
    padding: 12px;
    margin-top: -50px;
    border-radius: 10px;
    border: 2px solid #555;
}

.career-brief .job-title {
    text-decoration: underline;
    color: #555;
    font-size: 15px;
    font-weight: bolder;
    line-height: 20px;
    margin-bottom: 5px;
}

.career-brief .company {
    color: #666;
    font-size: 12px;
    line-height: 15px;
}

.career-brief .from {
    color: #666;
    font-size: 12px;
    line-height: 15px;
}

.career-detail {
    width: 100%;
    padding: 10px 40px 40px 40px;
    height: 40vh;
}

.career-detail .job-title {
    color: #555;
    font-size: 15px;
    font-weight: bolder;
    line-height: 40px;
}

.career-detail .from {
    color: #555;
    font-size: 14px;
    font-weight: bolder;
    line-height: 40px;
}

.career-detail .career {
    background: none;
    width: 100%;
    height: 80%;
    color: #555;
    font-size: 13px;
    border: none;
}

.career-brief .after{
    margin-top: -100px;
}
