/*styles for profile edit content only*/

.basic-info {
  padding-top: 50px;
  margin-bottom: 50px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid #757575;
}

button {
  padding: 0px;
}

.empty-field {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.25);
}

.autocomplete-form {
  position: relative;
}

.autocomplete-form /deep/ .ngui-auto-complete {
  width: 500px !important;
  position: absolute;
  height: 300px;
  overflow: auto;
  left: 200px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.text-container {
  background-color: whitesmoke;
  border: 2px solid lightgray;
  padding-top: 38px;
  color: darkslategray;
}

.tiny-button-skills {
  position: absolute;
  right: 22px;
  margin-top: -32px;
  height: 15px;
  width: 15px;
  font-size: 16px;
  background-color: orangered;
  border: 1px solid lightgray;
  color: white;
}

.tiny-button-tools {
  position: absolute;
  right: 1px;
  margin-top: -2px;
  height: 15px;
  width: 15px;
  font-size: 16px;
  background-color: orangered;
  border: 1px solid lightgray;
  color: white;
}


.tiny-button-awards {
  position: absolute;
  right: 17px;
  margin-top: 9px;
  height: 15px;
  width: 15px;
  font-size: 16px;
  background-color: orangered;
  border: 1px solid lightgray;
  color: white;
}

.tiny-button-text {
  transform: translateY(-14px);
}

.tiny-button-job {
  position: absolute;
  right: 22px;
  margin-top: -34px;
  margin-right: -18px;
  height: 20px;
  width: 20px;
  font-size: 40px;
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0);
  color: rgba(0,0,0,0.33);
  padding: 0;
}

.tiny-button-job-text {
  transform: translateY(-12px);
}

.text-container textarea {
  color: black;
  width: 100%;
  margin-top: 9px;
}

.side-button {
  height: 35px;
  width: 100%;
  margin-bottom: 7px;
  padding: 0 auto;
  padding-top: 0px;
}

.button-row button {
  margin-top: 5px;
}

#user-job {
  padding-top: 15px;
}

#user-photo-job p:hover {
  color: #4070c0;
}

#user-contact div {
  height: 50px;
  line-height: 50px;
}

#user-contact img {
  height: 45px;
  padding-left: 10px;
  border-left: 4px solid #3e3e3e;
}

#user-contact div:hover img {
  border-left: 4px solid #4373c3;
}

#user-contact div p {
  width: 230px;
  text-align: left;
  margin-left: 10px;
}

#user-contact div:hover p {
  color: #4373c3;
}

#user-info {
  width: 300px;
  height: 150px;
}

#user-info div {
  width: 285px;
  height: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  border-left: 4px solid #3e3e3e;
}

#user-info div:hover {
  color: #4373c3;
}

#user-info-date {
  line-height: 32px;
}

#user-info-accuracy {
  line-height: 65px;
}

.certification {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.div-title {
  width: 100%;
  display: inline-block;
}

.div-title * {
  display: inline;
}

.div-title img {
  width: 100px;
  height: 90px;
}

.div-title p {
  font-size: 28px;
}

.div-title div {
  width: calc(100% - 320px);
  height: 3px;
  margin-bottom: 8px;
  background-color: #827e7c;
  display: inline-block;
}

.capa-main {
  display: inline-block;
}

.capa-pre {
  height: 300px;
  padding: 100px 10px 100px 10px;
  border-right: 3px solid #827e7c;
  text-align: center;
  margin: auto;
}

.capa-pre p {
  color: #313131;
  font-size: 24px;
}

.capa-chart {
  width: 300px;
  height: 300px;
}

.capabilities .text-container {
  min-height: 300px;
}

.experience .div-title div{
  width: calc(100% - 440px);
}

#exp-main-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #2070be;
}
#exp-sub1-title {
  text-align: center;
  line-height: 255px;
  font-size: 40px;
  font-weight: bold;
  color: #2070be;
}
#exp-sub2-title {
  text-align: center;
  line-height: 255px;
  font-size: 40px;
  font-weight: bold;
  color: #2070be;
}

.career .div-title div{
  width: calc(100% - 235px);
}
.interests {
  height: 100%;
  color: black;
}

.detailcareer {
  height: 100px;
}
.vertically-centered{
  position: relative;
  transform: translateY(15px);
}

.tool-search-box {
  height: 400px;
  width: 100%;
  border:1px solid #ccc;
  background: rgba(0, 0, 0, 0.03);
  overflow:auto;
}

.tool-search-item {
  background: white;
  font-size: 20px;
  padding: 4px;
  margin-top: 4px;
  text-align: center;
}

.tool-search-item:hover {
  background: rgb(225, 225, 225);
}

.tool-list-box {
  position: relative;
  height: 442px;
  width: 100%;
  border:1px solid #ccc;
  background: rgba(0, 0, 0, 0.03);
  overflow:auto;
}

.tool-list-item {
  background: white;
  font-size: 20px;
  padding: 4px;
  margin-top: 4px;
  text-align: center;
}

.no-tool-found {
  background: rgba(255, 0, 0, 0.25);
  font-size: 20px;
  padding: 4px;
  margin-top: 4px;
  text-align: center;
}



input {
  color: black;
}

textarea {
  color: black;
}

.strength .div-title p{
  color: #198fcf;
}

.save-button {
  height: 50px;
  background-color: forestgreen;
}

.strength .div-title div{
  background-color: #0e6daf;
  width: calc(100% - 272px);
}

app-availablebar {
  width: 560px;
  height: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  display: inherit;
}

.available-bar {
  width: 560px;
  height: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 33px;
  display: inherit;
}

.div-available {
    width: 70px;
    height: 20px;
    border: 1px solid white;
    display: inline-block;
    float: left;
}

.div-available.available {
    background-color: #0b6ec1;
}

.div-available.unavailable {
    background-color: #7f7f7f;
}

.div-available-img {
    width: 70px;
    height: 60px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.div-available-img:after {
    content: '\200b';
}

.div-available-date {
    width: 70px;
    height: 20px;
    margin-top: 5px;
    display: inline-block;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
