<div class="container">
  <div class="btn-back" (click) = 'this.location.back()'></div>
  <div class="basic-info col-xs-10 col-xs-offset-1 clear">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-4 col-lg-2 col-lg-offset-0" [style.height] = "'150px'">
        <img *ngIf="this.currentUser.avatar" src="{{this.currentUser.avatar}}" class="avatar left">
        <div *ngIf="!this.currentUser.avatar || this.currentUser.avatar.startsWith('..')" class="left">
        <input type="file" #fileInput accept=".jpg,.png" style="width:100%"/>
        <button class="btn btn-primary" (click)="uploadPhoto()">Upload Avatar</button>
        </div>
      </div>
      <div id="20" class="col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-0" *ngIf = this.promiseFinished>
        <p class="col-xs-4 text-right vertically-centered">First Name</p>
        <input class="col-xs-8 left" type="text" placeholder="Your first name" [(ngModel)] = 'this.currentUser.firstName'>
        <p class="col-xs-4 text-right vertically-centered">Last Name</p>
        <input class="col-xs-8 left" type="text" placeholder="Your last name" [(ngModel)] = 'this.currentUser.lastName'>
        <p class="col-xs-4 text-right vertically-centered">Title</p>
        <input class="col-xs-8 left" type="text" placeholder="Your current job title" [(ngModel)] = 'this.currentUser.positionHistory[0].PositionTitle'>
        <p class="col-xs-4 text-right vertically-centered">Employer</p>
        <input class="col-xs-8 left" type="text" placeholder="Your current employer" [(ngModel)] = 'this.currentUser.positionHistory[0].Employer'>
      </div>
      <!--<div><img src="../assets/img/glyphicon/phone-2.png" class="left"><p class="left">{{ this.currentUser.contactNumber }}</p></div>-->
      <!--<div><img src="../assets/img/glyphicon/post-1.png" class="left"><p class="left">{{ this.currentUser.city }}</p></div>-->

      <div id="user-contact" class="col-xs-2 col-xs-offset-1 col-lg-1 col-lg-offset-0" style="margin-right: 0px">
        <div class="col-xs-12 left"><img style="height: 75%; transform: translateY(-5%)" src="../assets/img/glyphicon/email-1.png"></div>
        <div class="col-xs-12 left"><img style="height: 75%; transform: translateY(-5%)" src="../assets/img/glyphicon/phone-2.png" class="left"></div>
        <div class="col-xs-12 left"><img style="height: 75%; transform: translateY(-25%)" src="../assets/img/glyphicon/post-1.png" class="left"></div>
      </div>
      <div id="user-contact" class="col-xs-8 col-lg-4 col-lg-offset-0" style="margin-left: 0px" *ngIf = this.promiseFinished>
        <p class="col-xs-3 text-right vertically-centered">Email</p>
        <input class="col-xs-9 left" type="email" [(ngModel)] = 'this.currentUser.username'>

        <p class="col-xs-3 text-right" style="transform: translateY(10%)">Contact Number</p>
        <input class="col-xs-9 left" type="tel" maxlength="10" [(ngModel)] = 'this.currentUser.cell'>

        <p class="col-xs-3 text-right vertically-centered">City</p>
        <input class="col-xs-9 left" type="text"  [(ngModel)] = 'this.currentUser.address.city'>

        <p class="col-xs-3 text-right vertically-centered">State</p>
        <input class="col-xs-9 left" type="text"  [(ngModel)] = 'this.currentUser.address.state'>

        <p class="col-xs-3 text-right vertically-centered">Zip</p>
        <input class="col-xs-9 left" type="number" max="99999" maxlength="5" [(ngModel)] = 'this.currentUser.address.zip'>
      </div>

    </div>
  </div>

  <div class="certification col-xs-12">
    <div class="div-title col-xs-12">
      <img src="./assets/img/profile/degree.png">
      <p>DEGREES</p>
      <div ></div>
    </div>
    <div class="col-xs-12 col-md-12 text-center">
        <div class="text-left text-container" style="padding-bottom: 14em" [style.height] = "'260px'" *ngFor="let degree of this.currentUser.education; let i = index">
          <div class="col-xs-6 col-md-5">
            <p class="col-xs-6 col-md-5 vertically-centered">Type: </p>
            <input class="col-xs-6 col-md-7" [(ngModel)] = 'degree.DegreeType[0].Name'>
            <p class="col-xs-6 col-md-5 vertically-centered">Concentration: </p>
            <input class="col-xs-6 col-md-7" [(ngModel)] = 'degree.MajorProgramName'>
            <p class="col-xs-6 col-md-5 vertically-centered">School: </p>
            <input class="col-xs-6 col-md-7" [(ngModel)] = 'degree.School'>
            <p class="col-xs-6 col-md-5 vertically-centered">Graduation Date: </p>
            <input class="col-xs-6 col-md-7" [(ngModel)] = 'degree.AttendanceEndDate'>
          </div>
          <div class="col-xs-3 col-md-5">
            <textarea name="" id="" rows="8" placeholder="Description:" [(ngModel)] = 'degree.Comment'></textarea>
          </div>
          <div class="col-xs-3 col-md-2" style="padding-top: 7px; height: 100%">
            <button class="col-xs-12 side-button" (click)="addDegree()">ADD</button>
            <button class="col-xs-12 side-button" (click)="deleteDegree(i)">DELETE</button>
          </div>
        </div>
    </div>
  </div>

  <div class="certification col-xs-12">
    <div class="div-title col-xs-12">
      <img src="./assets/img/profile/certificate.png">
      <p>CERTIFICATES</p>
      <div ></div>
    </div>
    <div class="col-xs-11 col-xs-offset-1">
        <p class="col-xs-4 text-left">Name</p>
        <p class="col-xs-4 text-left">Date Earned</p>
    </div>

    <div class="col-xs-11 col-xs-offset-1" type="text" *ngFor="let certificate of this.currentUser.certification; let i = index">
      <div class="col-xs-4">
        <input class="col-xs-11" type="text" [(ngModel)] = 'certificate.CertificationName'>
      </div>
      <div class="col-xs-4">
        <input class="col-xs-11" type="text" [(ngModel)] = 'certificate.DateEarned'>
      </div>
        <div class="col-xs-3 col-xs-offset-1" style="padding-top: 1%; height: 100%; margin-top: 20px">
          <button class="col-xs-12 side-button" style="height: 12%; margin-top: -24px" (click)="deleteCertificate(i)">DELETE</button>
        </div>
      </div>
    <button class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4" (click)="addCertificate()">Add Certificate</button>
  </div>

  <div class="certification col-xs-12">
    <div class="div-title col-xs-12">
      <img src="./assets/img/profile/clearances.png">
      <p>CLEARANCES</p>
      <div ></div>
    </div>
    <div class="col-xs-12 text-center" *ngFor="let index of this.currentUser.clearance; let i = index">
      <div class="col-xs-10" style="padding-top: 2%">
        <div class="col-xs-4">
          <p class="col-xs-12 text-left">Type: </p>
          <input class="col-xs-12" [(ngModel)] = 'index.clearanceType'>
        </div>
        <div class="col-xs-4 text-left">
          <p class="col-xs-12">Awarded: </p>
          <input class="col-xs-12" [(ngModel)] = 'index.awarded'>
        </div>
        <div class="col-xs-4 text-left">
          <p class="col-xs-12">Expiration: </p>
          <input class="col-xs-12" [(ngModel)] = 'index.expiration'>
        </div>
      </div>
      <div class="col-xs-2" style="padding-top: 4%">
        <button class="col-xs-12" style="height: 12%; margin: 1%;" (click)="deleteClearance(i)">DELETE</button>
      </div>
    </div>
    <button class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4" (click)="addClearance()">Add Clearance</button>
  </div>

  <div class="certification col-xs-12">
    <div class="div-title col-xs-12">
      <img src="./assets/img/profile/awards.png">
      <p>AWARDS</p>
      <div ></div>
    </div>
    <div class="col-xs-12 text-center">
      <div class="col-xs-12" style="padding-top: 2%">
        <div class="col-xs-6 text-left" *ngFor="let award of this.currentUser.award; let i = index; trackBy:customTrackBy">
          <input class="col-xs-12" [(ngModel)] = 'this.currentUser.award[i]'>
          <button class="tiny-button-awards" (click)="deleteAward(i)"><div class="tiny-button-text">x</div></button>
        </div>
      </div>
    </div>
    <button class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4" (click)="addAward()" style="margin-top: 5px">Add Award</button>
  </div>

  <div class="career col-xs-12 clear">
    <div class="div-title col-xs-12">
      <img src="./assets/img/profile/career.png">
      <p>CAREER</p>
      <div ></div>
    </div>

    <div *ngFor="let job of this.currentUser.positionHistory; let i = index" class="col-xs-12 job text-container" style="margin: 1%">
      <p class="col-xs-12 left">Job {{i+1}}</p>
      <div class="col-xs-5">
        <p class="col-xs-5 col-md-4 vertically-centered">Title</p>
        <input class="col-xs-7 col-md-8 left" placeholder="The title you held" [(ngModel)] = 'job.PositionTitle'>
        <p class="col-xs-5 col-md-4 vertically-centered">End Date</p>
        <input class="col-xs-7 col-md-8 left" placeholder="" [(ngModel)] = 'job.EndDate'>
        <p class="col-xs-5 col-md-4 vertically-centered">Start Date</p>
        <input class="col-xs-7 col-md-8 left" placeholder="" [(ngModel)] = 'job.StartDate'>
      </div>
      <div class="col-xs-7">
        <textarea class="col-xs-12 left" rows="9" placeholder="Description:" [(ngModel)] = 'job.Description'></textarea>
      </div>
      <div class="col-xs-3">
        <p class="col-xs-8">Were you a government employee?</p>
        <input type="checkbox" class="col-xs-4" [(ngModel)] = 'job.isGovernment'>
      </div>
      <div class="col-xs-9" *ngIf = 'job.isGovernment'>
        <div class="col-xs-12">
          <p class="col-xs-2 vertically-centered">Agency</p>
          <input class="col-xs-10" [(ngModel)] = 'job.Employer'>
        </div>
        <!-- <p class="col-xs-5 col-xs-offset-7">How would you characterize your relationships at each agency?</p>
        <div class="col-xs-12" >
          <div class="col-xs-12" style="margin-left: 15px" *ngFor="let office of job.agencyExperience[0].offices; let i = index; trackBy:customTrackBy">
            <p class="col-xs-3 vertically-centered">Office {{i + 1}}</p>
            <input class="col-xs-4" type="text" [(ngModel)] = 'office.title'>
            <input class="col-xs-5" type="text">
            <button class="tiny-button-skills" (click)="deleteOffice(job.agencyExperience[0], i)" style="margin-top: 9px; margin-right: -5px"><div class="tiny-button-text">x</div></button>
          </div>
          <button class="col-xs-2 col-xs-offset-10" (click)="addOffice(job.agencyExperience[0])">Add Office</button>
        </div> -->
        <p class="col-xs-3 col-xs-offset-4">Were you a PM?</p>
        <input type="checkbox" class="col-xs-1" [(ngModel)] = 'job.isPM'>
        <p class="col-xs-3">Were you a warranted KO?</p>
        <input type="checkbox" class="col-xs-1" [(ngModel)] = 'job.isKO'>
      </div>
      <div class="col-xs-9" *ngIf = 'job.isGovernment == false'>
        <div class="col-xs-12">
          <p class="col-xs-2 vertically-centered">Employer</p>
          <input class="col-xs-10" [(ngModel)] = 'job.Employer'>
        </div>
        <p class="col-xs-5 col-xs-offset-7">Which government agencies did you work with (if any)?</p>
        <div class="col-xs-12" *ngFor="let agency of job.agencyExperience; let i = index; trackBy:customTrackBy">
          <p class="col-xs-3 vertically-centered">Agency {{i + 1}}</p>
          <input class="col-xs-9" type="text" [(ngModel)] = 'agency.main.title'>
          <button class="tiny-button-skills" (click)="deleteAgency(job, i)" style="margin-top: 9px; margin-right: -5px"><div class="tiny-button-text">x</div></button>
          <!-- <div class="col-xs-12" style="margin-left: 15px" *ngFor="let office of agency.offices; let i = index; trackBy:customTrackBy">
            <p class="col-xs-3 vertically-centered">Office {{i + 1}}</p>
            <input class="col-xs-4" type="text" [(ngModel)] = 'office.title'>
            <input class="col-xs-5" type="text">
            <button class="tiny-button-skills" (click)="deleteOffice(agency, i)" style="margin-top: 9px; margin-right: -5px"><div class="tiny-button-text">x</div></button>
          </div> -->
          <!-- <button class="col-xs-2 col-xs-offset-10" (click)="addOffice(agency)">Add Office</button> -->
        </div>
        <button class="col-xs-3 col-xs-offset-6" (click)="addAgency(job)">Add Agency</button>
      </div>

      <div class="button-row">
        <button class="col-xs-3 col-xs-offset-3" (click)="addJob()">ADD</button>
        <button class="col-xs-3" (click)="deleteJob(i)">DELETE</button>
      </div>
    </div>
  </div>

  <div class="career col-xs-12 clear" *ngIf='this.currentUser.resumeText'>
    <div class="div-title col-xs-12">
      <img src="./assets/img/profile/capabilities-1.png">
      <p>SKILLS</p>
      <div ></div>
    </div>

    <div class="col-xs-6 text-center text-container" style="padding-top: 15px">
      <p>Your Skills</p>
      <div class="tool-list-box">
        <div class="">
          <div class="tool-list-item" *ngFor='let tool of this.currentUser.foundTools; let i = index; trackBy:customTrackBy'>
            {{tool.title}}
            <button class="tiny-button-tools" (click)="deleteTool(i)"><div class="tiny-button-text">x</div></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 text-center text-container" style="padding-top: 15px">
      <p>(this is slow right now, please be patient)</p>
      <input type="text" style="width: 100%" [(ngModel)] = 'this.toolSearch' (ngModelChange)="updateToolList($event)" >
      <div class="tool-search-box">
        <div class="no-tool-found" *ngIf='this.toolSearch.length >= 1 && this.filteredTools.length == 0 && !this.toolSubmitted' >
          <p>No matches found. Submit {{this.toolSearch}} as a new tool?</p>
          <button class="btn btn-primary btn-block" type="button" name="button" (click)='submitNewTool(this.toolSearch)'>Submit</button>
        </div>
        <div class="no-tool-found" *ngIf='this.toolSearch.length >= 1 && this.filteredTools.length == 0 && this.toolSubmitted' >
          <p>{{this.toolSearch}} has been submitted. If it's approved we'll add it to the list!</p>
        </div>
        <div class="" *ngIf='this.toolSearch.length >= 1'>
          <div class="" *ngFor='let tool of this.currentUser.tools; let i = index; trackBy:customTrackBy'>
            <div class="tool-search-item" *ngIf='toolIsValid(tool) && toolIsNotListedAlready(tool)' (click)='addTool(this.currentUser.tools[i])'>
              <p>{{tool.title}}</p>
            </div>
          </div>
        </div>
        <div class="" *ngIf='this.toolSearch.length >= 1'>
          <div class="" *ngFor='let tool of this.filteredTools; let i = index; trackBy:customTrackBy'>
            <div class="tool-search-item" *ngIf='toolIsValid(tool)' (click)='addTool(this.filteredTools[i])'>
              <p>{{tool.title}}</p>
            </div>
          </div>
        </div>
        <div class="no-tool-found" *ngIf='this.toolSearch.length >= 1 && this.filteredTools.length > 0 && !this.toolSubmitted' >
          <p>Can't find what you're looking for? Submit {{this.toolSearch}} as a new tool.</p>
          <button class="btn btn-primary btn-block" type="button" name="button" (click)='submitNewTool(this.toolSearch)'>Submit</button>
        </div>
        <div class="no-tool-found" *ngIf='this.toolSearch.length >= 1 && this.filteredTools.length > 0 && this.toolSubmitted' >
          <p>{{this.toolSearch}} has been submitted. If it's approved we'll add it to the list!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="career col-xs-12 clear" *ngIf='!this.currentUser.resumeText'>
    <div class="div-title col-xs-12">
      <img src="./assets/img/profile/capabilities-1.png">
      <p>SKILLS</p>
      <div ></div>
    </div>
    <p>Hi! This profile doesn't have the full resume text saved so this stuff won't work. If you make a new profile it should all be good!</p>
  </div>

  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
    <p class="fs-28 fc-title">INTERESTS</p>
    <p class="fs-28 fc-subtitle">INTERESTED IN</p>
    <div class="text-container text-left" [style.height] = "'300px'">
      <textarea class="col-xs-12 interests" [(ngModel)] = 'this.currentUser.interest'></textarea>
    </div>
  </div> -->

  <!--<div class="availability col-xs-12 clear">-->
    <!--<div class="div-title col-xs-12">-->
      <!--<img src="./assets/img/profile/availability.png">-->
      <!--<p>AVAILABILITY</p>-->
      <!--<div ></div>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-container">-->
      <!--<app-color-comment-box color='#7f7f7f' text='unavilable' class="col-xs-12 col-sm-6 col-md-6"></app-color-comment-box>-->
      <!--<app-color-comment-box color='#0b6ec1' text='available' class="col-xs-12 col-sm-6 col-md-6"></app-color-comment-box>-->
    <!--</div>-->
    <!--<app-availablebar [values] = 'availabilityData.values' [dates] = 'availabilityData.dates'></app-availablebar>-->
  <!--</div>-->

  <div class="col-xs-6 col-xs-offset-3" style="margin-bottom: 1%"><button class="btn btn-primary btn-block" (click)="updateProfile(this.currentUser)">Save Changes</button></div>
  <br>

</div>
