<div class="container" *ngIf='!this.promiseFinished'>
  <div class="loader"></div>
  <!-- <p class="loading">Loading</p> -->
</div>
<div class="page" *ngIf='this.promiseFinished'>
  <div class="container top-bar">
    <div class="profile-navbar">
      <div class="profile-navbar-tab" (click)='switchTab(0)' [ngClass]="{'profile-navbar-tab-active-left': this.activeTab.main == 0}">
        Profile
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(1)' [ngClass]="{'profile-navbar-tab-active': this.activeTab.main == 1}">
        Education
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(2)' [ngClass]="{'profile-navbar-tab-active': this.activeTab.main == 2}">
        Career
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(3)' [ngClass]="{'profile-navbar-tab-active': this.activeTab.main == 3}">
        Skills
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(4)' [ngClass]="{'profile-navbar-tab-active': this.activeTab.main == 4}">
        Past Performances
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(5)' style="border-right:0px solid black" [ngClass]="{'profile-navbar-tab-active-right': this.activeTab.main == 5}">
        Experience
      </div>
    </div>
    <div class="edit-box">
      <div *ngIf="this.isActiveProfile" class="btn-edit" (click) = 'editProfile()'>Edit</div>
    </div>
  </div>
  <!-- PROFILE TAB -->
  <div class="container" *ngIf='this.activeTab.main == 0'>
    <div class="basic-info col-xs-12" style="background: none">
      <div class="" style="height: 180px; width: 180px; position: relative; float: left;">
        <div class="left avatar">
          <img src='{{ this.currentUser.avatar }}' class="avatar-img">
        </div>
      </div>
      <div class="basic-info-inner">
        <div class="" style="width: 95%; height: 110px;">
          <div class="col-xs-12 basic-info-header">
            <p>{{ this.currentUser.firstName }} {{this.currentUser.lastName}}</p>
          </div>
          <div class="col-xs-12 basic-info-sub" *ngIf='this.currentJob'>
            <p>{{this.currentJob.PositionTitle}}, {{this.currentJob.Employer}}</p>
          </div>
          <div class="col-xs-12 basic-info-sub-2" *ngIf='this.currentJob'>
            <p>{{this.currentJob.Employer}}</p>
          </div>
        </div>
        <div class="" style="width: 100%; height: calc(53vh - 220px); padding-top: .9vh; float: left; padding-bottom: 2vh; padding-top: 2vh;">
          <div id="user-contact" class="col-xs-5" style="height: 100%; padding-top: .1v; padding-bottom: .1v; border-right: 2px solid rgba(0,0,0,0.25);">
            <div class="" style="width: 100%;">
              <p class="basic-info-text-2">{{ this.currentUser.address.city }}</p>
              <p class=" basic-info-text-2">{{ this.currentUser.cell }}</p>
              <p class="basic-info-text-2">{{ this.currentUser.username }}</p>
            </div>
            <div style="width: 100%; margin-top: 20px;">
              <p class="basic-info-text-2">{{ this.currentUser.education[0].DegreeType[0].Name }}</p>
              <p class="basic-info-text-2">{{ this.currentUser.education[0].MajorProgramName[0] }}, {{ this.currentUser.education[0].School }}</p>
              <p class="basic-info-text-2">{{ this.currentUser.education[0].AttendanceEndDate.slice(0,4) }}</p>
            </div>
          </div>
          <div id="user-contact" class="col-xs-7 scrollbar" style="overflow-y: auto; padding-top: .1vh; height: 100%;">
            <div class="basic-info-career-panel" style="width: 100%; height: auto;" *ngFor='let p of this.currentUser.positionHistory'>
              <div class="basic-info-text-2">
                <div class="left">
                  {{ p.Employer }}
                </div>
                <div class="right">
                  {{p.StartDate.slice(0,4)}} - {{p.EndDate.slice(0,4)}}
                </div>
              </div><br>
              <p class="basic-info-text-2 left">{{ p.PositionTitle }}</p>
              <p class="basic-info-text-2 left" style="margin-bottom: 20px;">{{ p.Description.slice(0,50) }}...</p>
            </div>
            <!-- <div class="col-xs-12 basic-info-text" style="margin-top: 2px"><p class=" basic-info-text-2">{{ this.currentUser.cell }}</p></div>
            <div class="col-xs-12 basic-info-text-2" style="margin-top: -10px">
            <rating [(ngModel)]="this.currentUser.informationAccuracy" [max]="5" style="margin-left: 25%"></rating>
            <p class="noWrapScroll" style="margin-top: -25px; font-size: 12px; text-align: center">Updated {{ this.currentUser.lastUpdated}}</p>
          </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12" style="background: rgba(223,223,225,1); height: 39.5vh; border-bottom: 0px solid black">
      <div id="service_chart"  style="height: 36vh; margin: 0 auto" [chart]="serviceChart"></div>
    </div>
  </div>
  <!-- EDUCATION TAB -->
  <div class="container" *ngIf='this.activeTab.main == 1'>
    <div class="education-1 col-xs-12">
      <div class="education-left scrollbar col-xs-6" *ngIf = 'this.currentUser.education'>
        <div class="education-header">
          Degrees
        </div>
        <div class="" *ngFor="let deg of this.currentUser.education" class="degree-box">
          <div *ngIf="deg.DegreeType[0] && deg.DegreeType[0].Name.length > 0">
            <div *ngIf="deg.MajorProgramName && deg.MajorProgramName.length > 0">
              <div *ngIf="deg.School && deg.School.length > 0">
                <div *ngIf="deg.AttendanceEndDate && deg.AttendanceEndDate.length > 0">
                  <p class="degree-text">
                    {{deg.School}}, {{deg.DegreeType[0].Name}} in {{deg.MajorProgramName[0]}}
                  </p>
                  <p class="degree-subtext">Graduated {{deg.AttendanceEndDate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="" *ngIf = 'this.currentUser.certification'>
        <div class="" *ngIf = 'this.currentUser.certification[0]'>
          <div class="education-right scrollbar col-xs-6" *ngIf = 'this.currentUser.certification[0].CertificationName.length > 0'>
            <div class="education-header">
              Certifications
            </div>
            <div class="" *ngFor="let cert of this.currentUser.certification">
              <div class="" *ngIf="cert.CertificationName && cert.CertificationName.length > 0">
                <div class="degree-box" *ngIf="cert.DateEarned && cert.DateEarned.length > 0">
                  <p class="degree-text">
                    {{cert.CertificationName}} Certification
                  </p>
                  <p class="degree-subtext">Earned {{cert.DateEarned}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="education-2 col-xs-12">
      <div class="education-left scrollbar col-xs-6">
        <div class="education-header">
          Awards
        </div>
        <div class="" *ngFor="let award of this.currentUser.award" class="degree-box">
          <p class="degree-text" *ngIf="award.length > 0">{{award}} Award</p>
        </div>
      </div>
      <div class="" *ngIf='this.currentUser.clearance'>
        <div class="" *ngIf='this.currentUser.clearance[0]'>
          <div class="education-right scrollbar col-xs-6" *ngIf='this.currentUser.clearance[0].clearanceType.length > 0'>
            <div class="education-header">
              Clearances
            </div>
            <div class="" *ngFor="let clearance of this.currentUser.clearance">
              <div class="" *ngIf="clearance.clearanceType.length > 0">
                <div class="" *ngIf="clearance.awarded.length > 0">
                  <div class="degree-box" *ngIf="clearance.expiration.length > 0">
                    <p class="degree-text">
                      {{clearance.clearanceType}} Clearance
                    </p>
                    <p class="degree-subtext">Awarded {{clearance.awarded}}, expires {{clearance.expiration}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CAREER TAB -->
  <div class="container"*ngIf='this.activeTab.main == 2'>
    <div class="col-xs-12" *ngIf = 'this.promiseFinished'>
      <career class="" [Data]="this.currentUser.positionHistory" [current]="currentYear()"></career>
    </div>
    <!-- <div class="col-xs-6 box-right">
      <div class="career box col-xs-12" *ngIf = 'this.promiseFinished'>
        <p class="job-title">{{careerDetails.PositionTitle}}, {{careerDetails.Employer}}</p>
        <p class="from">{{careerDetails.StartDate}} - {{careerDetails.EndDate}}</p>
        <textarea class="" readonly>{{careerDetails.Description}}</textarea>
      </div>
    </div> -->
  </div>

  <!-- SKILLS TAB -->
  <div class="container" *ngIf='this.activeTab.main == 3'>
    <div class="skill-tab col-xs-5 col-xs-offset-1 col-md-4 col-md-offset-2" (click)='this.activeTab.skill = 0' [ngClass]="{'skill-tab-active': this.activeTab.skill == 0}">
      Skills
    </div>
    <div class="skill-tab col-xs-5 col-xs-offset-0 col-md-4 col-md-offset-0" (click)='this.activeTab.skill = 1' [ngClass]="{'skill-tab-active': this.activeTab.skill == 1}">
      Career Capabilities
    </div>
    <div class="skills col-xs-12 box" *ngIf="this.activeTab.skill == 0">
      <div id="team_chart"  style="max-width: 85%; margin: 0 auto; height:50vh" [chart]='this.skillChart'></div>

      <!-- <canvas baseChart
      [datasets]="toolChartDatas"
      [labels]="toolChartLabels"
      [options]="{ scaleShowVerticalLines: true, responsive: true, scales: { yAxes: [{ticks: {beginAtZero: true }}]} }"
      [legend]="false"
      [chartType]="'bar'"></canvas> -->
    </div>
    <div class="skills col-xs-12 box" *ngIf='this.activeTab.skill == 1'>
      <div class="product-tab-bar col-xs-10 col-xs-offset-1">
        <div class="product-tab col-xs-3" (click)='activeTab.service = activeTab.service-1' *ngIf='activeTab.service>0 && this.serviceChartNames[this.activeTab.service-1]'>
          <div *ngIf='this.serviceChartNames[this.activeTab.service-1].length < 20'>{{this.serviceChartNames[this.activeTab.service-1]}}</div>
          <div *ngIf='this.serviceChartNames[this.activeTab.service-1].length >= 20'>{{this.serviceChartNames[this.activeTab.service-1].substring(0,20)}}...</div>
        </div>
        <div class="product-tab product-tab-active col-xs-6 col-xs-offset-3" *ngIf='activeTab.service<=0 && this.serviceChartNames[this.activeTab.service]'>
          <div *ngIf='this.serviceChartNames[this.activeTab.service].length < 35'>{{this.serviceChartNames[this.activeTab.service]}}</div>
          <div *ngIf='this.serviceChartNames[this.activeTab.service].length >= 35'>{{this.serviceChartNames[this.activeTab.service].substring(0,30)}}...</div>
        </div>
        <div class="product-tab product-tab-active col-xs-6" *ngIf='activeTab.service>0 && this.serviceChartNames[this.activeTab.service]'>
          <div *ngIf='this.serviceChartNames[this.activeTab.service].length < 35'>{{this.serviceChartNames[this.activeTab.service]}}</div>
          <div *ngIf='this.serviceChartNames[this.activeTab.service].length >= 35'>{{this.serviceChartNames[this.activeTab.service].substring(0,35)}}...</div>
        </div>
        <div class="product-tab col-xs-3" (click)='activeTab.service = activeTab.service+1' *ngIf='this.serviceChartNames[activeTab.service+1]'>
          <div *ngIf='this.serviceChartNames[this.activeTab.service+1].length < 20'>{{this.serviceChartNames[this.activeTab.service+1]}}</div>
          <div *ngIf='this.serviceChartNames[this.activeTab.service+1].length >= 20'>{{this.serviceChartNames[this.activeTab.service+1].substring(0,20)}}...</div>
        </div>
      </div>
      <div class="" *ngFor='let c of this.charts; let i = index'>
        <div id="team_chart"  style="max-width: 85%; margin: 0 auto; height:50vh" [chart]='c' *ngIf='i==activeTab.service'></div>
      </div>
    </div>
  </div>

  <!-- PAST PERFORMANCES TAB -->
  <div class="container" *ngIf='this.activeTab.main == 4'>
    <div class="skills col-xs-12 box" *ngIf="this.activeTab.skill == 0">
      <div class="col-xs-12 text-container" *ngFor='let pp of pastPerformances'>
        <div class="" *ngIf="pp.public">
          <div class="" style="height: 180px; width: 180px; position: relative; float: left;">
            <div class="left avatar">
              <img src='{{ pp.avatar }}' class="avatar-img">
            </div>
          </div>
          <div class="" style="position: absolute; height: 20vh; width: calc(100% - 180px); bottom: 0px; right: 0px; float: left; background: none;">
            <div id="user-contact" class="col-xs-5" style="height: 100%; padding-top: 4vh; padding-bottom: .1vh; border-right: 2px solid rgba(0,0,0,0.25);">
              <div class="" style="width: 100%;">
                <p class="basic-info-text-2">{{ pp.title }}</p>
                <p class="basic-info-text-2">{{ pp.client }}</p>
                <p class="basic-info-text-2">{{ pp.topic }}</p>
                <p class="basic-info-text-2">{{ pp.startDate }} - {{ pp.endDate }}</p>
              </div>

              <!-- <div class="" style="width: 100%;">
              <p class="basic-info-text-2">{{ this.currentUser.address.city }}</p>
              <p class=" basic-info-text-2">{{ this.currentUser.cell }}</p>
              <p class="basic-info-text-2">{{ this.currentUser.username }}</p>
            </div>
            <div style="width: 100%; margin-top: 20px;">
            <p class="basic-info-text-2">{{ this.currentUser.education[0].DegreeType[0].Name }}</p>
            <p class="basic-info-text-2">{{ this.currentUser.education[0].MajorProgramName[0] }}, {{ this.currentUser.education[0].School }}</p>
            <p class="basic-info-text-2">{{ this.currentUser.education[0].AttendanceEndDate.slice(0,4) }}</p>
          </div> -->
        </div>
        <div id="user-contact" class="col-xs-7 scrollbar" style="overflow-y: auto; padding-top: .1vh; height: 100%;">
          <a href="#/past-performance/{{pp._id}}">
            <button style="white-space: nowrap" style="height: 4em;">More Information</button>
          </a>
          <!-- <div class="basic-info-career-panel" style="width: 100%; height: auto;" *ngFor='let p of this.currentUser.positionHistory'>
          <div class="basic-info-text-2">
          <div class="left">
          {{ p.Employer }}
        </div>
        <div class="right">
        {{p.StartDate.slice(0,4)}} - {{p.EndDate.slice(0,4)}}
      </div>
    </div><br>
    <p class="basic-info-text-2 left">{{ p.PositionTitle }}</p>
    <p class="basic-info-text-2 left" style="margin-bottom: 20px;">{{ p.Description.slice(0,50) }}...</p>
  </div> -->
</div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- EXPERIENCE/AGENCY TAB -->
  <div class="container" *ngIf='this.activeTab.main == 5'>
    <div class="" *ngIf='this.agencyExperience'>
      <div class="" *ngIf='this.agencyExperience[0]'>
        <div class="experience col-xs-12 box" *ngIf='this.agencyExperience[0].main.title'>
          <div class="col-xs-12">
            <div id="team_chart"  style="max-width: 75%; margin: 0 auto; background: none; border: 1px solid rgba(0,0,0,0.05)" [chart]="agencyChart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- OLD PROFILE PAGE -->
  <div class="container" *ngIf='this.activeTab.main == 7'>
    <div class="basic-info col-xs-12" *ngIf = this.promiseFinished>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0" [style.height] = "'150px'" style="position: relative">
          <div class="left avatar">
            <img src='{{ this.currentUser.avatar }}' class="avatar-img">
          </div>
          <div class="right" [style.width] = "'calc(100% - 150px)'">
            <div class="" style="position: absolute; top: 0px">
              <p class="col-xs-12 mt15" [style.height] = "'40px'">{{ this.currentUser.firstName }} {{this.currentUser.lastName}}</p>
              <p class="col-xs-12 mt15" [style.height] = "'40px'" *ngIf = this.currentJob>{{this.currentJob.PositionTitle }}</p>
              <p class="col-xs-12 mb15" [style.height] = "'40px'" *ngIf = this.currentJob>{{this.currentJob.Employer}}</p>
            </div>
          </div>
        </div>
        <div id="user-contact" class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0">
          <div><img src="../assets/img/glyphicon/email-1.png" class="left"><p class="left noWrapScroll">{{ this.currentUser.username }}</p></div>
          <div><img src="../assets/img/glyphicon/phone-2.png" class="left"><p class="left noWrapScroll">{{ this.currentUser.cell }}</p></div>
          <div><img src="../assets/img/glyphicon/post-1.png" class="left"><p class="left noWrapScroll" *ngIf = this.currentUser.address>{{ this.currentUser.address.city }}, {{ this.currentUser.address.state }}</p></div>
        </div>
        <div id="user-info" class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0">
          <div class="col-xs-12 col-md-6">
            <p class="lh-30 left">Information<br>Updated</p>
            <p class="lh-60 right noWrapScroll">{{ this.currentUser.lastUpdated}}</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <p class="lh-60 left">Information Accuracy</p>
            <rating [(ngModel)]="this.currentUser.informationAccuracy" [max]="5" class="lh-60 right"></rating>
          </div>
        </div>
      </div>
    </div>

    <div class="certification col-xs-12">
      <div class="col-xs-12 col-md-6 text-center">
        <p class="fs-28 fc-title">CERTIFICATIONS, DEGREES</p>
        <p class="fs-28 fc-subtitle">AWARDS & CLEARANCES</p>
        <div class="text-container text-left cert-container" [style.height] = "'300px'">
          <div *ngIf = 'this.currentUser.education'>
            <p>Degrees:</p>
            <div class="" *ngFor="let deg of this.currentUser.education">
              <div *ngIf="deg.DegreeType[0] && deg.DegreeType[0].Name.length > 0">
                <div *ngIf="deg.MajorProgramName && deg.MajorProgramName.length > 0">
                  <div *ngIf="deg.School && deg.School.length > 0">
                    <div *ngIf="deg.AttendanceEndDate && deg.AttendanceEndDate.length > 0" class="degree-box">
                      <p>
                        {{deg.DegreeType[0].Name}} in {{deg.MajorProgramName[0]}} from {{deg.School}}
                      </p>
                      <p>Graduated {{deg.AttendanceEndDate}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="" *ngIf = 'this.currentUser.certification'>
            <div class="" *ngIf = 'this.currentUser.certification[0]'>
              <div class="" *ngIf = 'this.currentUser.certification[0].CertificationName.length > 0'>
                <p>Certificates:</p>
                <div class="" *ngFor="let cert of this.currentUser.certification">
                  <div class="" *ngIf="cert.CertificationName && cert.CertificationName.length > 0">
                    <div class="degree-box" *ngIf="cert.DateEarned && cert.DateEarned.length > 0">
                      <p>{{cert.CertificationName}} Certification</p>
                      <p>Earned {{cert.DateEarned}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="" *ngIf='this.currentUser.award'>
            <div class="" *ngIf='this.currentUser.award[0]'>
              <p>Awards:</p>
              <div class="" *ngFor="let award of this.currentUser.award" class="degree-box">
                <p *ngIf="award.length > 0">{{award }}</p>
              </div>
            </div>
          </div>
          <div class="" *ngIf='this.currentUser.clearance'>
            <div class="" *ngIf='this.currentUser.clearance[0]'>
              <div class="" *ngIf='this.currentUser.clearance[0].clearanceType.length > 0'>
                <p>Clearances:</p>
                <div class="" *ngFor="let clearance of this.currentUser.clearance">
                  <div class="" *ngIf="clearance.clearanceType.length > 0">
                    <div class="" *ngIf="clearance.awarded.length > 0">
                      <div class="degree-box" *ngIf="clearance.expiration.length > 0">
                        <p>{{clearance.clearanceType}} Clearance</p>
                        <p>Awarded {{clearance.awarded}}, expires {{clearance.expiration}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
          <p class="fs-28 fc-title">INTERESTS</p>
          <p class="fs-28 fc-subtitle">INTERESTED IN</p>
          <div class="text-container text-left" [style.height] = "'300px'">
            <p >{{ this.currentUser.interest }}</p>
          </div>
        </div>
      </div>

      <div class="capabilities col-xs-12 clear">
        <div class="div-title col-xs-12">
          <img src="./assets/img/profile/capabilities-1.png">
          <p>CAPABILITIES</p>
          <div ></div>
        </div>
        <div class="capa-main col-xs-12">
          <div class="col-xl-12 col-sm-6">
            <div class="capa-chart col-xs-12" *ngIf="this.promiseFinished && this.currentUser.occupations">
              <app-bent-bars-chart width='300' height='300' divID='bbChart{{this.currentUser.id}}' [values]='getCapaChartValues(this.occupations)'></app-bent-bars-chart>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 text-container">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <app-color-comment-box *ngFor='let feature of this.occupations' color='{{getCapaChartColor(feature.score)}}' text='{{feature.title}}' class="col-xs-12"></app-color-comment-box>
                <p *ngFor='let skill of this.currentUser.skill'>{{ skill }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="experience col-xs-12 clear" *ngIf='this.agencyExperience'>
        <div class="" *ngIf='this.agencyExperience[0]'>
          <div class="" *ngIf='this.agencyExperience[0].main.title'>
            <div class="div-title col-xs-12">
              <img src="./assets/img/profile/agency-3.png">
              <p>AGENCY EXPERIENCE</p>
              <div ></div>
            </div>
            <div class="col-xs-12">
              <div id="team_chart"  style="max-width: 75%; margin: 0 auto" [chart]="agencyChart"></div>
            </div>
          </div>
        </div>
      </div>


<div class="career col-xs-12 clear" *ngIf='this.currentUser.positionHistory'>
  <div class="div-title col-xs-12">
    <img src="./assets/img/profile/career.png">
    <p>CAREER</p>
    <div ></div>
  </div>
  <career [Data]="this.currentUser.positionHistory" [current]="currentYear()"></career>
</div>

<!--this does not work right now and i'm not sure why!-->
<div class="strength col-xs-12 clear" *ngIf="this.promiseFinished">
  <div class="div-title col-xs-12">
    <img src="./assets/img/profile/strength.png">
    <p>STRENGTH</p>
    <div ></div>
  </div>
  <canvas baseChart
  [datasets]="toolChartDatas"
  [labels]="toolChartLabels"
  [options]="{ scaleShowVerticalLines: true, responsive: true, scales: { yAxes: [{ticks: {beginAtZero: true }}]} }"
  [legend]="false"
  [chartType]="'bar'"></canvas>
</div>

<div class="availability col-xs-12 clear">
  <div class="div-title col-xs-12">
    <img src="./assets/img/profile/availability.png">
    <p>AVAILABILITY</p>
    <div ></div>
  </div>
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-container">
    <app-color-comment-box color='#7f7f7f' text='unavailable' class="col-xs-12 col-sm-6 col-md-6"></app-color-comment-box>
    <app-color-comment-box color='#0b6ec1' text='available' class="col-xs-12 col-sm-6 col-md-6"></app-color-comment-box>
  </div>
  <app-availablebar [values] = 'availabilityData.values' [dates] = 'availabilityData.dates' edit=false ></app-availablebar>
</div>
</div>
