<div class="container">
  <div class="btn-edit" (click) = 'editProfile()'>Edit</div>
  <div class="btn-back" (click) = 'this.location.back()'></div>
    <div class="basic-info col-xs-12">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0" [style.height] = "'150px'">
                <img class="avatar left" src="{{ this.currentUser.avatar }}" >
                <div class="right" [style.width] = "'calc(100% - 150px)'">
                    <p class="col-xs-12 mt15" [style.height] = "'60px'">{{ this.currentUser.positionhistory[0].PositionTitle }}</p>
                    <p class="col-xs-12 mb15" [style.height] = "'60px'">{{ this.currentUser.positionhistory[0].Employer}}</p>
                </div>
            </div>
            <div id="user-contact" class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0">
                <div><img src="../assets/img/glyphicon/email-1.png" class="left"><p class="left">{{ this.currentUser.username }}</p></div>
                <div><img src="../assets/img/glyphicon/phone-2.png" class="left"><p class="left">{{ this.currentUser.cell }}</p></div>
                <div><img src="../assets/img/glyphicon/post-1.png" class="left"><p class="left">{{ this.currentUser.address.city }}, {{ this.currentUser.address.state }}</p></div>
            </div>
            <div id="user-info" class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0">
                <div class="col-xs-12 col-md-6">
                    <p class="lh-30 left">Information<br>Updated</p>
                    <p class="lh-60 right">{{ this.currentUser.lastupdated}}</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <p class="lh-60 left">Information Accuracy</p>
                    <rating [(ngModel)]="this.currentUser.information_accuracy" [max]="5" class="lh-60 right"></rating>
                </div>
            </div>
        </div>
    </div>

<div class="certification col-xs-12">
    <div class="col-xs-12 col-md-6 text-center">
        <p class="fs-28 fc-title">CERTIFICATIONS, DEGREES</p>
        <p class="fs-28 fc-subtitle">AWARDS & CLEARANCES</p>
        <div class="text-container text-left" [style.height] = "'300px'">
            <p *ngFor="let cert of this.currentUser.Certification">{{ 'Degree: ' + cert.CertificationName + ',  Earned: ' + cert.DateEarned }}</p>
            <p *ngFor="let deg of this.currentUser.education">{{ 'Type: ' + deg.DegreeType[0].Name + ', Concentration: ' + deg.MajorProgramName[0] + ', From: ' + deg.School + ', Graduation: ' + deg.AttendanceEndDate }}</p>
            <p *ngFor="let index of this.currentUser.clearance">{{ 'Type: ' + index.type + ', Awarded: ' + index.awarded + ', Expiration: ' + index.expiration }}</p>
            <p *ngFor="let award of this.currentUser.award">{{ 'Awarded: ' + award }}</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 text-center">
        <p class="fs-28 fc-title">INTERESTS</p>
        <p class="fs-28 fc-subtitle">INTERESTED IN</p>
        <div class="text-container text-left" [style.height] = "'300px'">
            <p >{{ this.currentUser.interest }}</p>
        </div>
    </div>
</div>

<div class="capabilities col-xs-12 clear">
    <div class="div-title col-xs-12">
        <img src="./assets/img/profile/capabilities-1.png">
        <p>CAPABILITIES</p>
        <div ></div>
    </div>
    <div class="capa-main col-xs-12">
        <div class="col-xl-12 col-sm-6">
            <div class="capa-chart col-xs-12" *ngIf="this.promiseFinished">
                <app-bent-bars-chart width='300' height='300' divID='bbChart{{this.currentUser.id}}' [values]='getCapaChartValues(this.currentUser)'></app-bent-bars-chart>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <app-color-comment-box *ngFor='let feature of this.currentUser.capability' color='{{getCapaChartColor(feature.score)}}' text='{{feature.name}}' class="col-xs-12"></app-color-comment-box>
                </div>
                <div class="col-xs-12 col-md-6">
                    <p *ngFor='let skill of this.currentUser.skill'>{{ skill }} </p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="experience col-xs-12 clear">
    <div class="div-title col-xs-12">
        <img src="./assets/img/profile/agency-3.png">
        <p>AGENCY EXPERIENCE</p>
        <div ></div>
    </div>

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-container" *ngIf="this.promiseFinished">
        <app-color-comment-box *ngFor='let index of this.currentUser.agencyexperience.main.data' color='{{ expColors[index.title] }}' text='{{index.title}}' class="col-xs-12 col-sm-6 col-md-12"></app-color-comment-box>
    </div>

    <div class="exp-main col-xs-12" *ngIf="this.promiseFinished">
        <div class="app-exp-chart left">
            <p id="exp-main-title">{{this.currentUser.agencyexperience.main.title}}</p>
            <app-exp-chart width='500' height='500' divID='exp-main-chart' [values]='expMainValues(this.currentUser)'></app-exp-chart>
        </div>
        <div class="app-exp-chart right">
            <app-exp-chart id='sub1' width='250' height='250' divID='exp-sub1-chart' [values]='expSub1Values(this.currentUser)' class="right"></app-exp-chart>
            <p id="exp-sub1-title" class="left">Office 1</p>
        </div>
        <div class="app-exp-chart left">
            <app-exp-chart id='sub2' width='250' height='250' divID='exp-sub2-chart' [values]='expSub2Values(this.currentUser)' class="left"></app-exp-chart>
            <p id="exp-sub2-title" class="right">Office 2</p>
        </div>
    </div>
</div>

<div class="career col-xs-12 clear">
    <div class="div-title col-xs-12">
        <img src="./assets/img/profile/career.png">
        <p>CAREER</p>
        <div ></div>
    </div>
    <career [Data]="this.currentUser.positionhistory" [current]="currentYear()"></career>
</div>

  <!--this does not work right now and i'm not sure why!-->
<div class="strength col-xs-12 clear" *ngIf="this.promiseFinished">
    <div class="div-title col-xs-12">
        <img src="./assets/img/profile/strength.png">
        <p>STRENGTH</p>
        <div ></div>
    </div>
    <canvas baseChart
            [datasets]="strengthChartDatas"
            [labels]="strengthChartLabels"
            [options]="{ scaleShowVerticalLines: true, responsive: true, scales: { yAxes: [{ticks: {beginAtZero: true }}]} }"
            [legend]="true"
            [chartType]="'bar'"></canvas>

</div>

<div class="availability col-xs-12 clear">
    <div class="div-title col-xs-12">
        <img src="./assets/img/profile/availability.png">
        <p>AVAILABILITY</p>
        <div ></div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-container">
        <app-color-comment-box color='#7f7f7f' text='unavailable' class="col-xs-12 col-sm-6 col-md-6"></app-color-comment-box>
        <app-color-comment-box color='#0b6ec1' text='available' class="col-xs-12 col-sm-6 col-md-6"></app-color-comment-box>
    </div>
     <app-availablebar [values] = 'availabilityData.values' [dates] = 'availabilityData.dates'></app-availablebar>
</div>
</div>




