<div class="past-performance col-xs-12 clear">
    <div *ngIf="this.isUserAdmin" class="btn-edit" (click) = 'editPastPerformance()'>Edit</div>
    <div class="btn-back" (click) = 'this.location.back()'></div>
    <div class="div-title col-xs-12">
        <img src="./assets/img/performance.png">
        <p>PAST PERFORMANCE</p>
        <div></div>
    </div>
    <div class="col-xs-12 mt20">
        <div class="container">
            <div class="col-xs-12 col-md-6">
                <label class="col-xs-12 fs-30 fc-black t-upper text-center">{{ currentPastPerformance.title }}</label>
                <img class="" [style.width] = "'100%'" [style.border-radius] = "'5px'" [style.border] = "'2px solid #333'" src="{{ currentPastPerformance.avatar }}">
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="col-xs-12 div-info">
                    <img src="./assets/img/client.png" class="left">
                    <p style="white-space: nowrap" class="col-xs-6 text-left" [style.line-height]="'50px'">Client</p>
                    <p style="white-space: nowrap" class="col-xs-6 text-right" [style.line-height]="'50px'">{{ currentPastPerformance.client }}</p>
                </div>
                <div class="col-xs-12 div-info">
                    <img src="./assets/img/topic.png" class="left">
                    <p style="white-space: nowrap" class="col-xs-6 text-left" [style.line-height]="'50px'">Topic</p>
                    <p style="white-space: nowrap" class="col-xs-6 text-right" [style.line-height]="'50px'">{{ currentPastPerformance.topic }}</p>
                </div>
                <div class="col-xs-12 div-info">
                    <img src="./assets/img/profile/availability.png" class="left">
                    <p style="white-space: nowrap" class="col-xs-6 text-left" [style.line-height]="'50px'">Start date</p>
                    <p style="white-space: nowrap" class="col-xs-6 text-right" [style.line-height]="'50px'">{{ this.startDate }}</p>
                </div>
                <div class="col-xs-12 div-info">
                    <img src="./assets/img/profile/availability.png" class="left">
                    <p style="white-space: nowrap" class="col-xs-6 text-left" [style.line-height]="'50px'">End date</p>
                    <p style="white-space: nowrap" class="col-xs-6 text-right" [style.line-height]="'50px'">{{ this.endDate }}</p>
                </div>
                <div class="col-xs-12 div-info">
                    <img src="./assets/img/profile/clearances.png" class="left">
                    <p style="white-space: nowrap" class="col-xs-6 text-left" [style.line-height]="'50px'">Cleared</p>
                    <p style="white-space: nowrap" class="col-xs-6 text-right" [style.line-height]="'50px'">{{ currentPastPerformance.cleared? 'Yes'
                      : 'No' }}</p>
                </div>
                <div class="col-xs-12 div-info">
                    <img src="./assets/img/location.png" class="left">
                    <p style="white-space: nowrap" class="col-xs-6 text-left" [style.line-height]="'50px'">Location</p>
                    <p style="white-space: nowrap" class="col-xs-6 text-right" [style.line-height]="'50px'">{{ currentPastPerformance.location }}</p>
                </div>
                <div class="col-xs-12 div-info">
                    <img src="./assets/img/employee.png" class="left">
                    <p style="white-space: nowrap" class="col-xs-6 text-left" [style.line-height]="'50px'">FTE</p>
                    <p class="col-xs-6 text-right" [style.line-height]="'50px'">{{ currentPastPerformance.fte }}</p>
                </div>
                <div class="col-xs-12 div-info">
                    <img src="./assets/img/value.png" class="left">
                    <p style="white-space: nowrap" class="col-xs-6 text-left" [style.line-height]="'50px'">$ Val</p>
                    <p style="white-space: nowrap" class="col-xs-6 text-right" [style.line-height]="'50px'">{{ currentPastPerformance.value }}</p>
                </div>
                <div class="col-xs-12 div-info">
                    <img src="./assets/img/rating.png" class="left">
                    <p style="white-space: nowrap" class="col-xs-6 text-left" [style.line-height]="'50px'">Rating</p>
                    <p style="white-space: nowrap" class="col-xs-6 text-right" [style.line-height]="'50px'">{{ currentPastPerformance.rating }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="employee-big col-xs-12 clear">
    <div class="div-title col-xs-12">
        <img src="./assets/img/employee.png">
        <p>EMPLOYEES</p>
        <div></div>
    </div>
    <!-- <div>
        <div class="text-container col-xs-6 left" [style.height]="'250px'">
            <div class="col-xs-12" *ngFor='let index of currentPastPerformance.employees'>{{ '' + index.title +
              ((index.stillWith == true) ?' (Still with company)':'')}}</div>
        </div>
        <div class="col-xs-6 mt10 mb10" [style.overflow] = "'hidden'" [style.max-width] = "'100%'" [style.height]="'250px'" [style.border-radius]="'5px'"><img src="{{ currentPastPerformance.avatar }}" [style.height]="'250px'" [style.border-radius]="'5px'" [style.border] = "'2px solid #333'" [style.margin] = "'0 auto'"></div>
    </div> -->
    <div class="main clear" *ngIf="this.currentPastPerformance.userProfileProxies">
        <div class="col-xs-6 col-md-3 left" *ngFor='let index of this.currentPastPerformance.userProfileProxies'>
          <div *ngIf="index.user">
            <img src='{{index.user.avatar}}' class="left avatar" [style.width]="'150px'">
            <p style="white-space: nowrap" class="srow">{{ index.user.firstName + ' ' + index.user.lastName}}</p>
            <p style="white-space: nowrap" *ngIf="index.user.positionHistory[0]" class="srow">{{ index.user.positionHistory[0].PositionTitle }}</p>
            <p style="white-space: nowrap" class="srow">{{ index.user.username }}</p>
            <a href="#/user-profile/{{index._id}}">
              <button style="font-size: 14px;" class="col-xs-8 col-xs-offset-2">More Information</button>
            </a>
          </div>
        </div>
    </div>
  <div *ngIf="!this.currentPastPerformance.userProfileProxies" class="main clear"> No employees to show</div>
</div>

<div class="employee-small col-xs-12 clear">
  <div class="div-title col-xs-12">
    <img src="./assets/img/employee.png">
    <p>EMPLOYEES</p>
    <div></div>
  </div>
  <!-- <div>
      <div class="text-container col-xs-6 left" [style.height]="'250px'">
          <div class="col-xs-12" *ngFor='let index of currentPastPerformance.employees'>{{ '' + index.title +
            ((index.stillWith == true) ?' (Still with company)':'')}}</div>
      </div>
      <div class="col-xs-6 mt10 mb10" [style.overflow] = "'hidden'" [style.max-width] = "'100%'" [style.height]="'250px'" [style.border-radius]="'5px'"><img src="{{ currentPastPerformance.avatar }}" [style.height]="'250px'" [style.border-radius]="'5px'" [style.border] = "'2px solid #333'" [style.margin] = "'0 auto'"></div>
  </div> -->
  <div class="main clear"></div>
  <div style="display: flex; flex-wrap: wrap" *ngIf="this.currentPastPerformance.userProfileProxies">
    <div class="col-xs-6 col-md-3 left" *ngFor='let index of this.currentPastPerformance.userProfileProxies'>
      <div *ngIf="index.user">
        <img src='{{index.user.avatar}}' class="avatar">
        <p style="white-space: nowrap" class="srow">{{ index.user.firstName + ' ' + index.user.lastName}}</p>
        <p style="white-space: nowrap" *ngIf="index.user.positionHistory[0]" class="srow">{{ index.user.positionHistory[0].PositionTitle }}</p>
        <p style="white-space: nowrap" class="srow">{{ index.user.username }}</p>

      </div>
      <a href="#/user-profile/{{index._id}}">
        <button style="white-space: nowrap" style="height: 4em;">More Information</button>
      </a>
    </div>
  </div>
  <div *ngIf="!this.currentPastPerformance.userProfileProxies" class="main clear"> No employees to show</div>
</div>

<!--  -->

<div class="employee-small col-xs-12 clear">
  <div class="div-title col-xs-12">
    <img src="./assets/img/commercia.png">
    <p>COMPANIES</p>
    <div></div>
  </div>
  <!-- <div>
      <div class="text-container col-xs-6 left" [style.height]="'250px'">
          <div class="col-xs-12" *ngFor='let index of currentPastPerformance.employees'>{{ '' + index.title +
            ((index.stillWith == true) ?' (Still with company)':'')}}</div>
      </div>
      <div class="col-xs-6 mt10 mb10" [style.overflow] = "'hidden'" [style.max-width] = "'100%'" [style.height]="'250px'" [style.border-radius]="'5px'"><img src="{{ currentPastPerformance.avatar }}" [style.height]="'250px'" [style.border-radius]="'5px'" [style.border] = "'2px solid #333'" [style.margin] = "'0 auto'"></div>
  </div> -->
  <div class="main clear"></div>
  <div style="display: flex; flex-wrap: wrap" *ngIf="this.currentPastPerformance.companyProxies">
    <div class="col-xs-6 col-md-3 left" *ngFor='let index of this.currentPastPerformance.companyProxies'>
      <div *ngIf="index.company">
        <img src='{{index.company.avatar}}' class="avatar">
        <p style="white-space: nowrap" class="srow">{{index.company.name}}</p>
        <p style="white-space: nowrap" class="srow">{{index.company.city}}, {{index.company.state}}</p>
      </div>
      <a href="#/corporate-profile/{{index.company._id}}">
        <button style="white-space: nowrap" style="height: 4em;">More Information</button>
      </a>
    </div>
  </div>
  <div *ngIf="!this.currentPastPerformance.companyProxies" class="main clear"> No companies to show</div>
</div>

<div class="employee-big col-xs-12 clear">
    <div class="div-title col-xs-12">
        <img src="./assets/img/commercia.png">
        <p>COMPANIES</p>
        <div></div>
    </div>
    <!-- <div>
        <div class="text-container col-xs-6 left" [style.height]="'250px'">
            <div class="col-xs-12" *ngFor='let index of currentPastPerformance.employees'>{{ '' + index.title +
              ((index.stillWith == true) ?' (Still with company)':'')}}</div>
        </div>
        <div class="col-xs-6 mt10 mb10" [style.overflow] = "'hidden'" [style.max-width] = "'100%'" [style.height]="'250px'" [style.border-radius]="'5px'"><img src="{{ currentPastPerformance.avatar }}" [style.height]="'250px'" [style.border-radius]="'5px'" [style.border] = "'2px solid #333'" [style.margin] = "'0 auto'"></div>
    </div> -->
    <div class="main clear" *ngIf="this.currentPastPerformance.companyProxies">
        <div class="col-xs-6 col-md-3 left" *ngFor='let index of this.currentPastPerformance.companyProxies'>
          <div *ngIf="index.company">
            <img src='{{index.company.avatar}}' class="left avatar" [style.width]="'150px'">
            <p style="white-space: nowrap" class="srow">{{index.company.name}}</p>
            <p style="white-space: nowrap" class="srow">{{index.company.city}}, {{index.company.state}}</p>
            <a href="#/corporate-profile/{{index.company._id}}">
              <button style="font-size: 14px;" class="col-xs-8 col-xs-offset-2">More Information</button>
            </a>
          </div>
        </div>
    </div>
  <div *ngIf="!this.currentPastPerformance.companyProxies" class="main clear"> No companies to show</div>
</div>


<div class="write-up col-xs-12 clear">
    <div class="div-title col-xs-12">
        <img src="./assets/img/write-up.png">
        <p>WRITE UP</p>
        <div></div>
    </div>
    <div class="container">
        <div class="text-container col-xs-12" [style.height]="'200px'">
            <p class="col-xs-12 fs-16 lh-20">Synopisis</p>
            {{ currentPastPerformance.synopsis }}
        </div>
        <div class="text-container col-xs-6" [style.height]="'300px'">
            <p class="col-xs-12 fs-16 lh-20">Technical Challenge, approach and outcome</p>
            {{ currentPastPerformance.technical }}
        </div>
        <div class="text-container col-xs-6" [style.height]="'300px'">
            <p class="col-xs-12 fs-16 lh-20">Management Challenge, approach and outcome</p>
            {{ currentPastPerformance.management }}
        </div>
        <div class="text-container col-xs-12" [style.height]="'200px'">
            <p class="col-xs-12 fs-16 lh-20">Other</p>
            {{ currentPastPerformance.other }}
        </div>
    </div>
</div>
