<div class="container mt100">
  <!-- <p>If you are seeing this button something has gone wrong. Please do not click it.</p>
  <button type="button" name="button" class="col-xs-12" (click)="sort()">Sort From {{this.sortCounter}}</button>
  <button type="button" name="button" class="col-xs-12" (click)="uploadSortedObjects()">Upload From {{this.uploadCounter}}</button> -->

  <div class="col-xs-12 text-container" *ngFor='let user of users' (click) = "goTo(user._id)">
    <div class="col-xs-2">
      <img class="avatar" src='{{user.avatar}}'>
    </div>
    <div class="col-xs-10">
      <div class="fs-30 lh-40" >{{user.firstName}} {{user.lastName}}</div>
      <div class="fs-30 lh-40" >{{user.username}}</div>
    </div>
  </div>

</div>
