<div class="container" *ngIf='!this.promiseFinished'>
  <div class="loader"></div>
  <!-- <p class="loading">Loading</p> -->
</div>
<div class="container" *ngIf='this.promiseFinished'>
  <div class="col-xs-7 search-results-box">
    <h3 style="text-align: center">Results</h3>
    <div class="search-results-interior">
      <div class="search-results-interior-2">
        <div class="" *ngIf='this.searchRunning'>
          <div class="loader"></div>
        </div>
        <div class="" *ngIf='!this.searchRunning'>
          <div class="" *ngIf='this.noResults'>
            <h1 style="text-align: center">No Results Found</h1>
          </div>
          <div class="" *ngIf='searchResults.companies.length > 0'>
            <div class="" *ngIf='searchResults.people.length > 0 || searchResults.pastPerformances.length > 0'>
              <h3>Companies</h3>
            </div>
            <div class="search-item" *ngFor='let c of searchResults.companies'>
              <div class="" style="position: relative">
                <img src="{{c.avatar}}" alt="" class="search-item-avatar">
              </div>
              <div class="search-item-header">{{c.name}}</div>
              <div class="search-item-subheader">A company with {{c.userProfileProxies.length}} employees</div>
            </div>
          </div>
          <div class="" *ngIf='searchResults.people.length > 0'>
            <div class="" *ngIf='searchResults.companies.length > 0 || searchResults.pastPerformances.length > 0'>
              <h3>People</h3>
            </div>
            <div class="search-item" *ngFor='let p of searchResults.people' (click)='goTo("person", p._id)'>
              <img src="{{p.avatar}}" alt="" class="search-item-avatar">
              <div class="search-item-header">{{p.firstName}} {{p.lastName}}</div>
              <div class="search-item-subheader" *ngIf='p.relevantAgencies.length > 0'>Experience with {{p.relevantAgencies[0]}}</div>
              <div class="search-item-subheader" *ngIf='p.relevantSkills.length > 0'>Skilled at {{p.relevantSkills[0]}}</div>
              <div class="search-item-subheader" *ngIf='p.relevantPositions.length > 0'>Rated {{p.relevantPositions[0].score}} as {{p.relevantPositions[0].title}}</div>
              <div class="search-item-subheader" *ngIf='p.currentCompany'>Works at {{p.currentCompany}}</div>
              <div class="search-item-subheader" *ngIf='!p.currentCompany'>Freelancer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4 col-xs-offset-1 search-terms-box">
    <h3 style="text-align: center">Search Terms</h3>
    <div class="col-xs-12" style="width: 100%; text-align: right">
      <div class="col-xs-12">
        <p class="col-xs-7" style="margin: 0 auto" >Company</p>
        <div class="col-xs-5">
          <input type="checkbox" name="" value="" style="margin: 0 auto" class="col-xs-12" [(ngModel)]='searchTerms.company'>
        </div>
      </div>
      <div class="col-xs-12">
        <p class="col-xs-7">Person</p>
        <div class="col-xs-5">
          <input type="checkbox" name="" value="" style="margin: 0 auto" class="col-xs-12" [(ngModel)]='searchTerms.person'>
        </div>
      </div>
      <div class="col-xs-12">
        <p class="col-xs-7">Past Performance</p>
        <div class="col-xs-5">
          <input type="checkbox" name="" value="" style="margin: 0 auto" class="col-xs-12" [(ngModel)]='searchTerms.pastPerformance'>
        </div>
      </div>
    </div>
    <div class="col-xs-12" style="margin-bottom: 5px">
      <p style="text-align: center" >Name (Company)</p>
      <p style="text-align: center" >Find a specific company you know the name of</p>
      <input type="text" name="test" value="" class="col-xs-12"  [(ngModel)]='searchTerms.name'>
    </div>
    <div class="col-xs-12" style="margin-bottom: 5px">
      <p style="text-align: center" >Agency</p>
      <p style="text-align: center" >Find people with experience at an agency/agencies</p>
      <input type="text" name="test" value="" class="col-xs-12"  [(ngModel)]='searchTerms.agency'>
    </div>
    <div class="col-xs-12" style="margin-bottom: 5px">
      <p style="text-align: center" >Skill</p>
      <p style="text-align: center" >Find people with experience in a certain skills</p>
      <input type="text" name="test" value="" class="col-xs-12"  [(ngModel)]='searchTerms.skill'>
    </div>
    <div class="col-xs-12" style="margin-bottom: 5px">
      <p style="text-align: center" >Position</p>
      <p style="text-align: center" >Find people highly rated for a specific position</p>
      <input type="text" name="test" value="" class="col-xs-12" [(ngModel)]='searchTerms.position'>
    </div>
    <button type="button" name="button" class="col-xs-8 col-xs-offset-2 search-ready" (click)='search()' *ngIf='searchReady()'>Search</button>
    <button type="button" name="button" class="col-xs-8 col-xs-offset-2 search-nope" *ngIf='!searchReady()'>Search</button>
  </div>
</div>
