.main {
    min-width: 300px;
    min-height: 300px;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: calc(50vh - 150px);
}

.new-profile-alert {
  background: rgba(250, 250, 250, 1);
  border: 1px solid rgba(0,100,200, 0.5);
  box-shadow: 5px 5px 5px #888888;
  padding: 4px;
  padding-bottom: 2vh;
  text-align: center;
  margin-bottom: 2vh;
}

.sidebar {
  background: rgba(250, 250, 250, 1);
  border: 1px solid rgba(0,100,200, 0.5);
  box-shadow: 5px 5px 5px #888888;
  padding: 4px;
  text-align: center;
  height: 33%;
  min-height: 300px;
}


.input-group {
    margin-top: 10px;
}


.tab {
  background: rgba(155, 155, 155, 0.6);
  border: 1px solid rgba(0,100,200, 0.5);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: rgba(50, 50, 50, 0.5);
  margin-bottom: -9px;
  padding-bottom: 7px;
  padding-top: 1px;
  cursor: pointer;
}

.tab:hover {
  background: rgba(200, 200, 200, 0.6);
  color: rgba(50, 50, 50, 0.75);
  border: 1px solid rgba(0,100,200, 0.75);
}
.tab-active {
  background: rgba(255, 255, 255, 0.6);
  color: rgba(50, 50, 50, 1);
  border: 1px solid rgba(0,100,200, 0.75);
}
.tab-active:hover {
  background: rgba(255, 255, 255, 0.6);
  color: rgba(50, 50, 50, 1);
  border: 1px solid rgba(0,100,200, 0.75);
}


button {
    margin-top: 10px;
}

.input-group input {
    margin-top: 0px;
}
