<div class="main" style="margin-top: 25px;">
  <div style="text-align: center">
    <h2>Federal Foundry</h2>
    <h1>Forge</h1>
  </div>
  <div class="alert alert-danger" [class.hidden] = '!this.authError'>
    <strong>Warning!</strong> Please input valid email and password.
  </div>
  <div class="" style="margin-top: 20px">
    <div class="col-xs-12 col-md-4" style="margin-bottom: 20px" *ngIf='!signedIn'>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="text" type="text" class="form-control" placeholder="Email" [(ngModel)]='email' (keyup.enter)="logIn()">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" class="form-control" placeholder="Password" [(ngModel)]='password' (keyup.enter)="logIn()">
      </div>
      <button class="btn btn-primary col-sm-12" (click) = 'logIn()'>Log In</button>
    </div>
    <div class="col-xs-12 col-md-4" style="margin-bottom: 20px" *ngIf='signedIn' style="text-align: center">
      You're already logged in.
      <a href="user-profile/{{this.currentUser}}"><button class="btn btn-primary col-sm-12">Go To Your Profile</button></a>
      <!-- <button class="btn btn-primary col-sm-12" style="background: rgb(213, 36, 36); border: 1px solid rgba(0,0,0,0.25)" (click)='navLogOut()'>Log Out</button> -->
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="new-profile-alert col-xs-12" *ngIf='this.new'>
        <h3>Registration complete.</h3>
        <p>Please log in to complete your profile creation.</p>
      </div>
      <div class="col-xs-12" style="margin-left: -15px">
        <div class="col-md-4 col-sm-5 col-xs-6 tab" (click)='switchTab(0)' [ngClass]="{'tab-active': activeTab == 0}">
          Welcome
        </div>
        <div class="col-md-4 col-sm-5 col-xs-6 tab" (click)='switchTab(1)' [ngClass]="{'tab-active': activeTab == 1}">
          Known Issues
        </div>
      </div>
      <div class="sidebar col-xs-12">
        <div class="" *ngIf='activeTab == 0'>
          <h4>Welcome to the Federal Foundry Forge.</h4>
          <p>This site is in beta. You'll probably run into some issues along the way.</p><br>
          <p>If you do, we'd appreciate it if you used the <strong>Report a Bug</strong> button in the upper right to send us a note.</p><br>
          <p>If you don't already have an account, click the <strong>Sign Up</strong> button in the upper right to register.</p>
          <p>Then you can begin creating and joining companies, past performances, and more.</p><br>
          <p>Thank you for being a part of the Forge project. Stay tuned - it'll only get bigger and better.</p><br>
        </div>
        <div class="" *ngIf='activeTab == 1'>
          <h4>Known Issues</h4>
          <ul>
            <li>There's an authorization bug that can prevent users from saving changes to their profile or accessing their mailbox. If you encounter this, try logging out and back in.</li>
            <li>Some pages may not scale properly for smaller or more zoomed in browser windows. If page elements are overlapping, try zooming out until everything is visible.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
