<div class="main" style="margin-top: 25px;">
  <div class="new-profile-alert" *ngIf='this.new'>
    <h3>Registration complete.</h3>
    <p>Please log in to complete your profile creation.</p>
  </div>
  <div style="text-align: center">
    <h2>Federal Foundry</h2>
    <h1>Forge</h1>
  </div>
  <div class="alert alert-danger" [class.hidden] = '!this.authError'>
    <strong>Warning!</strong> Please input valid email and password.
  </div>
  <div class="" style="margin-top: 20px">
    <div class="col-xs-12 col-md-4">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="text" type="text" class="form-control" placeholder="Email" [(ngModel)]='email'>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" class="form-control" placeholder="Password" [(ngModel)]='password'>
      </div>
      <button class="btn btn-primary col-sm-12" (click) = 'logIn()'>Log In</button>

    </div>
    <div class="col-xs-12 col-md-8">
      <div class="col-xs-12" style="margin-left: -15px">
        <div class="col-md-3 col-xs-6 tab" (click)='switchTab(0)' [ngClass]="{'tab-active': activeTab == 0}">
          Welcome
        </div>
        <div class="col-md-3 col-xs-6 tab" (click)='switchTab(1)' [ngClass]="{'tab-active': activeTab == 1}">
          Known Issues
        </div>
      </div>
      <div class="sidebar col-xs-12">
        <div class="" *ngIf='activeTab == 0'>
          <h4>Welcome to the Federal Foundry Forge.</h4>
          <p>This site is in beta and unfinished. You'll probably run into some issues along the way.</p><br>
          <p>If you do, we'd appreciate it if you used the <strong>Report a Bug</strong> button in the upper right to send us a note.</p><br>
          <p>If you don't already have an account, click the <strong>Sign Up</strong> button in the upper right to register.</p>
          <p>Then you can begin creating and joining companies, past performances, and more.</p><br>
          <p>The UI is still early - over the coming weeks, the whole site will be redesigned to improve the styling and make it mobile-friendly.</p><br>
          <p>Thank you for being a part of the Forge project. Stay tuned - it'll only get bigger and better.</p><br>
        </div>
        <div class="" *ngIf='activeTab == 1'>
          <h4>Known Issues</h4>
          <li>Autocomplete dropdowns are misaligned</li>
          <li>Text overlaps in various places on small screens/mobile</li>
          <li>Tool scoring sometimes lets you assign more points than you have available</li>
          <li>Lots of input fields for things like dates will accept any string, rather than just a date</li>
          <li>more things i'll fill this out more later</li>
        </div>
      </div>
    </div>
  </div>
</div>
