<!-- Nav Bar Here -->
<div *ngIf="this.signedIn">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EF</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="search">Search</a></li>
        <li><a href="user-profile/{{this.currentUser}}">Profile</a></li>
        <li class="dropdown ">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Companies <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let company of this.myCompanies"><a href="corporate-profile/{{company.id}}">{{company.name}}</a></li>
            <li><a href="corporate-profile-create">Create New Company</a></li>
          </ul>
        </li>
        <li class="dropdown ">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Past Performances <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let pp of this.myPastPerformances"><a href="past-performance/{{pp.id}}">{{pp.name}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown when-big" *ngIf="this.companies.length > 0">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Company Mail [{{this.companyUnreadCount}}]<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let company of this.companies"><a href="corporate-profile/{{company.id}}/mailbox">{{company.name}} [{{company.count}}]</a></li>
          </ul>
        </li>
        <li *ngIf='this.bugCount>0'><a href="mailbox">
          <div class="">
            Bug Reports [{{this.bugCount}}]
          </div>
        </a></li>
        <li><a href="mailbox">
          <div class="">
            Mail [{{this.unreadCount}}]
          </div>
        </a></li>
        <li><a href="bugreport">Report a Bug</a></li>
        <li><a href="login" (click) = "this.navLogOut()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>

<div *ngIf="!this.signedIn">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EF</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="user-profile-create"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>

<router-outlet></router-outlet>
