a.navbar-brand {
  color: rgba(253,253,255,1);
  background-color: #f0a716;
}

.navbar {
  /*background: rgba(0, 25, 125, .67);*/
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid rgba(255,255,255,0.25);
  margin-bottom: 1vh;
  /*color: rgba(255,255,255,0.9);
  font-size: 14px;*/
}
.shrunk {
  display: none;
}

@media screen and (max-width: 1050px) {
  .when-big {
    display: none;
  }
  .shrunk {
    display: block;
  }
}
