<div class="container" *ngIf='!this.promiseFinished'>
  <div class="loader"></div>
  <!-- <p class="loading">Loading</p> -->
</div>
<div class="container" *ngIf='this.promiseFinished'>
  <div class="page">
    <!-- NEW PAGE -->
  <div class="col-xs-2" style="margin: 0px; padding: 0px;">
    <div class="edit-tab-bar">
      <div class="edit-tab" [ngClass]="{'edit-tab-incomplete': !this.checkFields(0)}">
        <div class="edit-tab" (click)='switchTab(0)' [ngClass]="{'edit-tab-top-active': this.activeTab.main == 0}">
          Basic Info
        </div>
      </div>
      <div class="" [ngClass]="{'edit-tab-inactive': this.creatingNew}">
        <div class="edit-tab">
          <div class="edit-tab" (click)='switchTab(1)' [ngClass]="{'edit-tab-active': this.activeTab.main == 1}">
            Employees
          </div>
        </div>
        <div class="edit-tab" [ngClass]="{'edit-tab-incomplete': !this.creatingNew && !this.checkFields(2)}">
          <div class="edit-tab-bottom" (click)='switchTab(2)' [ngClass]="{'edit-tab-bottom-active': this.activeTab.main == 2}">
            Products
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-10 edit-panel">
    <div class="profile" style="" *ngIf='activeTab.main == 0'>
      <div class="" style="position: relative; height: 360px; width: 180px;">
        <div class="" style="height: 180px; width: 180px; position: relative; float: left;">
          <div class="left avatar">
            <img src='{{ this.currentAccount.avatar }}' class="avatar-img">
          </div>
          <div class="" style="position: absolute; top: 180px">
            <div *ngIf="!this.currentAccount.avatar || this.currentAccount.avatar.startsWith('..')" class="left">
              <input type="file" #fileInput accept=".jpg,.png" style="width:90%; margin-left: 5%"/>
              <button class="btn btn-primary" style="width: 90%; margin-left: 5%;" (click)="uploadPhoto()">Upload Avatar</button>
            </div>
            <div *ngIf="this.currentAccount.avatar && !this.currentAccount.avatar.startsWith('..')" class="left">
              <input type="file" #fileInput accept=".jpg,.png" style="width:90%; margin-left: 5%"/>
              <button class="btn btn-primary" style="width: 90%; margin-left: 5%;" (click)="editPhoto()">Edit Avatar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="" style="position: absolute; height: 35vh; width: calc(100% - 180px); top: 2vh; right: 0px; float: left; background: none;">
        <div class="" style="position: absolute; float: left; top: 0px; left: 0px; width: 100%; height: 42px; padding: 2vh 2vw 2vh 2vw;">
          <div class="left" style="width: 105px; line-height: 42px; float: left; padding-top: 4px;">
            <p class="">Company Name</p>
          </div>
          <div class="" style="width: calc(100% - 105px); float: left;">
            <input class="" style="width: 100%;" type="text" placeholder="The company's name" [(ngModel)] = 'this.currentAccount.name' [ngClass]="{'empty-field': !this.currentAccount.name}">
          </div>
        </div>
        <div class="" style="position: absolute; float: left; top: calc(2vh + 42px); left: 0px; width: 55%; height: 202px; margin-top: 8px; padding: 0vh 2vw 2vh 2vw; border-right: 2px solid rgba(0,0,0,0.5);">
          <div class="" style="margin-top: -8px">
            <div class="left" style="width: 105px; line-height: 42px; float: left; padding-top: 4px;">
              <p class="">Email</p>
              <p class="">Contact</p>
            </div>
            <div class="" style="width: calc(100% - 105px); float: left;">
              <input class="" style="width: 100%;" type="text" placeholder="The company's email address" [(ngModel)] = 'this.currentAccount.email' [ngClass]="{'empty-field': !this.currentAccount.email}">
              <input class="" style="width: 100%;" type="tel" maxlength="14" placeholder="The company's phone number" [(ngModel)] = 'this.currentAccount.contactNumber' (ngModelChange)="onPhoneChange(this.currentAccount.contactNumber)" (keydown.backspace)='onPhoneChange(this.currentAccount.contactNumber, true)' [ngClass]="{'empty-field': !this.currentAccount.contactNumber || this.currentAccount.contactNumber.length < 14}">
            </div>
            <div class="" style="position: absolute; float: left; bottom: 5px; right: calc(2vw - 6px); height: 42px; width: 100%;">
              <p class="left" style="width: calc(100% - 60px); line-height: 42px; float: left; padding-top: 6px; text-align: right;">Make your company public?</p>
              <input type="checkbox" style="width: 42px; height: 42px; float: left" class="" [(ngModel)] = 'this.currentAccount.public'>
            </div>
          </div>
        </div>
        <div class="" style="position: absolute; float: left; top: 42px; right: 0px; width: 45%; height: 30vh; padding: 2vh 2vw 2vh 2vw;">
          <div class="left" style="width: 60px; line-height: 42px; float: left; padding-top: 4px;">
            <p class="">Address</p>
            <p class="">City</p>
            <p class="">State</p>
            <p class="">Zip</p>
          </div>
          <div class="" style="width: calc(100% - 60px); float: left;">
            <input class="" style="width: 100%;" type="text" [(ngModel)] = 'this.currentAccount.address' [ngClass]="{'empty-field': !this.currentAccount.address}">
            <input class="" style="width: 100%;" type="text"  [(ngModel)] = 'this.currentAccount.city' [ngClass]="{'empty-field': this.currentAccount.city.length < 1}">
            <input class="" style="width: 100%;" type="text"  [(ngModel)] = 'this.currentAccount.state' [ngClass]="{'empty-field': !this.currentAccount.state}">
            <input class="" style="width: 100%;" type="number" max="99999" maxlength="5" [(ngModel)] = 'this.currentAccount.zip' [ngClass]="{'empty-field': !this.currentAccount.zip}">
          </div>
        </div>
      </div>
      <div class="" style="position: absolute; width: 45vw; height: 20vh; bottom: 4.5vh; left: 1vw;">
        <div class="" *ngIf='this.creatingNew'>
          <p>Your new company will be initialized with you as an admin.</p>
          <p>After its creation, you can go back in to editing to add more employees or products.</p>
        </div>
      </div>
    </div>
    <div class="sub-box" *ngIf='activeTab.main == 1' style="position: relative;">
      <div class="div-title" style="margin-top: 2vh; margin-bottom: 1vh;">
        <p>Employees</p>
      </div>
      <div id='employee-search' class="employee-search-bar" style="position: relative; width: 100%; height: 42px; margin-bottom: 8px;">
        <input type="text" name="test" value="" style="width: calc(100% - 153px); margin-bottom: 1px;" [(ngModel)]='searchTerms.name' (keyup.enter)="search()">
        <button class="edit-button" type="button" name="button" style="width: 150px; height: 37px;" (click)='search()'>Search</button>
        <div id='employee-dropdown' class="search-results-interior" style="padding-top: 0px;" *ngIf='this.searchOpen'>
          <div class="search-results-interior-2" style="padding-top: 0px">
            <div class="" *ngIf='this.searchRunning'>
              <div class="loader"></div>
            </div>
            <div class="" *ngIf='!this.searchRunning'>
              <div class="" *ngIf='this.noResults'>
                <h4 style="text-align: center">No Results Found</h4>
              </div>
              <div class="" *ngIf='searchResults.people.length > 0'>
                <div class="" *ngFor='let p of searchResults.people; let i = index'>
                  <div class="search-item" (click)='addEmployee(p._id, i)'>
                    <div class="search-item-not-expand col-xs-12">
                      <div class="search-item-header">{{p.firstName}} {{p.lastName}}</div>
                      <div class="search-item-subheader">{{p.username}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scrollbar" style="width: 100%; height: calc(43vh - 50px); background: rgba(255,255,255,0.99); border: 1px solid rgba(0,0,0,0.5); overflow-y: auto;">
        <div class="col-xs-12 employee-item" *ngFor='let employee of this.userProfiles' style="padding-right: 0px">
          <div (click)='deleteEmployee(employee.proxyId, employee.role)'>
            <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
          </div>
          <div class="col-xs-8" style="width: 60%; margin-right: -5px">
            <div class="col-xs-6" style="margin-top: 15px">
              <div class="col-xs-12">{{employee.name}}</div>
              <div class="col-xs-12" style="margin-top: 20px">{{employee.username}}</div>
            </div>
            <div class="col-xs-5">
              <input style="width: 110%; min-width: 150px" type="date" [(ngModel)]="employee.startDate" (blur)="(this.type='text'); updateEmployeeDate(employee, employee.proxyId,'startDate',employee.startDate)" (focus)="this.lastStartDate = employee.startDate" [ngClass]="{'empty-field': !employee.startDate}">
              <input style="width: 110%; min-width: 150px" type="date" [(ngModel)]="employee.endDate" (blur)="updateEmployeeDate(employee, employee.proxyId,'endDate',employee.endDate)" (focus)="this.lastEndDate = employee.endDate" *ngIf='!employee.stillAffiliated' [ngClass]="{'empty-field': (!employee.stillAffiliated && !employee.endDate)}">
            </div>
          </div>
          <div class="col-xs-4" style="margin-top: 15px; width: 40%; margin-left: -15px">
            <div style="width: 70%">
              <div class="col-xs-12">
                <div class="col-xs-9">
                  Leader?
                </div>
                <input class="col-xs-3" type="checkbox" (change)="updateEmployee(employee.proxyId,'leader',employee.leader)" [(ngModel)]="employee.leader" />
              </div>
              <div class="col-xs-12">
                <div class="col-xs-9">
                  Still Affiliated?
                </div>
                <input class="col-xs-3" type="checkbox" (change)="updateEmployee(employee.proxyId,'stillAffiliated',employee.stillAffiliated)" [(ngModel)]="employee.stillAffiliated" />
              </div>
            </div>
            <button style="width: 30%; height: 55px"*ngIf="this.isUserAdmin && employee.role != this.adminRoleId" class="btn btn-primary" (click)="updateEmployee(employee.proxyId, 'role', this.adminRoleId)" type="button" value="Make Admin" name="button">Make<br>Admin</button>
            <button style="width: 30%; height: 55px; background: rgb(201, 50, 50); border: 1px solid rgba(0, 0, 0, 0.1)"*ngIf="this.isUserAdmin && employee.role == this.adminRoleId && employee.userId != this.currentAccount._id" class="btn btn-primary" (click)="updateEmployee(employee.proxyId, 'role', this.currentAccount._id)" type="button" value="Remove Admin" name="button">Remove<br>Admin</button>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-box" style="" *ngIf='activeTab.main == 2'>
      <div class="div-title" style="margin-top: .5vh; margin-bottom: 0vh;">
        <p>Products</p>
      </div>
      <div class="product-tab-bar col-xs-10 col-xs-offset-1">
        <div class="product-tab col-xs-3" (click)='activeTab.product = activeTab.product-1' *ngIf='activeTab.product>0 && this.products[this.activeTab.product-1]'>
          <div (click)='deleteProduct(this.activeTab.product-1)' style="position: absolute; z-index: 4">
            <div class="">
              <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
            </div>
          </div>
          {{this.products[this.activeTab.product-1].name}}
        </div>
        <div class="product-tab product-tab-active col-xs-6 col-xs-offset-3" *ngIf='activeTab.product<=0 && this.products[this.activeTab.product]'>
          <div (click)='deleteProduct(this.activeTab.product)' style="position: absolute; z-index: 4">
            <div class="">
              <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
            </div>
          </div>
          {{this.products[this.activeTab.product].name}}
        </div>
        <div class="product-tab product-tab-active col-xs-6" *ngIf='activeTab.product>0 && this.products[this.activeTab.product]'>
          <div (click)='deleteProduct(this.activeTab.product)' style="position: absolute; z-index: 4">
            <div class="">
              <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
            </div>
          </div>
          {{this.products[this.activeTab.product].name}}
        </div>
        <div class="product-tab col-xs-3" (click)='activeTab.product = activeTab.product+1' *ngIf='this.products[activeTab.product+1]'>
          <div (click)='deleteProduct(this.activeTab.product+1)' style="position: absolute; z-index: 4">
            <div class="">
              <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
            </div>
          </div>
          {{this.products[this.activeTab.product+1].name}}
        </div>
      </div>
      <div class="scrollbar" style="position: relative; width: 100%; height: calc(45.5vh - 40px); background: rgba(255,255,255,0.99); border: 1px solid rgba(0,0,0,0.5); overflow-y: auto;">
        <div class="col-xs-12">
          <div *ngFor='let product of this.products; let prodIndex = index' class="">
            <div class="" *ngIf='prodIndex == this.activeTab.product'>
              <div class="" style="position: relative; float: left; top: 2px; left: 0px; width: 45%; height: 76px; margin-top: 8px; padding: 0vh 2vw 2vh 2vw; border-right: 2px solid rgba(0,0,0,0.5);">
                <div class="" style="margin-top: -8px">
                  <div class="left" style="width: 60px; line-height: 42px; float: left; padding-top: 4px;">
                    <p class="">Name</p>
                  </div>
                  <div class="" style="width: calc(100% - 60px); float: left;">
                    <input class="" style="width: 100%;" type="text" placeholder="Product name." [(ngModel)]='product.name' [ngClass]="{'empty-field': !product.name}">
                  </div>
                </div>
              </div>
              <div class="" style="position: relative; float: left; top: 2px; right: 0px; width: 55%; height: 76px; padding: 0vh 2vw 2vh 2vw;">
                <div class="left" style="width: 85px; line-height: 42px; float: left; padding-top: 4px;">
                  <p class="">More Info</p>
                  <p class="">Video Demo</p>
                </div>
                <div class="" style="width: calc(100% - 85px); float: left;">
                  <input class="" style="width: 100%;" type="text" placeholder="URL to show more info." [(ngModel)]="product.moreInfoLink">
                  <input class="" style="width: 100%;" type="text" placeholder="URL to Video demo." [(ngModel)]="product.viewDemoLink">
                </div>
              </div>

              <div class="col-xs-12" style="">
                <div class="" style="width: 49%; float: left; margin-right: 1%;">
                  <p class="" style="width: 100%;">Product Description</p>
                  <textarea class="" style="height: 100px; width: 100%; border: 1px solid rgba(0,0,0,0.25)" [(ngModel)]='product.description'></textarea>
                </div>
                <div class="" style="width: 49%; float: left; margin-left: 1%;">
                  <p class="" style="width: 100%;">Agencies using it today</p>
                  <div class="col-xs-4 customer-tab" (click)='changeCustomerTab(prodIndex, product, 0)' [ngClass]="{'customer-tab-active': productTabs[prodIndex] == 0}">
                    Defense
                  </div>
                  <div class="col-xs-4 customer-tab"  (click)='changeCustomerTab(prodIndex, product, 1)' [ngClass]="{'customer-tab-active': productTabs[prodIndex] == 1}">
                    Commercial
                  </div>
                  <div class="col-xs-4 customer-tab"  (click)='changeCustomerTab(prodIndex, product, 2)' [ngClass]="{'customer-tab-active': productTabs[prodIndex] == 2}">
                    Civilian
                  </div>
                  <div class="product-customers scrollbar" style="">
                    <div class="" *ngIf='this.productTabs[prodIndex] == 0'>
                      <div class="col-xs-12" *ngFor='let customer of product.customers.defense; let i = index' style="color: black">
                        <input ngui-auto-complete class="col-xs-12" placeholder="Defense Customer" [(ngModel)] = 'customer.name' [source]='this.allAgencies' [list-formatter]="agencyListFormatter" display-property-name='agency' select-value-of='agency' auto-select-first-item='true' [ngClass]="{'empty-field': agencyValidCheck(customer.name) == false}">
                        <button class="tiny-button-skills" (click)="deleteCustomerDefense(product, i)"><div class="tiny-button-text">x</div></button>
                      </div>
                      <button type="button"class="col-xs-4 col-xs-offset-4" name="button" (click)='addCustomerDefense(product)' style="margin-top: 5px">Add Another</button>
                    </div>
                    <div class="" *ngIf='this.productTabs[prodIndex] == 1'>
                      <div class="col-xs-12" *ngFor='let customer of product.customers.commercial' style="color: black">
                        <input class="col-xs-12" placeholder="Commercial Customer" [(ngModel)]='customer.name' [ngClass]="{'empty-field': !customer.name}">
                        <button class="tiny-button-skills" (click)="deleteCustomerCommercial(product, i)"><div class="tiny-button-text">x</div></button>
                      </div>
                      <button type="button"class="col-xs-4 col-xs-offset-4" name="button" (click)='addCustomerCommercial(product)' style="margin-top: 5px">Add Another</button>
                    </div>
                    <div class="" *ngIf='this.productTabs[prodIndex] == 2'>
                      <div class="col-xs-12" *ngFor='let customer of product.customers.civilian' style="color: black">
                        <input class="col-xs-12" placeholder="Civilian Customer" [(ngModel)]='customer.name' [ngClass]="{'empty-field': !customer.name}">
                        <button class="tiny-button-skills" (click)="deleteCustomerCivilian(product, i)"><div class="tiny-button-text">x</div></button>
                      </div>
                      <button type="button"class="col-xs-4 col-xs-offset-4" name="button" (click)='addCustomerCivilian(product)' style="margin-top: 5px">Add Another</button>
                    </div>
                  </div>                </div>

                <div class="col-xs-12 col-sm-6">


                </div>
              </div>
              <div class="col-xs-12 mt30">
                <div class="col-xs-12 col-md-4">
                  <p class="left">Will you customize the product?</p>
                  <input class="right" type="checkbox" [(ngModel)]="product.customization" />
                </div>
                <div class="col-xs-12 col-md-4">
                  <p class="left">Do you provide training?</p>
                  <input class="right" type="checkbox" [(ngModel)]="product.training" />
                </div>
                <div class="col-xs-12 col-md-4">
                  <p class="left">Do you provide maintenance?</p>
                  <input class="right" type="checkbox" [(ngModel)]="product.maintenance" />
                </div>
              </div>
              <div class="col-xs-12">
                <p>Features:</p>
                <p *ngIf='product.feature.length > 0'>Describe your feature and assign it a score</p>
                <p *ngIf='product.feature.length > 0'>(more in-depth feature scoring will come in a future update)</p>
                <div class="col-xs-12" *ngFor='let feature of product.feature; let i = index' style="background: rgba(255,255,255,0.2); border: 1px solid rgba(0,0,0,0.1); margin-top: 1px; margin-bottom: 1px">
                  <div class="col-xs-12" style="margin-bottom: -5px; margin-top: -5px;">
                    <div class="col-xs-12 col-sm-7 srow info-input">
                      <p class="left col-xs-2">Title</p>
                      <input class="right col-xs-10" [(ngModel)]='feature.name' [ngClass]="{'empty-field': !feature.name}">
                    </div>
                    <div class="col-xs-12 col-sm-5 srow info-input">
                      <p class="left col-xs-2">Score</p>
                      <input class="right col-xs-10" [(ngModel)]='feature.score' [ngClass]="{'empty-field': !feature.score}">
                    </div>
                    <button class="tiny-button-skills" (click)="deleteFeature(product, i)"><div class="tiny-button-text">x</div></button>
                  </div>
                </div>
                <div class="col-xs-6 col-xs-offset-3 text-center">
                  <button class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4" (click)="addFeature(product)">Add Feature</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="edit-button edit-button-add" (click)="addProduct" style="bottom: 3vh">Add Product</button>
    </div>

    <div class="" *ngIf='!this.creatingNew'>
      <button class="edit-button edit-button-prev" type="button" name="button" (click)='activeTab.main = activeTab.main-1' *ngIf="activeTab.main>0">Back</button>
      <button class="edit-button edit-button-next" type="button" name="button" (click)='activeTab.main = activeTab.main+1' *ngIf="checkFields(activeTab.main) && activeTab.main < 2">Next</button>
      <button class="edit-button-nope edit-button-next" type="button" name="button" style="" *ngIf=!checkFields(activeTab.main)>Incomplete</button>
    </div>
    <button class="edit-button edit-button-save" type="button" name="button" (click)='updateCompany(this.currentAccount)' *ngIf="checkFields(9)">Save</button>
    <button class="edit-button-nope edit-button-nope-2" type="button" name="button" style="" *ngIf='!checkFields(9)'>Incomplete</button>
  </div>

    <!-- OLD PAGE -->
    <div class="" *ngIf='this.activeTab.main == 7'>
      <div class="col-xs-12 col-md-6">
        <div class="col-xs-12 srow info-input">
          <p class="left">Name</p>
          <input class="right" type="text" placeholder="Company name." [(ngModel)] = 'this.currentAccount.name' [ngClass]="{'empty-field': !this.currentAccount.name}">
        </div>
        <div class="col-xs-12 mt10">
          <p class="left lh-50 mt10" [style.width]="'80px'">Logo</p>
          <div class="left avatar" *ngIf="this.currentAccount.avatar">
            <img src='{{ this.currentAccount.avatar }}' class="avatar-img">
          </div>
          <div *ngIf="!creatingNew && (!this.currentAccount.avatar || this.currentAccount.avatar.startsWith('..'))" class="right">
            <input type="file" #fileInput accept=".jpg,.png" style="width:100%"/>
            <button class="btn btn-primary" (click)="uploadPhoto()">Upload Logo</button>
          </div>
          <div *ngIf="this.currentAccount.avatar && !this.currentAccount.avatar.startsWith('..')" class="right">
            <input type="file" #fileInput accept=".jpg,.png" style="width:100%"/>
            <button class="btn btn-primary" (click)="editPhoto()">Edit Logo</button>
          </div>
          <div class="col-xs-12">
            <p class="col-xs-7 text-right vertically-centered">Make your account publically viewable?</p>
            <input type="checkbox" class="col-xs-2" [(ngModel)] = 'this.currentAccount.public'>
          </div>
        </div>
        <!--<div class="col-xs-12" [style.height]="'130px'">
            <p clvehicleType"left">Set-Aside</p>
            <div class="text-container right" [style.height]="'130pxvehicleTypestyle.width] = "infoInputWidth+'px'">
                <div class="col-xs-12" [style.overfvehicleType = "'auto'" [style.height]="'90px'">
                    <div class="ssrow"><input type="checkbox" class="left"><p >XXX</p></div>
                    <div class="ssrow"><input type="checkbox" class="left"><p >XXX</p></div>
                    <div class="ssrow"><input type="checkbox" class="left"><p >XXX</p></div>
                </div>
            </div>
        </div>-->
        <!--<div class="col-xs-12 srow">
            <p class="left">DCAA</p>
            <invehicleTypetype="checkbox">
        </div>-->
        <!--<div class="col-xs-12" [style.height]="'130px'">
            <p clvehicleType"left">FCL</p>
            <div class="text-container right" [style.height]="'130px'" [stvehicleTypewidth] = "infoInputWidth+'px'">
                <div class="col-xs-12" [style.overflow] =vehicleTypeuto'" [style.height]="'90px'">
                    <div class="ssrow"><input type="checkbox" class="left"><p >XXX</p></div>
                    <div class="ssrow"><input type="checkbox" class="left"><p >XXX</p></div>
                    <div class="ssrow"><input type="checkbox" class="left"><p >XXX</p></div>
                </div>
            </div>
        </div>-->
        <!--<div class="col-xs-12" [style.height]="'130px'">
            <p class="left">Schedules</p>
            <div class="text-container right" [style.height]="'130px'" [style.width] = "infoInputWidth+'px'">
            </div>
        </div>
        <div class="col-xs-12" [style.height]="'130px'">
            <p class="left">Major<br>Vehicles</p>
            <div class="text-container right" [style.height]="'130px'" [style.width] = "infoInputWidth+'px'">
            </div>
        </div>-->
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="col-xs-12 srow info-img-input"><img src="../assets/img/glyphicon/email-1.png" class="left"><p class="left">Email</p><input type="text" [(ngModel)] = 'this.currentAccount.email' [ngClass]="{'empty-field': !this.currentAccount.email}"></div>
        <div class="col-xs-12 srow info-img-input mt10"><img src="../assets/img/glyphicon/phone-2.png" class="left"><p class="left" style="line-height: 25px;">Contact<br> Number</p>
          <input type="text" maxlength="14" [(ngModel)] = 'this.currentAccount.contactNumber' (ngModelChange)="onPhoneChange(this.currentAccount.contactNumber); checkFields()" (keydown.backspace)='onPhoneChange(this.currentAccount.contactNumber, true)' [ngClass]="{'empty-field': !this.currentAccount.contactNumber || this.currentAccount.contactNumber.length < 14}">
        </div>
        <div class="col-xs-12 srow info-img-input mt10"><img src="../assets/img/glyphicon/post-1.png" class="left"><p class="left">Address</p><input type="text"  [(ngModel)] = 'this.currentAccount.address' [ngClass]="{'empty-field': !this.currentAccount.address}"></div>
        <div class="col-xs-12 srow info-img-input mt10"><img src="../assets/img/glyphicon/post-1.png" class="left"><p class="left">City</p><input type="text"  [(ngModel)] = 'this.currentAccount.city' [ngClass]="{'empty-field': !this.currentAccount.city}"></div>
        <div class="col-xs-12 srow info-img-input mt10"><img src="../assets/img/profile/state.png" class="left"><p class="left">State</p><input type="text"  [(ngModel)] = 'this.currentAccount.state' [ngClass]="{'empty-field': !this.currentAccount.state}"></div>
        <div class="col-xs-12 srow info-img-input mt10"><img src="../assets/img/profile/zip.png" class="left"><p class="left">Zip</p><input type="text"  [(ngModel)] = 'this.currentAccount.zip' [ngClass]="{'empty-field': !this.currentAccount.zip}"></div>
      </div>

      <div *ngIf="this.creatingNew || this.isUserAdmin" class="text-center" style="display: inline-block">
        <button class="btn btn-primary btn-block" (click)="updateCompany(this.currentAccount)" *ngIf='this.fieldsFilled'>Update Company</button>
        <button class="btn btn-primary btn-block" style="background-color: red" *ngIf='!this.fieldsFilled'>Page Unfinished</button>
      </div>

  <!-- TODO: This employee section is not responsive for phones. Need to deal with overlapping text. -->
  <div class="employees col-xs-12 clear">
    <div class="div-title col-xs-12">
      <img src="./assets/img/employee.png">
      <p>EMPLOYEES</p>
      <div></div>
    </div>
    <div *ngIf="!creatingNew" class="container">
      <div class="col-xs-12" style="width: 100%; position: relative">
        <div class="col-xs-8" style="height: 500px; overflow-y: auto; position: absolute; left: 0px; padding-right: 5px">
          <div class="" style="background: rgba(0, 0, 0, 0.1); border: 2px solid rgba(0, 0, 0, 0.1); height: 100%; padding-left: 5px; padding-right: 5px">
            <h3 style="text-align: center; margin-top: 10px; margin-bottom: 2px;">Employees</h3>
            <div class="" style="width: 94%, left: 3%; overflow-y: hidden; height: 440px; background: rgb(235, 235, 235); border: 2px solid rgba(0, 0, 0, 0.2);">
              <div class="" style="position: relative; width: 100%; height: 100%; overflow: auto">
                <div class="col-xs-12 employee-item" *ngFor='let employee of this.userProfiles' style="padding-right: 0px">
                  <div (click)='deleteEmployee(employee.proxyId, employee.role)'>
                    <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
                  </div>
                  <div class="col-xs-8" style="width: 60%; margin-right: -5px">
                    <div class="col-xs-6" style="margin-top: 15px">
                      <div class="col-xs-12">{{employee.name}}</div>
                      <div class="col-xs-12" style="margin-top: 20px">{{employee.username}}</div>
                    </div>
                    <div class="col-xs-5">
                      <input style="width: 110%; min-width: 150px" type="date" [(ngModel)]="employee.startDate" (blur)="(this.type='text'); updateEmployeeDate(employee, employee.proxyId,'startDate',employee.startDate)" (focus)="this.lastStartDate = employee.startDate" [ngClass]="{'empty-field': !employee.startDate}">
                      <input style="width: 110%; min-width: 150px" type="date" [(ngModel)]="employee.endDate" (blur)="updateEmployeeDate(employee, employee.proxyId,'endDate',employee.endDate)" (focus)="this.lastEndDate = employee.endDate" *ngIf='!employee.stillAffiliated' [ngClass]="{'empty-field': (!employee.stillAffiliated && !employee.endDate)}">
                    </div>
                  </div>
                  <div class="col-xs-4" style="margin-top: 15px; width: 40%; margin-left: -15px">
                    <div style="width: 70%">
                      <div class="col-xs-12">
                        <div class="col-xs-9">
                          Leader?
                        </div>
                        <input class="col-xs-3" type="checkbox" (change)="updateEmployee(employee.proxyId,'leader',employee.leader)" [(ngModel)]="employee.leader" />
                      </div>
                      <div class="col-xs-12">
                        <div class="col-xs-9">
                          Still Affiliated?
                        </div>
                        <input class="col-xs-3" type="checkbox" (change)="updateEmployee(employee.proxyId,'stillAffiliated',employee.stillAffiliated)" [(ngModel)]="employee.stillAffiliated" />
                      </div>
                    </div>
                    <button style="width: 30%; height: 55px"*ngIf="this.isUserAdmin && employee.role != this.adminRoleId" class="btn btn-primary" (click)="updateEmployee(employee.proxyId, 'role', this.adminRoleId)" type="button" value="Make Admin" name="button">Make<br>Admin</button>
                    <button style="width: 30%; height: 55px; background: rgb(201, 50, 50); border: 1px solid rgba(0, 0, 0, 0.1)"*ngIf="this.isUserAdmin && employee.role == this.adminRoleId && employee.userId != this.currentAccount._id" class="btn btn-primary" (click)="updateEmployee(employee.proxyId, 'role', this.currentAccount._id)" type="button" value="Remove Admin" name="button">Remove<br>Admin</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <select *ngIf="this.isUserAdmin" class="form-control" [(ngModel)]="this.newUserSelected">
          <option *ngFor="let user of this.userProfilesAll" value={{user._id}}>{{user.firstName + " " + user.lastName + ": " + user.username }}</option>
        </select> -->
        <div class="col-xs-4 search-results-box">
          <h3 style="text-align: center; margin-top: 10px; margin-bottom: 2px;">User Search</h3>
          <input type="text" name="test" value="" class="col-xs-10" [(ngModel)]='searchTerms.name' (keyup.enter)="search()">
          <button type="button" name="button" class="col-xs-2" style="font-size: 14px; text-align: center; padding: 0px" (click)='search()'>Search</button>
          <div class="search-results-interior" style="padding-top: 0px">
            <div class="search-results-interior-2" style="padding-top: 0px">
              <div class="" *ngIf='this.searchRunning'>
                <div class="loader"></div>
              </div>
              <div class="" *ngIf='!this.searchRunning'>
                <div class="" *ngIf='this.noResults'>
                  <h4 style="text-align: center">No Results Found</h4>
                </div>
                <div class="" *ngIf='searchResults.people.length > 0'>
                  <div class="" *ngFor='let p of searchResults.people; let i = index'>
                    <div class="search-item" (click)='addEmployee(p._id, i)'>
                      <div class="search-item-not-expand col-xs-12">
                        <div class="search-item-header">{{p.firstName}} {{p.lastName}}</div>
                        <div class="search-item-subheader">{{p.username}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="creatingNew" class="container">
      You will be the first employee and admin for this company when you create it. Once the company is created you can add new employees.
    </div>
  </div>

  <div class="products col-xs-12 clear" *ngIf='!this.creatingNew'>
    <div class="div-title col-xs-12">
      <img src="./assets/img/product.png">
      <p>PRODUCTS</p>
      <div></div>
    </div>
    <div class="col-xs-12">
      <div *ngFor='let product of this.products; let prodIndex = index' class="container mt50 product-container" style="padding: 5px; position: relative">
        <div (click)='deleteProduct(prodIndex)' style="position: absolute; z-index: 4">
          <div class="">
            <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
          </div>
        </div>
        <div class="col-xs-12 srow">
          <div class="col-xs-12 col-md-6 right">
            <div class="col-xs-12 srow info-input">
              <p class="left">More info</p>
              <input class="right" type="text" placeholder="URL to show more info." [(ngModel)]="product.moreInfoLink">
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-12 col-md-6 left">
            <div class="col-xs-12 srow info-input">
              <p class="left">Name</p>
              <input class="right" type="text" placeholder="Product name." [(ngModel)]='product.name' [ngClass]="{'empty-field': !product.name}">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 right">
            <div class="col-xs-12 srow info-input">
              <p class="left">Video demo</p>
              <input class="right" type="text" placeholder="URL to Video demo." [(ngModel)]="product.viewDemoLink">
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-12 col-sm-6">
            <p class="col-xs-12 lh-50">Product Description</p>
            <div class="col-xs-12 text-container" [style.height]="'326px'" style="margin-top: -1px"><textarea [(ngModel)]='product.description'></textarea></div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p class="col-xs-12 lh-50">Agencies using it today</p>
            <div class="col-xs-4 customer-tab" (click)='changeCustomerTab(prodIndex, product, 0)' [ngClass]="{'customer-tab-active': productTabs[prodIndex] == 0}">
              Defense
            </div>
            <div class="col-xs-4 customer-tab"  (click)='changeCustomerTab(prodIndex, product, 1)' [ngClass]="{'customer-tab-active': productTabs[prodIndex] == 1}">
              Commercial
            </div>
            <div class="col-xs-4 customer-tab"  (click)='changeCustomerTab(prodIndex, product, 2)' [ngClass]="{'customer-tab-active': productTabs[prodIndex] == 2}">
              Civilian
            </div>
            <div class="col-xs-12 text-container" [style.overflow] = "'auto'" [style.height]="'300px'">
              <div class="" *ngIf='this.productTabs[prodIndex] == 0'>
                <div class="col-xs-12" *ngFor='let customer of product.customers.defense; let i = index' style="color: black">
                  <input ngui-auto-complete class="col-xs-12" placeholder="Defense Customer" [(ngModel)] = 'customer.name' [source]='this.allAgencies' [list-formatter]="agencyListFormatter" display-property-name='agency' select-value-of='agency' auto-select-first-item='true' [ngClass]="{'empty-field': agencyValidCheck(customer.name) == false}">
                  <button class="tiny-button-skills" (click)="deleteCustomerDefense(product, i)"><div class="tiny-button-text">x</div></button>
                </div>
                <button type="button"class="col-xs-4 col-xs-offset-4" name="button" (click)='addCustomerDefense(product)' style="margin-top: 5px">Add Another</button>
              </div>
              <div class="" *ngIf='this.productTabs[prodIndex] == 1'>
                <div class="col-xs-12" *ngFor='let customer of product.customers.commercial' style="color: black">
                  <input class="col-xs-12" placeholder="Commercial Customer" [(ngModel)]='customer.name' [ngClass]="{'empty-field': !customer.name}">
                  <button class="tiny-button-skills" (click)="deleteCustomerCommercial(product, i)"><div class="tiny-button-text">x</div></button>
                </div>
                <button type="button"class="col-xs-4 col-xs-offset-4" name="button" (click)='addCustomerCommercial(product)' style="margin-top: 5px">Add Another</button>
              </div>
              <div class="" *ngIf='this.productTabs[prodIndex] == 2'>
                <div class="col-xs-12" *ngFor='let customer of product.customers.civilian' style="color: black">
                  <input class="col-xs-12" placeholder="Civilian Customer" [(ngModel)]='customer.name' [ngClass]="{'empty-field': !customer.name}">
                  <button class="tiny-button-skills" (click)="deleteCustomerCivilian(product, i)"><div class="tiny-button-text">x</div></button>
                </div>
                <button type="button"class="col-xs-4 col-xs-offset-4" name="button" (click)='addCustomerCivilian(product)' style="margin-top: 5px">Add Another</button>
              </div>
              <!-- <div class="col-xs-12"><input type="checkbox" class="left"><p >XXX</p></div>
              <div class="col-xs-12"><input type="checkbox" class="left"><p >XXX</p></div>
              <div class="col-xs-12"><input type="checkbox" class="left"><p >XXX</p></div>
              <div class="col-xs-12"><input type="checkbox" class="left"><p >XXX</p></div>
              <div class="col-xs-12"><input type="checkbox" class="left"><p >XXX</p></div>
              <div class="col-xs-12"><input type="checkbox" class="left"><p >XXX</p></div>
              <div class="col-xs-12"><input type="checkbox" class="left"><p >XXX</p></div>
              <div class="col-xs-12"><input type="checkbox" class="left"><p >XXX</p></div> -->
            </div>
          </div>
        </div>
        <div class="col-xs-12 mt30">
          <div class="col-xs-12 col-md-4">
            <p class="left">Will you customize the product?</p>
            <input class="right" type="checkbox" [(ngModel)]="product.customization" />
          </div>
          <div class="col-xs-12 col-md-4">
            <p class="left">Do you provide training?</p>
            <input class="right" type="checkbox" [(ngModel)]="product.training" />
          </div>
          <div class="col-xs-12 col-md-4">
            <p class="left">Do you provide maintenance?</p>
            <input class="right" type="checkbox" [(ngModel)]="product.maintenance" />
          </div>
        </div>
        <div class="col-xs-12">
          <p>Features:</p>
          <p *ngIf='product.feature.length > 0'>Describe your feature and assign it a score</p>
          <p *ngIf='product.feature.length > 0'>(more in-depth feature scoring will come in a future update)</p>
          <div class="col-xs-12" *ngFor='let feature of product.feature; let i = index' style="background: rgba(255,255,255,0.2); border: 1px solid rgba(0,0,0,0.1); margin-top: 1px; margin-bottom: 1px">
            <div class="col-xs-12" style="margin-bottom: -5px; margin-top: -5px;">
              <div class="col-xs-12 col-sm-7 srow info-input">
                <p class="left col-xs-2">Title</p>
                <input class="right col-xs-10" [(ngModel)]='feature.name' [ngClass]="{'empty-field': !feature.name}">
              </div>
              <div class="col-xs-12 col-sm-5 srow info-input">
                <p class="left col-xs-2">Score</p>
                <input class="right col-xs-10" [(ngModel)]='feature.score' [ngClass]="{'empty-field': !feature.score}">
              </div>
              <button class="tiny-button-skills" (click)="deleteFeature(product, i)"><div class="tiny-button-text">x</div></button>
            </div>
          </div>
          <div class="col-xs-6 col-xs-offset-3 text-center">
            <button class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4" (click)="addFeature(product)">Add Feature</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-6 col-sm-offset-3 col-xs-12'>
      <button class='col-sm-6 col-sm-offset-3 col-xs-12' type="button" name="button" (click)='addProduct()' style="margin-top: 5px">Add Product</button>
    </div>
  </div>

  <!-- <div class="services col-xs-12 clear" *ngIf='!this.creatingNew'>
    <div class="div-title col-xs-12">
      <img src="./assets/img/profile/capabilities-1.png">
      <p>SERVICES</p>
      <div></div>
    </div>
    <div class="col-xs-12">
      <div *ngFor='let service of this.services; let servIndex = index' class="container mt50 product-container" style="padding: 5px; position: relative">
        <div (click)='deleteService(servIndex)' style="position: absolute; z-index: 4">
          <div class="">
            <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
          </div>
        </div>
        <input class="col-xs-6 col-xs-offset-3 fs-25 mt20 mb20" [(ngModel)]='service.name' placeholder="Service Name" [ngClass]="{'empty-field': !service.name}">
        <div class="col-xs-12 col-sm-6">
          <p>Features:</p>
          <p *ngIf='service.feature.length > 0'>Describe your feature and assign it a score</p>
          <p *ngIf='service.feature.length > 0'>(more in-depth feature scoring will come in a future update)</p>
          <div class="col-xs-12" *ngFor='let feature of service.feature; let i = index' style="background: rgba(255,255,255,0.2); border: 1px solid rgba(0,0,0,0.1); margin-top: 1px; margin-bottom: 1px">
            <div class="col-xs-12" style="margin-bottom: -5px; margin-top: -5px;">
              <div class="col-xs-12 col-sm-7 srow info-input">
                <p class="left col-xs-2">Title</p>
                <input class="right col-xs-10" [(ngModel)]='feature.title' [ngClass]="{'empty-field': !feature.title}">
              </div>
              <div class="col-xs-12 col-sm-5 srow info-input">
                <p class="left col-xs-2">Score</p>
                <input class="right col-xs-10" [(ngModel)]='feature.score' [ngClass]="{'empty-field': !feature.score}">
              </div>
              <button class="tiny-button-skills" (click)="deleteFeature(service, i)"><div class="tiny-button-text">x</div></button>
            </div>
          </div>
          <div class="col-xs-12 text-center   mt20   mb20">
            <button class="mr10" (click)="addFeature(service)" style="margin-top: 5px">ADD</button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p>Skills:</p>
          <p *ngIf='service.skills.length > 0'>Describe any skills used in this service</p>
          <p *ngIf='service.skills.length > 0'>(this will be integrated with tools in a future update)</p>
          <div class="col-xs-12" *ngFor='let skill of service.skills; let i = index; trackBy:trackByFn'>
            <input class="col-xs-12" [(ngModel)]='service.skills[i]'>
            <button class="tiny-button-skills" (click)="deleteSkill(service, i)"><div class="tiny-button-text">x</div></button>
          </div>
          <div class="col-xs-12 text-center   mt20   mb20">
            <button class="mr10" (click)="addSkill(service)">ADD</button>
          </div>
        </div>
      </div>
      <div class='col-sm-6 col-sm-offset-3 col-xs-12'>
        <button class='col-sm-6 col-sm-offset-3 col-xs-12' type="button" name="button" (click)='addService()' style="margin-top: 5px">Add Service</button>
      </div>
    </div>
  </div> -->

      <div class="vehicle col-xs-12 clear">
        <div class="div-title col-xs-12">
            <img src="./assets/img/vehicle.png">
            <p>VEHICLES</p>
            <div></div>
        </div>
        <div class="container">
          <div class="col-xs-13" *ngFor='let vehicle of this.currentAccount.vehicles; let i = index'>
            <div class="col-xs-11">
              <div class="col-xs-12 col-sm-6 srow info-input">
                <p class="left">Vehicle</p>
                <input class="right" [(ngModel)]='vehicle.vehicleType'>
              </div>
              <div class="col-xs-12 col-sm-6 srow info-input">
                <p class="left">Quantity</p>
                <input class="right" [(ngModel)]='vehicle.quantity'>
              </div>
            </div>
            <button class="col-xs-offset-5 col-sm-1 col-sm-offset-0" (click)="deleteVehicle(vehicle, i)">DEL</button>
          </div>
          <button class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4" (click)="addVehicle()" style="margin-top: 5px">Add Vehicle</button>
        </div>
      </div>
    </div>
  </div>
</div>
