<div class="container" *ngIf='!this.promiseFinished'>
  <div class="loader"></div>
  <!-- <p class="loading">Loading</p> -->
</div>
<div class="container" *ngIf='this.promiseFinished' style="overflow-x: hidden">
  <div class="page">
    <div class="col-xs-2" style="margin: 0px; padding: 0px;">
      <div class="edit-tab-bar">
        <div class="edit-tab" [ngClass]="{'edit-tab-incomplete': !this.checkFields(0)}">
          <div class="edit-tab" (click)='switchTab(0)' [ngClass]="{'edit-tab-top-active': this.activeTab.main == 0}">
            Basic Info
          </div>
        </div>
        <div class="" [ngClass]="{'edit-tab-inactive': this.creatingNew}">
          <div class="edit-tab">
            <div class="edit-tab" (click)='switchTab(1)' [ngClass]="{'edit-tab-active': this.activeTab.main == 1}">
              Employees
            </div>
          </div>
          <div class="edit-tab" style="border-bottom: none" [ngClass]="{'edit-tab-incomplete': !this.creatingNew && !this.checkFields(2)}">
            <div class="edit-tab-bottom" (click)='switchTab(2)' [ngClass]="{'edit-tab-bottom-active': this.activeTab.main == 2}">
              Products
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-10 edit-panel">
      <div class="" style="" *ngIf='activeTab.main == 0'>
        <div class="" style="position: relative; height: 360px; width: 180px;">
          <div class="" style="height: 180px; width: 180px; position: relative; float: left;">
            <div class="left avatar">
              <img src='{{ this.currentAccount.avatar }}' class="avatar-img">
            </div>
            <div class="" style="position: absolute; top: 180px">
              <div *ngIf="!this.currentAccount.avatar || this.currentAccount.avatar.startsWith('..')" class="left">
                <input type="file" #fileInput accept=".jpg,.png" style="width:90%; margin-left: 5%"/>
                <button class="btn btn-primary" style="width: 90%; margin-left: 5%;" (click)="uploadPhoto()" *ngIf="!this.creatingNew">Upload Avatar</button>
              </div>
              <div *ngIf="this.currentAccount.avatar && !this.currentAccount.avatar.startsWith('..')" class="left">
                <input type="file" #fileInput accept=".jpg,.png" style="width:90%; margin-left: 5%"/>
                <button class="btn btn-primary" style="width: 90%; margin-left: 5%;" (click)="editPhoto()" *ngIf="!this.creatingNew">Replace Avatar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="scrollbar" style="position: absolute; height: calc(96vh - 165px); width: calc(100% - 180px); top: 2vh; right: 0px; padding: 2vh 2vw 2vh 2vw; float: left; overflow-y: auto;">
          <div class="left" style="width: 115px; line-height: 42px; float: left; padding-top: 4px;">
            <p class="">Company Name</p>
            <p class="">Email</p>
            <p class="">Phone #</p>
            <p class="">Address</p>
            <p class="">City</p>
            <p class="">State</p>
            <p class="">Zip</p>
            <p class="">Video URL</p>
            <p class="" style="z-index: 99">Contract Vehicles</p>
            <button class="edit-button" type="button" name="button" (click)='addVehicle()' style="z-index: 99; position: relative; margin-left: calc(100% - 45px); margin-top: 2px; width: 35px; line-height: 30px; font-size: 40px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 5px;">+</button>
          </div>
          <div class="" style="width: calc(100% - 115px); float: left; position: relative;">
            <input class="" style="width: 100%;" type="text" placeholder="The company's name" [(ngModel)] = 'this.currentAccount.name' [ngClass]="{'empty-field': !this.currentAccount.name}">
            <input class="" style="width: 100%;" type="text" placeholder="The company's email address" [(ngModel)] = 'this.currentAccount.email' [ngClass]="{'empty-field': !this.currentAccount.email}">
            <input class="" style="width: 100%;" type="tel" maxlength="14" placeholder="The company's phone number" [(ngModel)] = 'this.currentAccount.contactNumber' (ngModelChange)="onPhoneChange(this.currentAccount.contactNumber)" (keydown.backspace)='onPhoneChange(this.currentAccount.contactNumber, true)' [ngClass]="{'empty-field': !this.currentAccount.contactNumber || this.currentAccount.contactNumber.length < 14}">
            <input class="" style="width: 100%;" type="text" [(ngModel)] = 'this.currentAccount.address' [ngClass]="{'empty-field': !this.currentAccount.address}">
            <input class="" style="width: 100%;" type="text"  [(ngModel)] = 'this.currentAccount.city' [ngClass]="{'empty-field': this.currentAccount.city.length < 1}">
            <input class="" style="width: 100%;" type="text"  [(ngModel)] = 'this.currentAccount.state' [ngClass]="{'empty-field': !this.currentAccount.state}">
            <input class="" style="width: 100%;" type="number" max="99999" maxlength="5" [(ngModel)] = 'this.currentAccount.zip' [ngClass]="{'empty-field': !this.currentAccount.zip}">
            <input class="" style="width: 100%;" type="text"  [(ngModel)] = 'this.currentAccount.videoUrl' placeholder="Put a Youtube URL for a video about your company here and we'll embed it on your page.">
            <div class="scrollbar"  style="width: 100%; margin-top: 8px; min-height: 39px; max-height: 210px; overflow-y: auto; border: 1px solid rgba(0,0,0,0.2); z-index: 99; float: left; position: relative; margin-bottom: 1px;">
              <div class="" style="width: 100%; height: 100%; background: green;">
                <div class="" *ngFor="let vehicle of this.currentAccount.vehicles; let i = index" style="width: 100%; height: 38px; float: left; position: relative;">
                  <select class="" style="width: calc(100% - 24px); margin: 0px; height: 34px; float: left;" name="" [(ngModel)] = 'vehicle.vehicleType' [ngClass]="{'empty-field': vehicle.vehicleType.length < 1}">
                    <option *ngFor='let v of this.vehicles' [value]='v'>{{v}}</option>
                  </select>
                  <div (click)='this.currentAccount.vehicles.splice(i, 1)' style="position: absolute; right: 2px; width: 24px; height: 34px; cursor: pointer">
                    <img src="./assets/img/btn-close.png" alt="" class="search-item-x" style="width: 20px; height: 20px; margin-top: 6px; margin-left: 2px; cursor: pointer">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="" style="width: 100%; height: 42px; position: relative; float: left; z-index: 99">
            <p class="left" style="position: relative; width: calc(100% - 42px); line-height: 30px; float: left; padding-top: 6px;">Make your company publically viewable?</p>
            <input type="checkbox" style="position: relative; height: 42px; width: 42px; margin: 0px; float: left;" class="" [(ngModel)] = 'this.currentAccount.public'>
          </div>
          <div class="" style="position: relative; width: 100%; float: left; margin-top: 25px;">
            <div class="" *ngIf='this.creatingNew'>
              <p>Your new company will be initialized with you as an admin.</p>
              <p>After its creation, you can go back in to editing to add more employees or products.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-box" *ngIf='activeTab.main == 1' style="position: relative;">
        <div class="div-title" style="margin-top: 2vh; margin-bottom: 1vh;">
          <p>Employees</p>
        </div>
        <div id='employee-search' class="employee-search-bar" style="position: relative; width: 100%; height: 42px; margin-bottom: 8px;">
          <input type="text" name="test" value="" style="width: calc(100% - 153px); margin-bottom: 1px;" [(ngModel)]='searchTerms.name' (keyup.enter)="search()">
          <button class="edit-button" type="button" name="button" style="width: 150px; height: 37px;" (click)='search()'>Search</button>
          <div id='employee-dropdown' class="search-results-interior" style="padding-top: 0px;" *ngIf='this.searchOpen'>
            <div class="search-results-interior-2 scrollbar" style="padding-top: 0px">
              <div class="" *ngIf='this.searchRunning'>
                <div class="loader"></div>
              </div>
              <div class="" *ngIf='!this.searchRunning'>
                <div class="" *ngIf='this.noResults'>
                  <h4 style="text-align: center">No Results Found</h4>
                </div>
                <div class="" *ngIf='searchResults.people.length > 0'>
                  <div class="" *ngFor='let p of searchResults.people; let i = index'>
                    <div class="search-item">
                      <div class="search-item-not-expand col-xs-12">
                        <div class="" style="width: 100%; height: 50px; line-height: 25px;" *ngIf="invited(p)">
                          <div class="search-item-header">{{p.firstName}} {{p.lastName}} has been invited to join your company.</div>
                          <div class="search-item-subheader">Watch your company inbox to see if they accept!</div>
                        </div>
                        <div class="" *ngIf="!invited(p)">
                          <div class="" style="width: 90%; height: 50px; float: left; line-height: 25px;">
                            <div class="search-item-header">{{p.firstName}} {{p.lastName}}</div>
                            <div class="search-item-subheader">{{p.username}}</div>
                          </div>
                          <button style="width: 10%; height: 50px; float: left;" class="btn btn-primary" (click)="invite(p, i)" type="button" value="Invite" name="button">Invite</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="scrollbar sub-box-inner">
          <div class="col-xs-12 employee-item" *ngFor='let employee of this.userProfiles' style="padding-right: 0px">
            <div class="employee-item-delete" *ngIf='employee.delete'>
              <p style="margin-bottom: 5px;">Remove {{employee.name}}?</p>
              <button style="width: 30%; height: 45px; background: rgb(201, 50, 50); border: 1px solid rgba(0, 0, 0, 0.1)" (click)="deleteEmployee(employee.proxyId, employee.role)" class="btn btn-primary" type="button" value="Remove Admin" name="button">Remove</button>
              <button style="width: 30%; height: 45px"  class="btn btn-primary" (click)='employee.delete = false'  type="button" value="Make Admin" name="button">Cancel</button>
            </div>
            <div class="" *ngIf="!employee.delete">
              <div (click)='employee.delete = true'>
                <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
              </div>
              <div class="" style="width: calc(100% - 22px);">
                <div style="width: 50%; margin-right: -5px; float: left;">
                  <div class="" style="width: calc(100% - 150px); margin-top: 15px; float: left">
                    <div class="col-xs-12">{{employee.name}}</div>
                    <div class="col-xs-12" style="margin-top: 20px">{{employee.username}}</div>
                  </div>
                  <div class="" style="width: 150px; margin-top: 15px; float: left">
                    <p>Start Date</p>
                    <input style="width: 150px; margin-top: 15px;" type="date" [(ngModel)]="employee.startDate" (blur)="(this.type='text'); updateEmployeeDate(employee, employee.proxyId,'startDate',employee.startDate)" (focus)="this.lastStartDate = employee.startDate" [ngClass]="{'empty-field': !employee.startDate}">
                    <!-- <input style="width: 110%; min-width: 150px" type="date" [(ngModel)]="employee.endDate" (blur)="updateEmployeeDate(employee, employee.proxyId,'endDate',employee.endDate)" (focus)="this.lastEndDate = employee.endDate" *ngIf='!employee.stillAffiliated' [ngClass]="{'empty-field': (!employee.stillAffiliated && !employee.endDate)}"> -->
                  </div>
                </div>
                <div style="margin-top: 15px; width: 50%; padding-left: 5px; float: left;">
                  <div style="width: 100px; text-align: center; float: left">
                    <p>Leader</p>
                    <input class="" type="checkbox" (change)="updateEmployee(employee.proxyId,'leader',employee.leader)" [(ngModel)]="employee.leader" />
                    <!-- <div class="col-xs-12">
                      <div class="col-xs-9">
                        Still Affiliated?
                      </div>
                      <input class="col-xs-3" type="checkbox" (change)="updateEmployee(employee.proxyId,'stillAffiliated',employee.stillAffiliated)" [(ngModel)]="employee.stillAffiliated" />
                    </div> -->
                  </div>
                  <div style="width: calc(100% - 100px); text-align: center; float: left">
                    <button style="width: 50%; max-width: 100px; height: 55px; float: left" *ngIf="this.isUserAdmin && employee.role != this.adminRoleId" class="btn btn-primary" (click)="updateEmployee(employee.proxyId, 'role', this.adminRoleId)" type="button" value="Make Admin" name="button">Make<br>Admin</button>
                    <button style="width: 50%; max-width: 100px; height: 55px; background: rgb(201, 50, 50); border: 1px solid rgba(0, 0, 0, 0.1); float: left" *ngIf="this.isUserAdmin && employee.role == this.adminRoleId && !employeeIsYou(employee.userId)" class="btn btn-primary" (click)="removeAdmin(employee.proxyId, 'role', this.currentAccount._id, employee.userId)" type="button" value="Remove Admin" name="button">Remove<br>Admin</button>
                    <button *ngIf="!employee.public" style="width: 50%; max-width: 100px; height: 55px; background: green; border: 1px solid rgba(0,0,0,0.5); float: left" class="btn btn-primary" (click)="this.togglePublic(employee)" type="button" value="TOGGLE PUBLIC" name="button">Private</button>
                    <button *ngIf="employee.public" style="width: 50%; max-width: 100px; height: 55px; background: red; border: 1px solid rgba(0,0,0,0.5); float: left" class="btn btn-primary" (click)="this.togglePublic(employee)" type="button" value="TOGGLE PUBLIC" name="button">Public</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-box" style="" *ngIf='activeTab.main == 2'>
        <!-- <div class="product-tab-bar col-xs-10 col-xs-offset-1">
          <div class="product-tab col-xs-3" (click)='activeTab.product = activeTab.product-1' *ngIf='activeTab.product>0 && this.products[this.activeTab.product-1]'>
            <div (click)='deleteProduct(this.activeTab.product-1)' style="position: absolute; z-index: 4">
              <div class="">
                <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
              </div>
            </div>
            {{this.products[this.activeTab.product-1].name}}
          </div>
          <div class="product-tab product-tab-active col-xs-6 col-xs-offset-3" *ngIf='activeTab.product<=0 && this.products[this.activeTab.product]'>
            <div (click)='deleteProduct(this.activeTab.product)' style="position: absolute; z-index: 4">
              <div class="">
                <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
              </div>
            </div>
            {{this.products[this.activeTab.product].name}}
          </div>
          <div class="product-tab product-tab-active col-xs-6" *ngIf='activeTab.product>0 && this.products[this.activeTab.product]'>
            <div (click)='deleteProduct(this.activeTab.product)' style="position: absolute; z-index: 4">
              <div class="">
                <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
              </div>
            </div>
            {{this.products[this.activeTab.product].name}}
          </div>
          <div class="product-tab col-xs-3" (click)='activeTab.product = activeTab.product+1' *ngIf='this.products[activeTab.product+1]'>
            <div (click)='deleteProduct(this.activeTab.product+1)' style="position: absolute; z-index: 4">
              <div class="">
                <img src="./assets/img/btn-close.png" alt="" class="search-item-x">
              </div>
            </div>
            {{this.products[this.activeTab.product+1].name}}
          </div>
        </div> -->
        <div class="col-xs-12 product-tab-bar" *ngIf="this.products[this.activeTab.product]">
          <div class="arrow-left arrow-left-2" *ngIf="this.products[this.activeTab.product-1]" (click)='activeTab.product = activeTab.product-1'></div>
          <div class="col-xs-3 product-tab" *ngIf="this.products[this.activeTab.product-1]" (click) = 'activeTab.product = activeTab.product-1'>
            <p class="product-tab-text" *ngIf="this.products[this.activeTab.product-1].name">{{this.products[this.activeTab.product-1].name}}</p>
            <p class="product-tab-text" *ngIf="!this.products[this.activeTab.product-1].name">New Product</p>
          </div>
          <div class="col-xs-3" *ngIf="!this.products[this.activeTab.product-1]">
          </div>
          <div class="col-xs-6 product-tab product-tab-active">
            <div (click)='this.deleteProductTab()' style="position: absolute; z-index: 4; right: 2px; top: -4px">
              <div class="">
                <img src="./assets/img/btn-close.png" alt="" class="close-x-little">
              </div>
            </div>
            <p class="product-tab-text" *ngIf="this.products[this.activeTab.product].name">{{this.products[this.activeTab.product].name}}</p>
            <p class="product-tab-text" *ngIf="!this.products[this.activeTab.product].name">New Product</p>
          </div>
          <div class="col-xs-3 product-tab" *ngIf="this.products[this.activeTab.product+1]" (click) = 'activeTab.product = activeTab.product+1'>
            <p class="product-tab-text" *ngIf="this.products[this.activeTab.product+1].name">{{this.products[this.activeTab.product+1].name}}</p>
            <p class="product-tab-text" *ngIf="!this.products[this.activeTab.product+1].name">New Product</p>
          </div>
          <div class="col-xs-3" *ngIf="!this.products[this.activeTab.product+1]">
          </div>
          <div class="arrow-right arrow-right-2" *ngIf="this.products[this.activeTab.product+1]" (click)='activeTab.product = activeTab.product+1'></div>
        </div>
        <div class="product-interior" style="padding-top: 1vh; padding-right: 1px;">
          <div class="" *ngIf="this.productDeleteTab">
            <div class="unfinished-alert" style="padding: 8px;">
              <h4 style="text-align: center">Are you sure you want to delete <strong>{{this.products[this.activeTab.product].name}}</strong> from your products?</h4>
              <div class="unfinished-box">
                <div class="" style="position: relative; width: 100%; height: 40px;">
                  <div class="" style="position: absolute; left: 50%; top: 0px; transform: translate(-50%, -50%); width: 300px;">
                    <button type="button" name="button" style="left: 0px; width: 144px;" (click)='deleteProduct(this.activeTab.product)'>Delete</button>
                    <button type="button" name="button" style="right: 0px; width: 144px;" (click)='this.productDeleteTab = false'>Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="unfinished-alert-background" style="background: rgba(0,0,0,0)"></div>
          </div>
          <div class="col-xs-12">
            <div *ngFor='let product of this.products; let prodIndex = index' class="">
              <div class="" *ngIf='prodIndex == this.activeTab.product'>
                <div class="" style="position: relative; float: left; top: 2px; left: 0px; width: 45%; height: 76px; margin-top: 8px; padding: 0vh 2vw 2vh 2vw; border-right: 2px solid rgba(0,0,0,0.5);">
                  <div class="" style="margin-top: -8px">
                    <div class="left" style="width: 60px; line-height: 42px; float: left; padding-top: 4px;">
                      <p class="">Name</p>
                    </div>
                    <div class="" style="width: calc(100% - 60px); float: left;">
                      <input class="" style="width: 100%;" type="text" placeholder="Product name." [(ngModel)]='product.name' [ngClass]="{'empty-field': !product.name}">
                    </div>
                  </div>
                </div>
                <div class="" style="position: relative; float: left; top: 2px; right: 0px; width: 55%; height: 76px; padding: 0vh 2vw 2vh 2vw">
                  <div class="left" style="width: 85px; line-height: 42px; float: left; padding-top: 4px;">
                    <p class="">More Info</p>
                    <p class="">Video Demo</p>
                  </div>
                  <div class="" style="width: calc(100% - 85px); float: left;">
                    <input class="" style="width: 100%;" type="text" placeholder="URL to show more info." [(ngModel)]="product.moreInfoLink">
                    <input class="" style="width: 100%;" type="text" placeholder="URL to Video demo." [(ngModel)]="product.viewDemoLink">
                  </div>
                </div>
                <div class="col-xs-12" style="height: calc(39vh - 166px);">
                  <div class="" style="width: 49%; float: left; margin-right: 1%;">
                    <p class="" style="width: 100%; line-height: 20px;">Product Description</p>
                    <textarea class="" style="height: 200px; width: 100%; border: 1px solid rgba(0,0,0,0.25); height: calc(39vh - 186px);" [(ngModel)]='product.description'></textarea>
                  </div>
                  <div class="" style="width: 49%; float: left; margin-left: 1%;">
                    <p class="" style="width: 100%; line-height: 20px;">Agencies using it today</p>
                    <div class="col-xs-6 customer-tab" (click)='changeCustomerTab(prodIndex, product, 0)' [ngClass]="{'customer-tab-active': productTabs[prodIndex] == 0}">
                      Government
                    </div>
                    <div class="col-xs-6 customer-tab"  (click)='changeCustomerTab(prodIndex, product, 1)' [ngClass]="{'customer-tab-active': productTabs[prodIndex] == 1}">
                      Commercial
                    </div>
                    <div class="product-customers scrollbar"  style="height: calc(39vh - 206px);">
                      <div class="" *ngIf='this.productTabs[prodIndex] == 0'>
                        <div class="col-xs-12" *ngFor='let customer of product.customers.defense; let i = index' style="color: black; float: left;">
                          <input ngui-auto-complete class="col-xs-12" placeholder="Government Customer" [(ngModel)] = 'customer.name' [source]='this.allAgencies' [list-formatter]="agencyListFormatter" display-property-name='agency' select-value-of='agency' auto-select-first-item='true' [ngClass]="{'empty-field': agencyValidCheck(customer.name) == false}">
                          <button class="tiny-button-skills" (click)="deleteCustomerDefense(product, i)"><div class="tiny-button-text">x</div></button>
                        </div>
                        <div class="" style="width: 100%; position: relative; float: left;">
                          <button type="button" class="edit-button" name="button" (click)='addCustomerDefense(product)' style="position: absolute; left: 50%; transform: translate(-50%); margin-top: 5px; width: 135px;">Add Another</button>
                        </div>
                      </div>
                      <div class="" *ngIf='this.productTabs[prodIndex] == 1'>
                        <div class="col-xs-12" *ngFor='let customer of product.customers.commercial' style="color: black">
                          <input class="col-xs-12" placeholder="Commercial Customer" [(ngModel)]='customer.name' [ngClass]="{'empty-field': !customer.name}">
                          <button class="tiny-button-skills" (click)="deleteCustomerCommercial(product, i)"><div class="tiny-button-text">x</div></button>
                        </div>
                        <div class="" style="width: 100%; position: relative; float: left;">
                          <button type="button" class="edit-button" name="button" (click)='addCustomerCommercial(product)' style="position: absolute; left: 50%; transform: translate(-50%); margin-top: 5px; width: 135px;">Add Another</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12" style="padding-top: 1px; height: 31px; margin-bottom: 5px;">
                  <div class="col-xs-4">
                    <p class="left" style="line-height: 28px;">Will you customize the product?</p>
                    <input class="right" type="checkbox" [(ngModel)]="product.customization" />
                  </div>
                  <div class="col-xs-4" style="line-height: 28px;">
                    <p class="left">Do you provide training?</p>
                    <input class="right" type="checkbox" [(ngModel)]="product.training" />
                  </div>
                  <div class="col-xs-4" style="line-height: 28px;">
                    <p class="left">Do you provide maintenance?</p>
                    <input class="right" type="checkbox" [(ngModel)]="product.maintenance" />
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="" style="text-align: center; line-height: 20px; float: left;">Features</div>
                  <div class="" style="float: left; position: relative; height: 15px; width: 20px; margin-top: 4px;">
                    <div class="tutorial-circle" (mouseenter) ="this.tutorialOn.features = true"  (mouseleave) ="this.tutorialOn.features = false">?</div>
                    <div class="tutorial-box" *ngIf="this.tutorialOn.features" (mouseenter) ="this.tutorialOn.features = true"  (mouseleave) ="this.tutorialOn.features = false" style="width: 400px; height: 200px;">
                      <h5>Features</h5>
                      <p>Tell us about the features of this product, and what problems they solve for your users.</p><br>
                      <p>You can then assign a score to your feature. Your project has a total of 100 points to use for scoring, so keep that in mind.</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 scrollbar" style="border: 1px solid rgba(0,0,0,0.01); overflow-y: auto; height: calc(56vh - 186px)">
                  <div class="col-xs-12" *ngFor='let feature of product.feature; let i = index' style="position: relative; background: rgba(255,255,255,0.2); border: 1px solid rgba(0,0,0,0.1); margin-top: 1px; margin-bottom: 1px; padding-top: 5px; padding-bottom: 5px;">
                    <button class="tiny-button-skills" (click)="deleteFeature(product, i)"><div class="tiny-button-text">x</div></button>
                    <div class="" style="width: 100%">
                      <div class="srow" style="width: calc(100% - 158px); float: left; padding-right: 4px;">
                        <p class="" style="width: 55px; float: left;">Feature</p>
                        <input class="" style="width: calc(100% - 55px); float: left; padding-left: 4px;" [(ngModel)]='feature.name' [ngClass]="{'empty-field': !feature.name}">
                      </div>
                      <div class="srow" style="width: 143px; float: left">
                        <p class="" style="width: 43px; float: left;">Score</p>
                        <input class="" style="width: calc(100% - 43px); float: left;" type="number" [(ngModel)]='feature.score' (ngModelChange)="productFeatureScoreChange(product)">
                      </div>
                    </div>
                    <div class="" style="width: 100%;">
                      <div class="" style="width: 100%; float: left;">
                        <div class="" style="text-align: center; float: left;">What <strong>Problem</strong> does this feature solve?</div>
                        <div class="" style="float: left; position: relative; height: 15px; width: 20px; margin-top: 4px;">
                          <div class="tutorial-circle" (mouseenter) ="this.tutorialOn.problems = true"  (mouseleave) ="this.tutorialOn.problems = false">?</div>
                          <div class="tutorial-box" *ngIf="this.tutorialOn.problems" (mouseenter) ="this.tutorialOn.problems = true"  (mouseleave) ="this.tutorialOn.problems = false">
                            <h5>Problems & Solutions</h5>
                            <p>Pick a general category for the problem this feature is meant to solve and then give us more details.</p><br>
                          </div>
                        </div>
                      </div>
                      <div class="srow" style="width: 50%; float: left; padding-right: 4px;">
                        <p class="" style="width: 57px; float: left;">Type</p>
                        <select class="" style="width: calc(100% - 57px); float: left;" name="" [(ngModel)] = 'feature.problem.category'>
                          <option *ngFor='let v of this.problemCategories' [value]='v'>{{v}}</option>
                        </select>
                      </div>
                      <div class="srow" style="width: 50%; float: left; padding-left: 4px;">
                        <p class="" style="width: 57px; float: left;">Details</p>
                        <input class="" style="width: calc(100% - 57px); float: left;" type="text" [(ngModel)]='feature.problem.description'>
                      </div>
                    </div>
                    <div class="" style="width: 100%;">
                      <div class="" style="width: 100%; float: left;">
                        <div class="" style="text-align: center; float: left;">Tell us a <strong>User Story</strong> of this feature.</div>
                        <div class="" style="float: left; position: relative; height: 15px; width: 20px; margin-top: 4px;">
                          <div class="tutorial-circle" (mouseenter) ="this.tutorialOn.stories = true"  (mouseleave) ="this.tutorialOn.stories = false">?</div>
                          <div class="tutorial-box" *ngIf="this.tutorialOn.stories" (mouseenter) ="this.tutorialOn.stories = true"  (mouseleave) ="this.tutorialOn.stories = false">
                            <h5>User Stories</h5>
                            <p>Think about the thought process of a user trying to use this feature. Who are they, what is their problem, and what do they need to fix it?</p><br>
                            <p>Think in very general, non-technical terms.</p>
                          </div>
                        </div>
                      </div>
                        <div class="" style="width: 100%; float: left;">
                          <div class="" style="float: left; line-height: 47px;">
                            As a
                          </div>
                          <input class="" style="width: 160px; height: 32px; float: left; margin-left: 6px; margin-right: 2px;" type="text" [(ngModel)]='feature.story[0]'>
                          <div class="" style="float: left; line-height: 47px; height: 47px">
                            , I have a
                          </div>
                          <input class="" style="width: 160px; height: 32px; float: left; margin-left: 6px; margin-right: 2px;" type="text" [(ngModel)]='feature.story[0]'>
                          <div class="" style="float: left; line-height: 47px;; height: 47px">
                            , which can be solved by
                          </div>
                          <input class="" style="width: 160px; height: 32px; float: left; margin-left: 6px; margin-right: 2px;" type="text" [(ngModel)]='feature.story[0]'>
                          </div>
                      </div>
                    </div>
                  <div class="col-xs-6 col-xs-offset-3 text-center">
                    <button class="edit-button" (click)="addFeature(product)" style="width: 125px;">Add Feature</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="" *ngIf='!this.creatingNew'>
        <button class="edit-button edit-button-prev" type="button" name="button" (click)='activeTab.main = activeTab.main-1' *ngIf="activeTab.main>0">Back</button>
        <button class="edit-button edit-button-next" type="button" name="button" (click)='activeTab.main = activeTab.main+1' *ngIf="checkFields(activeTab.main) && activeTab.main < 2">Next</button>
        <button class="edit-button edit-button-add-2" (click)="addProduct()" *ngIf="activeTab.main == 2">Add Product</button>
        <button class="edit-button-nope edit-button-next" type="button" name="button" style="" *ngIf='!checkFields(activeTab.main) && activeTab.main < 2'>Incomplete</button>
      </div>
      <button class="edit-button edit-button-save" type="button" name="button" (click)='updateCompany(this.currentAccount)' *ngIf="checkFields(9)">Save</button>
      <button class="edit-button-nope edit-button-nope-2" type="button" name="button" style="" *ngIf='!checkFields(9)'>Incomplete</button>
    </div>
  </div>
</div>
