.page {
  height: 100%;
}

.top-bar {
  margin-bottom: 2vh;
}

.edit-box {
  position: absolute;
  right: 0px;
  top: 30px;
}

.box {
  border-radius: 15px;
  border: 10px solid rgba(0,100,200, 0.9);
  background: rgb(255,255,255);
  box-shadow: 0px 3px 10px #888888;
}

.box-left {
  padding-left: 0px;
  padding-right: 5px;
  margin-bottom: 0px;
}

.box-right {
  padding-left: 5px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.basic-info {
    margin-bottom: 2vh;
    padding: 0px;
    height: 170px;
}

.basic-info-header {
  font-size: 24px;
  font-weight: bold;
}

.basic-info-text {
  float: left;
  position: relative;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  font-weight: bold;
}
.basic-info-text img{
  height: 38px;
  margin-right: 3px;
  /*margin-top: -5px;*/
}

.basic-info-text-2 {
  float: left;
  position: relative;
  height: 76px;
  line-height: 19px;
  font-size: 14px;
  font-weight: bold;
}

.profile-navbar {
  width: 100%;
  height: 60px;
  background: rgba(0,50,150,.75);
  border-radius: 5px;
  box-shadow: 0px 3px 10px #888888;
}

.profile-navbar-tab {
  cursor: pointer;
  float: left;
  line-height: 60px;
  position: relative;
  height: 100%;
  width: calc(100% / 5);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255,255,255);
  margin: 0px;
  border-right: 2px solid rgba(0,0,0,0.35);
}

.profile-navbar-tab-active {
  background: rgba(255,255,255,.95);
  color: rgb(0,0,0);
}
.profile-navbar-tab-active-left {
  background: rgba(255,255,255,.95);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: rgb(0,0,0);
}
.profile-navbar-tab-active-right {
  background: rgba(255,255,255,.95);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgb(0,0,0);
}

.profile-navbar-tab:hover {
  background: rgba(255,255,255,0.5)
}
.profile-navbar-tab-active:hover {
  background: rgba(255,255,255,.95);
}
.profile-navbar-tab-active-left:hover {
  background: rgba(255,255,255,.95);
}
.profile-navbar-tab-active-right:hover {
  background: rgba(255,255,255,.95);
}

.profile-navbar-tab:active {
  background: rgba(255,255,255,0.6)
}

.employee-panel {
  position: relative;
  background: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.15);
  padding-top: 10px;
  height: 100px;
  line-height: 26px;
}
.employee-link {
  position: absolute;
  right: 10px;
  top: 10px;
  background: green;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid rgba(255,255,255,0.25);
  height: 80px;
  width: 60px;
  text-align: center;
  line-height: 20px;
  padding-top: 16px;
}
.leader-panel {
  position: relative;
  background: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.15);
  font-size: 16px;
  padding-top: 10px;
  height: 124px;
  line-height: 33px;
}
.leader-link {
  position: absolute;
  right: 10px;
  top: 15px;
  background: green;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid rgba(255,255,255,0.25);
  height: 94px;
  width: 60px;
  text-align: center;
  line-height: 30px;
  padding-top: 16px;
}

.leadership {
  padding-top: 0px;
  height: 35vh;
  overflow: hidden;
}

.leadership-inner {
  height: 26.58vh;
  background: rgba(0,0,0,0.02);
  overflow-y: auto;
  border: 1px solid rgba(0,100,200, 0.9);
}

.employees {
  margin-top: 2vh;
  padding-top: 0px;
  height: 45vh;
  overflow: hidden;
}

.employees-inner {
  height: 36.48vh;
  background: rgba(0,0,0,0.02);
  overflow-y: auto;
  border: 1px solid rgba(0,100,200, 0.9);
}

.employees .div-title p{
    width: 200px;
}

.employees .div-title div{
    width: calc(100% - 210px);
    margin-top: 0px;
    margin-bottom: 0;
}

.service {
  height: calc(82vh - 40px);
  overflow: auto
}

.service-panel {
  background: rgba(0,0,0,0.02);
  border: 1px solid rgba(0,100,200, 0.9);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.product-tab-bar {
  height: 40px;
}

.product-tab {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid rgba(0,100,200, 0.9);
  border-left: 1px solid rgba(0,100,200, 0.9);
  border-right: 1px solid rgba(0,100,200, 0.9);
  background: rgba(230,230,230,1);
}
.product-tab:hover{
  background: rgba(240,240,240,1);
}

.product-tab-active {
  cursor: auto;
  margin-top: 0px;
  height: 40px;
  font-size: 20px;
  background: rgba(250,250,250,1);
  line-height: 40px;
  color: rgb(0,100,200);
}
.product-tab-active:hover {
  background: rgba(250,250,250,1);
}

.product {
  height: calc(82vh - 40px);
  overflow: auto
}

.product-customers {
  height: 20vh;
}

.ad-service {
  height: 23.2vh;
}
.ad-service li {
  line-height: 6vh;
  font-size: 20px;
}

.analytics {
  height: 62.1vh;
}

.box .div-title {
  text-align: center;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.capa-chart {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.fullwidth {
    width: 100%;
}

.halfwidth {
    width: calc(50% - 2px);
}
.thirdwidth {/*TIM*/
  width: calc(33% - 3px);
}

.left {
    float: left;
}

.center {/*TIM*/
    float: initial;
    text-align: center;
}

.right {
    float: right;
}

.clear::before {
    display: table;
    content: "";
}

.clear::after {
    display: table;
    clear: both;
    content: "";
}

.main {
    margin-left: 100px;
    margin-right: 30px;
    width: calc(100% - 130px);
}

.srow {
    height: 50px;
    line-height: 50px;
}

.srow img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.srow p{
    width: 80px;
}

.srow input{
    width: calc(100% - 160px);
}

.ssrow {
    height: 30px;
    line-height: 30px;
}

.mrow {
    height: 75px;
    line-height: 20px;
}

.ssrow input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 5px;
}

button {
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #585858;
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 40px;
}

.cert-container {
  overflow: auto;
}

.degree-box {
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 1px;
  text-align: center;
  color: black;
}

.div-title {
    margin-top: 50px;
    display: inline-block;
}

.div-title  * {
    display: inline-block;
}

.div-title img {
    width: 100px;
    height: 90px;
}

.div-title p {
    margin-left: 10px;
    font-size: 25px;
}

.div-title div{
    height: 3px;
    background-color: #757575;
    margin-bottom: 8px;
}

input {
    height: 34px;
    margin-top: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

selector {
    margin-top: 8px;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

.half-panel {
  background: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.15);
  padding-top: 12px;
}

.basic-info .div-title p{
  margin-top: -5px;
  width: 250px;
  overflow: visible;
  white-space: nowrap;
}

.basic-info .div-title div{
  width: 100%;
  margin-bottom: 30px;
}

.avatar {
  position: relative;
  width: 150px;
  height: 150px;
  margin-right: 30px;
  margin-left: 0px;
  border-radius: 5px;
  background: rgb(250,250,250);
  overflow: hidden;
}

.avatar-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 150px;
  height: auto;
}

.avatar-small {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 30px;
  margin-left: 0px;
  border-radius: 5px;
  background: rgb(250,250,250);
  overflow: hidden;
}

.avatar-img-small {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 80px;
  height: auto;
}

.leader-avatar-small {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  margin-left: 0px;
  border-radius: 5px;
  background: rgb(250,250,250);
  overflow: hidden;
}

.leader-avatar-img-small {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100px;
  height: auto;
}

.basic-info .main>div{
    width: calc(50% - 90px);
    padding-left: 30px;
    padding-right: 30px;
    border-left: 3px solid #757575;
}

.basic-info .main p{
    width: calc(100% - 70px);
}

.basic-info .two-p{
    width: calc(50% - 30px)!important;
}

.leadership .div-title p{
    width: 200px;
}

.leadership .div-title div{
    width: calc(100% - 210px);
    margin-top: 0px;
    margin-bottom: 0;
}

.div-tab {
    margin-top: 40px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: #555;
    text-align: center;
}
.div-tab .center{
  border-bottom: 5px solid #757575;
}
.div-tab .center:hover{
  background-color: #3bbbed;
  color: #eff;
  border-bottom: 5px solid #2aaadc;
}
.div-tab .left{
    border-bottom: 5px solid #757575;
}
.div-tab .left:hover{
    background-color: #3bbbed;
    color: #eff;
    border-bottom: 5px solid #2aaadc;
}

.div-tab div.on{
    background-color: #3bbbed;
    color: #eff;
    border-bottom: 5px solid #2aaadc;
}

.div-tab .right{
    border-bottom: 5px solid #757575;
}

.div-tab .right:hover{
    background-color: #3bbbed;
    color: #eff;
    border-bottom: 5px solid #2aaadc;
}

.product .div-title div{
    width: calc(100% - 259px);
}

.ad-service.div-title>div{
    width: calc(100% - 401px)!important;
    display: inline-block;
}

.ad-service p{
    line-height: 50px;
    padding: 0!important;
    margin: 0!important;
}

.customer.div-title>div{
    width: calc(100% - 551px)!important;
}

.customer .main p{
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.customer .main .row>img{
    margin-top: 20px;
}

.performance .div-title div{
    width: calc(100% - 383px);
}

.pp-slide {
    width: calc(33% - 40px);
    min-width: 150px;
    margin: 20px;
    border-radius: 2px;
    border: 2px solid #ccc;
    box-shadow: 0px 1px 5px #ccc;
    display: inline-block;
}

.pp-slide img{
    border: 1px solid #757575;
}

.pp-slide p{
    padding: 20px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
}

.pp-slide p.halfwidth {
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    text-align: left;
    line-height: 15px;
}

.pp-slide p.left{
    padding-left: 30px;
}

.pp-slide p.right{
    padding-right: 30px;
}

.pp-slide p.halfwidth strong{
    line-height: 20px;
}

.pp-slide button {
    width: 80%;
    margin-left: 10%;
}

.cert .div-title div{
    width: calc(100% - 422px);
}

.cert .div-title p {
    line-height: 45px;
}

.vehicle .div-title div{
    width: calc(100% - 242px);
}

.schedule .div-title div{
    width: calc(100% - 271px);
}






.strength .div-title p{
    color: #198fcf;
}

.strength .div-title div{
    background-color: #0e6daf;
    width: calc(100% - 272px);
}

.leftBorder {
  height: 45px;
  padding-left: 10px;
  border-left: 4px solid #3e3e3e;
}

.noWrapScroll {
  white-space: nowrap;
  overflow: visible;
}

@media screen and (min-width: 1000px) {
  .leadership.leadership-small, .performance.performance-small {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .leadership.leadership-big, .performance.performance-big {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .main.main-collapse {
    margin-left: 0;
    margin-right: 0;
    width: calc(100%);
  }
}
