<div class="container" *ngIf='!this.promiseFinished'>
  <div class="loader"></div>
  <!-- <p class="loading">Loading</p> -->
</div>
<div class="page" *ngIf='this.promiseFinished'>
  <div class="container top-bar">
    <div class="profile-navbar">
      <div class="profile-navbar-tab" (click)='switchTab(0)' style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;" [ngClass]="{'profile-navbar-tab-active-left': this.activeTab == 0}">
        Profile
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(1)' [ngClass]="{'profile-navbar-tab-active': this.activeTab == 1}">
        Employees
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(2)' [ngClass]="{'profile-navbar-tab-active': this.activeTab == 2}">
        Services
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(3)' [ngClass]="{'profile-navbar-tab-active': this.activeTab == 3}">
        Products
      </div>
      <div class="profile-navbar-tab" (click)='switchTab(4)' style="border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-right: 0px solid black;" [ngClass]="{'profile-navbar-tab-active-right': this.activeTab == 4}">
        Past Performances
      </div>
    </div>
    <div class="edit-box">
      <div *ngIf="this.isUserAdmin" class="btn-edit" (click) = 'editCompany()'>Edit</div>
    </div>
  </div>
<!-- PROFILE TAB -->
<div class="container" *ngIf='activeTab==0'>
  <div class="basic-info box col-xs-12">
    <div class="row">
      <div class="left avatar" style="position: absolute; left: 0px">
        <img src='{{ this.currentAccount.avatar }}' class="avatar-img">
      </div>
      <div class="" style="width: calc(100% - 300px); position: absolute; left: 150px; padding-bottom: 6px">
        <div class="basic-info-header col-xs-12" style="text-align: center;">
          {{this.currentAccount.name}}
        </div>
        <div class="col-xs-7" style="">
          <div class="" style="top: 30px; padding-bottom: 8px;">
            <div class="col-xs-12 basic-info-text"><img src="../assets/img/glyphicon/email-1.png" class="left"><p class="left noWrapScroll two-p">{{ this.currentAccount.email }}</p></div>
            <div class="col-xs-12 basic-info-text"><img src="../assets/img/glyphicon/phone-2.png" class="left"><p class="left noWrapScroll two-p">{{
              this.currentAccount.contactNumber }}</p></div>
            <div class="col-xs-12 basic-info-text"><img src="../assets/img/glyphicon/post-1.png" class="left"><p class="left noWrapScroll two-p">{{ this.currentAccount.address }} | {{ this.currentAccount.city }}, {{ this.currentAccount.state }}</p></div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="col-xs-12 basic-info-text-2"><p class="left two-p">Information<br>updated</p><p class="right two-p noWrapScroll" [style.text-align]="'right'">{{ this.currentAccount.lastUpdated }}</p></div>
          <div class="col-xs-12 basic-info-text-2"><p class="left two-p">Information<br>accuracy</p><rating [(ngModel)]="this.currentAccount.informationAccuracy" [max]="5" class="right"></rating></div>
          <!--<div class="srow"><img src="../assets/img/glyphicon/post-1.png" class="left"><p class="left">Service disable vetran owned</p></div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- EMPLOYEES TAB -->
<div class="container" *ngIf='activeTab==1'>
  <div class="leadership col-xs-12 box" style="">
    <div class="col-xs-12 div-title" style="text-align: center; margin-top: 0.5vh; margin-bottom: 0.5vh;">
      <p class="" style="">LEADERSHIP</p>
    </div>
    <div *ngIf="users[0]" class="leadership-inner">
      <div class="col-xs-12 col-md-6" style="padding: 2px" *ngFor='let index of users'>
        <div class="leader-panel col-xs-12">
          <div class="left leader-avatar-small">
            <img src='{{ index.avatar }}' class="leader-avatar-img-small">
          </div>
          <p class="">{{ index.firstName + ' ' + index.lastName}}</p>
          <p *ngIf="index.positionHistory[0]" class="">{{ index.positionHistory[0].PositionTitle }}</p>
          <p class="">{{ index.username }}</p>
          <a href="{{index._id}}">
            <div class="leader-link">
              More<br>Info
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="main clear" *ngIf="!users[0]">No leadership to show</div>
  </div>
  <!-- <div class="leadership leadership-small col-xs-12 clear">
    <div class="col-xs-12 srow div-title">
      <p class="left">LEADERSHIP</p>
      <div></div>
    </div>
    <div class="main clear"></div>
    <div style="display: flex; flex-wrap: wrap" *ngIf="users[0]" class="main main-collapse clear">
      <div class="halfwidth left" style="padding: 2px" *ngFor='let index of users'>
        <div class="leader-panel col-xs-12">
          <div class="left leader-avatar-small">
            <img src='{{ index.avatar }}' class="leader-avatar-img-small">
          </div>
          <p class="">{{ index.firstName + ' ' + index.lastName}}</p>
          <p *ngIf="index.positionHistory[0]" class="">{{ index.positionHistory[0].PositionTitle }}</p>
          <p class="">{{ index.username }}</p>
          <a href="{{index._id}}">
            <div class="leader-link">
              More<br>Info
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="main clear" *ngIf="!users[0]">No leadership to show</div>
  </div> -->
  <div class="employees box col-xs-12 clear">
      <div class="col-xs-12 div-title" style="">
        <p class="">EMPLOYEES</p>
      </div>
      <div class="employees-inner">
        <div class="" *ngIf='this.currentAccount.userProfileProxies'>
          <div class="col-xs-12 col-md-6 left" style="padding: 2px" *ngFor='let index of this.currentAccount.userProfileProxies'>
            <div class="employee-panel col-xs-12" *ngIf="index.userProfile">
              <div class="left avatar-small">
                <img src='{{ index.userProfile.avatar }}' class="avatar-img-small">
              </div>
              <p class="">{{ index.userProfile.firstName + ' ' + index.userProfile.lastName}}</p>
              <p *ngIf="index.userProfile.positionHistory[0]" class="">{{ index.userProfile.positionHistory[0].PositionTitle }}</p>
              <p class="">{{ index.userProfile.username }}</p>
              <a href="{{index.userProfile._id}}">
                <div class="employee-link">
                  More<br>Info
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="" *ngIf="!this.currentAccount.userProfileProxies" class="main clear">
         No employees to show
      </div>
      <div class="" *ngIf="this.currentAccount.userProfileProxies">
        <div *ngIf="!this.currentAccount.userProfileProxies[0]" class="main clear">No employees to show</div>
      </div>
  </div>
  <!-- <div class="leadership col-xs-12 clear">
    <div class="col-xs-12 srow div-title">
      <p class="left">EMPLOYEES</p>
      <div></div>
    </div>
    <div class="main clear"></div>
    <div class="main main-collapse clear">
      <div style="display: flex; flex-wrap: wrap" class="" *ngIf='this.currentAccount.userProfileProxies'>
        <div class="" style="padding: 2px" *ngFor='let index of this.currentAccount.userProfileProxies'>
          <div class="half-panel col-xs-12">
            <div *ngIf="index.userProfile">
              <img src='{{ index.userProfile.avatar }}' class="avatar" [style.width]="'150px'">
              <p class="srow">{{ index.userProfile.firstName + ' ' + index.userProfile.lastName}}</p>
              <p *ngIf="index.userProfile.positionHistory[0]" class="srow">{{ index.userProfile.positionHistory[0].PositionTitle }}</p>
              <p class="srow">{{ index.userProfile.username }}</p>
              <button (click)="toUserProfile(index.userProfile._id)">More Information</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="" *ngIf="!this.currentAccount.userProfileProxies" class="main clear">
      No employees to show
    </div>
    <div class="" *ngIf="this.currentAccount.userProfileProxies">
      <div *ngIf="!this.currentAccount.userProfileProxies[0]" class="main clear">No employees to show</div>
    </div>
  </div> -->
</div>


<!-- SERVICES TAB -->
<div class="container" *ngIf='activeTab==2'>
  <div class="service col-xs-12 clear" *ngIf="!services[0]">No Services</div>
  <div class="product-tab-bar col-xs-10 col-xs-offset-1">
    <div class="product-tab col-xs-3" *ngIf='serviceTab>0' (click)='switchServiceTab(serviceTab-1) && this.services[this.serviceTab-1]'>
      {{this.services[this.serviceTab-1].name}}
    </div>
    <div class="product-tab product-tab-active col-xs-6 col-xs-offset-3" *ngIf='serviceTab<=0 && this.services[this.serviceTab]'>
      {{this.services[this.serviceTab].name}}
    </div>
    <div class="product-tab product-tab-active col-xs-6" *ngIf='serviceTab>0 && this.services[this.serviceTab]'>
      {{this.services[this.serviceTab].name}}
    </div>
    <div class="product-tab col-xs-3" (click)='switchServiceTab(serviceTab+1)' *ngIf='this.services[serviceTab+1]'>
      {{this.services[this.serviceTab+1].name}}
    </div>
  </div>
    <div class="service col-xs-12 box clear">
      <div class="" *ngFor='let index of this.services; let i = index'>
        <div class="" *ngIf='i==serviceTab'>
          <div class="div-title col-md-12">
            <p>{{index.name}}</p>
            <div></div>
          </div>
          <div class="capa-main col-md-12">
            <div class="col-xl-12 col-lg-6">
              <div class="capa-chart col-xs-12">
                <app-bent-bars-chart width='300' height='300' divID='bbChart{{index._id}}' [values]='getServiceChartValue(index._id)'></app-bent-bars-chart>
              </div>
            </div>
            <div class="col-xs-12 col-lg-6 text-container">
              <div class="row">
                <div class="col-xs-12 col-md-6 left">
                  <app-color-comment-box *ngFor='let feature of index.feature' color='{{getServiceChartColor(feature.score)}}' text='{{feature.title}}' class="col-xs-12 col-sm-6 col-md-12"></app-color-comment-box>
                </div>
                <div class="col-xs-12 col-md-6 right">
                  <p *ngFor='let skill of index.skills' class="col-xs-12 col-sm-6 col-md-12">{{ skill }} </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>


<!-- PRODUCTS TAB -->
<div class="container" *ngIf='activeTab==3'>
  <div class="product col-xs-12 clear main" *ngIf="!products[0]">No Products</div>
  <div class="product-tab-bar col-xs-10 col-xs-offset-1">
    <div class="product-tab col-xs-3" *ngIf='productTab>0' (click)='switchProductTab(productTab-1) && this.products[this.productTab-1]'>
      {{this.products[this.productTab-1].name}}
    </div>
    <div class="product-tab product-tab-active col-xs-6 col-xs-offset-3" *ngIf='productTab<=0 && this.products[this.productTab]'>
      {{this.products[this.productTab].name}}
    </div>
    <div class="product-tab product-tab-active col-xs-6" *ngIf='productTab>0 && this.products[this.productTab]'>
      {{this.products[this.productTab].name}}
    </div>
    <div class="product-tab col-xs-3" (click)='switchProductTab(productTab+1)' *ngIf='this.products[productTab+1]'>
      {{this.products[this.productTab+1].name}}
    </div>

  </div>
  <div class="product col-xs-12 box clear">
    <div class="" *ngFor='let p of this.products; let i = index'>
      <div class="" *ngIf='i==productTab'>
        <div class="div-title col-xs-12">
          <p>{{ p.name }}</p>
        </div>
        <div style="display: block" class="col-xs-12 col-sm-6">
          <canvas baseChart
          [data]="getProductChartData(p._id)"
          [labels]="getProductChartLabel(p._id)"
          [chartType]="'pie'"></canvas>
        </div>
        <div class="col-xs-12 col-sm-6 text-container">
          <div class="col-xs-12" [style.overflow] = "'auto'">
            <p *ngFor='let feature of p.feature'>{{feature.name}}</p>
          </div>
        </div>
        <div class="row main">
          <div class="col-xs-12 text-container">
            <div class="col-xs-12" [style.overflow] = "'auto'">
              {{p.description}}
            </div>
          </div>
        </div>
        <div class="row main">
          <a href="{{p.moreInfoLink}}"><button class="col-xs-12 col-sm-5">More Information</button></a>
          <a href="{{p.viewDemoLink}}"><button class="col-xs-12 col-sm-5 col-sm-offset-2">View Demo</button></a>
        </div>

        <div class="ad-service div-title col-xs-12">
          <img src="./assets/img/service.png">
          <p>ADDITIONAL SERVICES</p>
          <div></div>
        </div>
        <div class="ad-service main">
          <div class="col-xs-12 col-sm-4"><p class="col-xs-11">Provide Training?</p><input type="checkbox" class="col-xs-1" [attr.checked]="p.training ? true : null">
          </div>
          <div class="col-xs-12 col-sm-4"><p class="col-xs-11">Product Customization?</p><input type="checkbox" class="col-xs-1" [attr.checked]="p.customization ? true : null">
          </div>
          <div class="col-xs-12 col-sm-4"><p class="col-xs-11">Ongoing Maintenance</p><input type="checkbox" class="col-xs-1" [attr.checked]="p.maintenance ? true : null">
          </div>
        </div>
        <div class="customer div-title col-xs-12" *ngIf='(p.customers.defense.length > 0 || p.customers.civilian.length > 0 || p.customers.defense.commercial > 0)'>
          <img src="./assets/img/customer.png">
          <p>CUSTOMERS USING THE PRODUCT</p>
          <div></div>
        </div>
        <div class="main" *ngIf='(p.customers.defense.length > 0 || p.customers.civilian.length > 0 || p.customers.defense.commercial > 0)'>
          <div class="row col-xs-12 text-container text-center" *ngIf='p.customers.defense.length > 0'>
            <div class="left" [style.width]="'120px'">
              <p class="col-xs-12">DEFENSE</p>
              <img src="./assets/img/defense.png" [style.width]="'100px'" [style.margin-left]="'10px'">
            </div>
            <div class="left text-center" *ngFor='let jendex of p.customers.defense' [style.width]="'120px'">
              <img src="{{jendex.avatar}}" [style.width]="'100px'" [style.margin-left]="'10px'">
              <p class="col-xs-12">{{jendex.name}}</p>
            </div>
          </div>
          <div class="row col-xs-12 text-container" *ngIf='p.customers.civilian.length > 0'>
            <div class="left" [style.width]="'120px'">
              <p class="col-xs-12">CIVILIAN</p>
              <img src="./assets/img/civilian.png" [style.width]="'100px'" [style.margin-left]="'10px'">
            </div>
            <div class="left text-center" *ngFor='let jendex of p.customers.civilian' [style.width]="'120px'">
              <img src="{{jendex.avatar}}" [style.width]="'100px'" [style.margin-left]="'10px'">
              <p class="col-xs-12">{{jendex.name}}</p>
            </div>
          </div>
          <div class="row col-xs-12 text-container" *ngIf='p.customers.commercial.length > 0'>
            <div class="left" [style.width]="'120px'">
              <p class="col-xs-12">COMMERCIAL</p>
              <img src="./assets/img/commercia.png" [style.width]="'100px'" [style.margin-left]="'10px'">
            </div>
            <div class="left text-center" *ngFor='let jendex of p.customers.commercial' [style.width]="'120px'">
              <img src="{{jendex.avatar}}" [style.width]="'100px'" [style.margin-left]="'10px'">
              <p class="col-xs-12">{{jendex.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

<!-- PAST PERFORMANCES TAB -->
<div class="container" *ngIf='activeTab==4'>
  <div class="performance performance-big col-xs-12 clear" >
    <div class="div-title col-xs-12">
      <img src="./assets/img/performance.png">
      <p>PAST PERFORMANCE</p>
      <div></div>
    </div>
    <div class="main clear">
      <div *ngIf="!pastperformances[0]">No past performance to show</div>
      <div *ngIf="pastperformances[0]">
        <div class="halfwidth left" style="padding: 2px" *ngFor="let pp of pastperformances">
          <div class="half-panel col-xs-12">
            <img src="{{pp.avatar}}" class="left avatar">
            <p class="col-xs-12">{{pp.title}}</p>
            <p><strong>Client</strong></p><p class="srow">{{pp.client}}</p>
            <p><strong>Project</strong></p><p class="srow">{{pp.topic}}</p>
            <button class="col-xs-8 col-xs-offset-2" (click)='toPastPerformance(pp._id)'>More Information</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <button class="col-xs-4 col-xs-offset-4" *ngIf="this.isUserAdmin" (click)='toPastPerformanceCreate(this.currentAccount._id)'>Add Past Performance</button>
      </div>
    </div>
  </div>
</div>

<!-- OLD PAGE -->
  <div class="container" *ngIf='this.activeTab == 7'>
    <div class="basic-info col-xs-12 clear">
      <div class="col-xs-12 srow div-title" *ngIf = this.promiseFinished>
        <p class="left">{{ this.currentAccount.name }}</p>
        <div></div>
      </div>
      <div class="main main-collapse clear"></div>
      <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0">
        <img id="company-photo" src='{{ this.currentAccount.avatar }}' class="left avatar">
      </div>
        <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0">
            <div class="srow"><img src="../assets/img/glyphicon/email-1.png" class="left leftBorder"><p class="left noWrapScroll two-p">{{ this.currentAccount.email }}</p></div>
            <div class="srow"><img src="../assets/img/glyphicon/phone-2.png" class="left leftBorder"><p class="left noWrapScroll two-p">{{
              this.currentAccount.contactNumber }}</p></div>
            <div class="srow"><img src="../assets/img/glyphicon/post-1.png" class="left leftBorder"><p class="left noWrapScroll two-p">{{ this.currentAccount.address }} | {{ this.currentAccount.city }}, {{ this.currentAccount.state }}</p></div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0">
            <div class="srow"><p class="left leftBorder two-p" [style.line-height]="'25px'">Information<br>updated</p><p class="right two-p noWrapScroll" [style.text-align]="'right'">{{ this.currentAccount.lastUpdated }}</p></div>
            <div class="srow"><p class="left leftBorder two-p" [style.line-height]="'25px'">Information<br>accuracy</p><rating [(ngModel)]="this.currentAccount.informationAccuracy" [max]="5" class="right"></rating></div>
            <!--<div class="srow"><img src="../assets/img/glyphicon/post-1.png" class="left"><p class="left">Service disable vetran owned</p></div>-->
        </div>
    </div>

    <div class="leadership leadership-big col-xs-12 clear">
        <div class="col-xs-12 srow div-title">
            <p class="left">LEADERSHIP</p>
            <div></div>
        </div>
        <div *ngIf="users[0]" class="main clear">
            <div class="halfwidth left" style="padding: 2px" *ngFor='let index of users'>
              <div class="half-panel col-xs-12">
                <div class="left avatar">
                  <img src='{{ index.avatar }}' class="avatar-img">
                </div>
                <p class="srow">{{ index.firstName + ' ' + index.lastName}}</p>
                <p *ngIf="index.positionHistory[0]" class="srow">{{ index.positionHistory[0].PositionTitle }}</p>
                <p class="srow">{{ index.username }}</p>
                <button class="col-xs-8 col-xs-offset-2" (click)="toUserProfile(index._id)">More Information</button>
              </div>
            </div>
        </div>
      <div class="main clear" *ngIf="!users[0]">No leadership to show</div>
    </div>

    <div class="leadership leadership-small col-xs-12 clear">
      <div class="col-xs-12 srow div-title">
        <p class="left">LEADERSHIP</p>
        <div></div>
      </div>
      <div class="main clear"></div>
      <div style="display: flex; flex-wrap: wrap" *ngIf="users[0]" class="main main-collapse clear">
        <div class="halfwidth left" style="padding: 2px" *ngFor='let index of users'>
          <div class="half-panel col-xs-12">
            <div class="left avatar">
              <img src='{{ index.avatar }}' class="avatar-img">
            </div>
            <p class="srow">{{ index.firstName + ' ' + index.lastName}}</p>
            <p *ngIf="index.positionHistory[0]" class="srow">{{ index.positionHistory[0].PositionTitle }}</p>
            <p class="srow">{{ index.username }}</p>
            <button style="height: 4em" (click)="toUserProfile(index._id)">More Information</button>
          </div>
        </div>
      </div>
      <div class="main clear" *ngIf="!users[0]">No leadership to show</div>
    </div>

    <div class="leadership leadership-big col-xs-12 clear">
        <div class="col-xs-12 srow div-title">
            <p class="left">EMPLOYEES</p>
            <div></div>
        </div>
        <div class="main clear">
          <div class="" *ngIf='this.currentAccount.userProfileProxies'>
            <div class="halfwidth left" style="padding: 2px" *ngFor='let index of this.currentAccount.userProfileProxies'>
              <div class="half-panel col-xs-12">
                <div *ngIf="index.userProfile">
                  <div class="left avatar">
                    <img src='{{ index.userProfile.avatar }}' class="avatar-img">
                  </div>
                  <p class="srow">{{ index.userProfile.firstName + ' ' + index.userProfile.lastName}}</p>
                  <p *ngIf="index.userProfile.positionHistory[0]" class="srow">{{ index.userProfile.positionHistory[0].PositionTitle }}</p>
                  <p class="srow">{{ index.userProfile.username }}</p>
                  <button class="col-xs-8 col-xs-offset-2" (click)="toUserProfile(index.userProfile._id)">More Information</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="" *ngIf="!this.currentAccount.userProfileProxies" class="main clear">
           No employees to show
        </div>
        <div class="" *ngIf="this.currentAccount.userProfileProxies">
          <div *ngIf="!this.currentAccount.userProfileProxies[0]" class="main clear">No employees to show</div>
        </div>
    </div>


    <div class="leadership leadership-small col-xs-12 clear">
      <div class="col-xs-12 srow div-title">
        <p class="left">EMPLOYEES</p>
        <div></div>
      </div>
      <div class="main clear"></div>
      <div class="main main-collapse clear">
        <div style="display: flex; flex-wrap: wrap" class="" *ngIf='this.currentAccount.userProfileProxies'>
          <div class="" style="padding: 2px" *ngFor='let index of this.currentAccount.userProfileProxies'>
            <div class="half-panel col-xs-12">
              <div *ngIf="index.userProfile">
                <img src='{{ index.userProfile.avatar }}' class="avatar" [style.width]="'150px'">
                <p class="srow">{{ index.userProfile.firstName + ' ' + index.userProfile.lastName}}</p>
                <p *ngIf="index.userProfile.positionHistory[0]" class="srow">{{ index.userProfile.positionHistory[0].PositionTitle }}</p>
                <p class="srow">{{ index.userProfile.username }}</p>
                <button (click)="toUserProfile(index.userProfile._id)">More Information</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="" *ngIf="!this.currentAccount.userProfileProxies" class="main clear">
        No employees to show
      </div>
      <div class="" *ngIf="this.currentAccount.userProfileProxies">
        <div *ngIf="!this.currentAccount.userProfileProxies[0]" class="main clear">No employees to show</div>
      </div>
    </div>

    <div class="div-tab col-xs-12 clear">
        <div [style.width] = "'80%'" [style.margin-left]="'10%'">
          <!-- <div class="thirdwidth left" id="teamTab" (click)='changeToTeam();'>Team</div><!--TIM-->
            <div class="halfwidth left" id="serviceTab" (click)='showService()'>Services</div>
            <div class="halfwidth left" id="productTab" (click)='showProduct()'>Products</div>
        </div>
    </div>

  <!-- START -- FOR PROJECT IN PROJECTS -->
    <div class="service col-xs-12 clear main" *ngIf="!products[0] && currentTab == 2">No Products</div>
    <div class="product col-xs-12 clear" *ngFor='let index of products'>
        <div class="div-title col-xs-12">
            <img src="./assets/img/product.png">
            <p>{{ index.name }}</p>
            <div></div>
        </div>
        <div class="row main">
            <div style="display: block" class="col-xs-12 col-sm-6">
              <canvas baseChart
                      [data]="getProductChartData(index._id)"
                      [labels]="getProductChartLabel(index._id)"
                      [chartType]="'pie'"></canvas>
            </div>
            <div class="col-xs-12 col-sm-6 text-container">
                <div class="col-xs-12" [style.overflow] = "'auto'">
                   <p *ngFor='let feature of index.feature'>{{feature.name}}</p>
                </div>
            </div>
        </div>
        <div class="row main">
            <div class="col-xs-12 text-container">
                <div class="col-xs-12" [style.overflow] = "'auto'">
                   {{index.description}}
                </div>
            </div>
        </div>
        <div class="row main">
           <a href="{{index.moreInfoLink}}"><button class="col-xs-12 col-sm-5">More Information</button></a>
          <a href="{{index.viewDemoLink}}"><button class="col-xs-12 col-sm-5 col-sm-offset-2">View Demo</button></a>
        </div>
        <div class="ad-service div-title col-xs-12">
            <img src="./assets/img/service.png">
            <p>ADDITIONAL SERVICES</p>
            <div></div>
        </div>
        <div class="ad-service main">
            <div class="col-xs-12 col-sm-4"><p class="col-xs-11">Provide Training?</p><input type="checkbox" class="col-xs-1" [attr.checked]="index.training ? true : null">
            </div>
            <div class="col-xs-12 col-sm-4"><p class="col-xs-11">Product Customization?</p><input type="checkbox" class="col-xs-1" [attr.checked]="index.customization ? true : null">
            </div>
            <div class="col-xs-12 col-sm-4"><p class="col-xs-11">Ongoing Maintenance</p><input type="checkbox" class="col-xs-1" [attr.checked]="index.maintenance ? true : null">
            </div>
        </div>
        <div class="customer div-title col-xs-12" *ngIf='currentTab== 2 && (index.customers.defense.length > 0 || index.customers.civilian.length > 0 || index.customers.defense.commercial > 0)'>
            <img src="./assets/img/customer.png">
            <p>CUSTOMERS USING THE PRODUCT</p>
            <div></div>
        </div>
        <div class="main" *ngIf='currentTab== 2 && (index.customers.defense.length > 0 || index.customers.civilian.length > 0 || index.customers.defense.commercial > 0)'>
            <div class="row col-xs-12 text-container text-center" *ngIf='index.customers.defense.length > 0'>
                <div class="left" [style.width]="'120px'">
                    <p class="col-xs-12">DEFENSE</p>
                    <img src="./assets/img/defense.png" [style.width]="'100px'" [style.margin-left]="'10px'">
                </div>
                <div class="left text-center" *ngFor='let jendex of index.customers.defense' [style.width]="'120px'">
                    <img src="{{jendex.avatar}}" [style.width]="'100px'" [style.margin-left]="'10px'">
                    <p class="col-xs-12">{{jendex.name}}</p>
                </div>
            </div>
            <div class="row col-xs-12 text-container" *ngIf='index.customers.civilian.length > 0'>
                <div class="left" [style.width]="'120px'">
                    <p class="col-xs-12">CIVILIAN</p>
                    <img src="./assets/img/civilian.png" [style.width]="'100px'" [style.margin-left]="'10px'">
                </div>
                <div class="left text-center" *ngFor='let jendex of index.customers.civilian' [style.width]="'120px'">
                    <img src="{{jendex.avatar}}" [style.width]="'100px'" [style.margin-left]="'10px'">
                    <p class="col-xs-12">{{jendex.name}}</p>
                </div>
            </div>
            <div class="row col-xs-12 text-container" *ngIf='index.customers.commercial.length > 0'>
                <div class="left" [style.width]="'120px'">
                    <p class="col-xs-12">COMMERCIAL</p>
                    <img src="./assets/img/commercia.png" [style.width]="'100px'" [style.margin-left]="'10px'">
                </div>
                <div class="left text-center" *ngFor='let jendex of index.customers.commercial' [style.width]="'120px'">
                    <img src="{{jendex.avatar}}" [style.width]="'100px'" [style.margin-left]="'10px'">
                    <p class="col-xs-12">{{jendex.name}}</p>
                </div>
            </div>
        </div>
    </div>
  <!-- END -- FOR PROJECT IN PROJECTS-->

  <!-- START -- FOR SERVICE IN SERVICES -->
    <div class="service col-xs-12 clear main" *ngIf="!services[0] && currentTab == 3">No Services</div>
    <div class="" *ngIf='currentTab == 3'>
      <div class="service col-xs-12 clear" *ngFor='let index of services'>
        <div class="div-title col-md-12">
          <img src="./assets/img/profile/capabilities-1.png">
          <p>{{index.name}}</p>
          <div></div>
        </div>
        <div class="capa-main col-md-12">
          <div class="col-xl-12 col-lg-6">
            <div class="capa-chart col-xs-12">
              <app-bent-bars-chart width='300' height='300' divID='bbChart{{index._id}}' [values]='getServiceChartValue(index._id)'></app-bent-bars-chart>
            </div>
          </div>
          <div class="col-xs-12 col-lg-6 text-container">
            <div class="row">
              <div class="col-xs-12 col-md-6 left">
                <app-color-comment-box *ngFor='let feature of index.feature' color='{{getServiceChartColor(feature.score)}}' text='{{feature.title}}' class="col-xs-12 col-sm-6 col-md-12"></app-color-comment-box>
              </div>
              <div class="col-xs-12 col-md-6 right">
                <p *ngFor='let skill of index.skills' class="col-xs-12 col-sm-6 col-md-12">{{ skill }} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- END -- FOR SERVICE IN SERVICES -->




  <!-- START For Team Tab -->
  <div class="performance col-xs-12 clear" >
      <div class="div-title col-xs-12">
        <img src="./assets/img/profile/agency-4.png">
        <p>Team Analytics</p>
          <div></div>
      </div>
      <div id="team_chart"  style="max-width: 75%; margin: 0 auto" [chart]="chart"></div>
  </div>

  <!-- END For Team Tab -->

    <div class="performance performance-big col-xs-12 clear" >
      <div class="div-title col-xs-12">
        <img src="./assets/img/performance.png">
        <p>PAST PERFORMANCE</p>
        <div></div>
      </div>
      <div class="main clear">
        <div *ngIf="!pastperformances[0]">No past performance to show</div>
        <div *ngIf="pastperformances[0]">
          <div class="halfwidth left" style="padding: 2px" *ngFor="let pp of pastperformances">
            <div class="half-panel col-xs-12">
              <img src="{{pp.avatar}}" class="left avatar">
              <p class="col-xs-12">{{pp.title}}</p>
              <p><strong>Client</strong></p><p class="srow">{{pp.client}}</p>
              <p><strong>Project</strong></p><p class="srow">{{pp.topic}}</p>
              <button class="col-xs-8 col-xs-offset-2" (click)='toPastPerformance(pp._id)'>More Information</button>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <button class="col-xs-4 col-xs-offset-4" *ngIf="this.isUserAdmin" (click)='toPastPerformanceCreate(this.currentAccount._id)'>Add Past Performance</button>
        </div>
      </div>
    </div>

    <div class="performance performance-small col-xs-12 clear" >
      <div class="div-title col-xs-12">
        <img src="./assets/img/performance.png">
        <p>PAST PERFORMANCE</p>
        <div></div>
      </div>
      <div class="main clear"></div>
      <div class="main main-collapse clear">
        <div *ngIf="!pastperformances[0]">No past performance to show</div>
        <div style="display: flex; flex-wrap: wrap" *ngIf="pastperformances[0]">
            <div style="padding: 2px" *ngFor="let pp of pastperformances">
              <div class="half-panel col-xs-12">
                <img src="{{pp.avatar}}" class="avatar">
                <p class="col-xs-12">{{pp.title}}</p>
                <p class="srow"><strong>Client</strong> {{pp.client}}</p>
                <p class="srow"><strong>Project</strong> {{pp.topic}}</p>
                <button style="height: 4em;" (click)='toPastPerformance(pp._id)'>More Information</button>
              </div>
            </div>
        </div>
        <button *ngIf="this.isUserAdmin" (click)='toPastPerformanceCreate(this.currentAccount._id)'>Add Past Performance</button>
      </div>
    </div>

    <div class="cert certification col-xs-12 clear" *ngIf="CQAC.certs[0] || CQAC.awards[0] || CQAC.clearances[0]">
      <div class="div-title col-xs-12">
          <img src="./assets/img/cert.png" class="left">
          <p><strong>CERTS, QUALS</strong><br>AWARDS & CLEARANCES</p>
          <div></div>
      </div>
        <div class="row main main-collapse text-center">
          <div class="col-xs-12 text-container cert-container" [style.max-height] = "'300px'">
            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0" *ngIf='CQAC.certs && CQAC.certs.length > 0'>
              <p>Certificates:</p>
              <div class="degree-box" *ngFor='let cert of CQAC.certs'>
                <p>{{cert.CertificationName}} Certification</p>
                <p>Earned {{cert.DateEarned}}</p>
              </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0" *ngIf='CQAC.awards && CQAC.awards.length > 0'>
              <p>Awards:</p>
              <div class="" *ngFor="let award of CQAC.awards" class="degree-box">
                <p *ngIf="award.length > 0">{{award }}</p>
              </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0" *ngIf='CQAC.clearances && CQAC.clearances.length > 0'>
              <p>Clearances:</p>
              <div class="degree-box" *ngFor="let clearance of CQAC.clearances">
                <p>{{clearance.clearanceType}} Clearance</p>
                <p>Awarded {{clearance.awarded}}, expires {{clearance.expiration}}
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="" *ngIf="currentAccount.vehicles">
      <div class="" *ngIf="currentAccount.vehicles[0]">
        <div class="" *ngIf="currentAccount.vehicles[0].vehicleType">
          <div class="vehicle col-xs-12 clear">
            <div class="div-title col-xs-12">
              <img src="./assets/img/vehicle.png">
              <p>VEHICLES</p>
              <div></div>
            </div>
            <div class="row main main-collapse">
              <div class="col-xs-12 text-container">
                <div class="col-xs-12" [style.overflow] = "'auto'" [style.max-height]="'250px'">
                  <h5 *ngFor='let index of currentAccount.vehicles'>{{index.vehicleType + ': ' + index.quantity}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="schedule col-xs-12 clear">
      <div class="div-title col-xs-12">
          <img src="./assets/img/schedule.png">
          <p>SCHEDULES</p>
          <div></div>
      </div>
      <div class="row main main-collapse">
        <div class="col-xs-12 text-container">
          <div *ngIf="!currentAccount.schedule">No schedule to show</div>
          <div class="" *ngIf="currentAccount.schedule">
            <div *ngIf="!currentAccount.schedule[0]">No schedule to show</div>
          </div>
          <div class="col-xs-12" [style.overflow] = "'auto'" [style.max-height]="'250px'">
             <h5 *ngFor='let index of currentAccount.schedule'>{{index.date + ': ' + index.content}}</h5>
          </div>
        </div>
      </div>
    </div> -->
</div>
</div>
