
<div class="container">
    <div *ngIf="this.isUserAdmin" class="btn-edit" (click) = 'editCompany()'>Edit</div>
    <div class="btn-back" (click) = 'this.location.back()'></div>
  <div class="basic-info col-xs-12 clear">
    <div class="col-xs-12 srow div-title" *ngIf = this.promiseFinished>
        <p class="left">{{ this.currentAccount.name }}</p>
        <div></div>
    </div>
    <div class="main clear">
        <img id="company-photo" src='{{ this.currentAccount.avatar }}' class="left avatar">
        <div class="left">
            <div class="srow"><img src="../assets/img/glyphicon/email-1.png" class="left"><p class="left">{{ this.currentAccount.email }}</p></div>
            <div class="srow"><img src="../assets/img/glyphicon/phone-2.png" class="left"><p class="left">{{
              this.currentAccount.contactNumber }}</p></div>
            <div class="srow"><img src="../assets/img/glyphicon/post-1.png" class="left"><p class="left">{{ this.currentAccount.address }} | {{ this.currentAccount.city }}, {{ this.currentAccount.state }}</p></div>
        </div>
        <div class="right">
            <div class="srow"><p class="left two-p" [style.line-height]="'25px'">Information<br>updated</p><p class="right two-p" [style.text-align]="'right'">{{ this.currentAccount.lastUpdated }}</p></div>
            <div class="srow"><p class="left two-p" [style.line-height]="'25px'">Information<br>accuracy</p><rating [(ngModel)]="this.currentAccount.informationAccuracy" [max]="5" class="right"></rating></div>
            <!--<div class="srow"><img src="../assets/img/glyphicon/post-1.png" class="left"><p class="left">Service disable vetran owned</p></div>-->
        </div>
    </div>
  </div>

  <div class="leadership leadership-big col-xs-12 clear">
      <div class="col-xs-12 srow div-title">
          <p class="left">LEADERSHIP</p>
          <div></div>
      </div>
      <div *ngIf="users[0]" class="main clear">
          <div class="halfwidth left" *ngFor='let index of users'>
              <img src='{{ index.avatar }}' class="left avatar" [style.width]="'150px'">
              <p class="srow">{{ index.firstName + ' ' + index.lastName}}</p>
              <p *ngIf="index.positionHistory[0]" class="srow">{{ index.positionHistory[0].PositionTitle }}</p>
              <p class="srow">{{ index.username }}</p>
              <button class="col-xs-8 col-xs-offset-2" (click)="toUserProfile(index._id)">More Information</button>
          </div>
      </div>
    <div class="main clear" *ngIf="!users[0]">No leadership to show</div>
  </div>

  <div class="leadership leadership-small col-xs-12 clear">
    <div class="col-xs-12 srow div-title">
      <p class="left">LEADERSHIP</p>
      <div></div>
    </div>
    <div class="main clear"></div>
    <div style="display: flex; flex-wrap: wrap" *ngIf="users[0]" class="main clear">
      <div *ngFor='let index of users'>
        <img src='{{ index.avatar }}' class="avatar" [style.width]="'150px'">
        <p class="srow">{{ index.firstName + ' ' + index.lastName}}</p>
        <p *ngIf="index.positionHistory[0]" class="srow">{{ index.positionHistory[0].PositionTitle }}</p>
        <p class="srow">{{ index.username }}</p>
        <button style="height: 4em" (click)="toUserProfile(index._id)">More Information</button>
      </div>
    </div>
    <div class="main clear" *ngIf="!users[0]">No leadership to show</div>
  </div>

  <div class="leadership leadership-big col-xs-12 clear">
      <div class="col-xs-12 srow div-title">
          <p class="left">EMPLOYEES</p>
          <div></div>
      </div>
      <div class="main clear">
        <div class="" *ngIf='this.currentAccount.userProfileProxies'>
          <div class="halfwidth left" *ngFor='let index of this.currentAccount.userProfileProxies'>
            <div *ngIf="index.userProfile">
              <img src='{{ index.userProfile.avatar }}' class="left avatar" [style.width]="'150px'">
              <p class="srow">{{ index.userProfile.firstName + ' ' + index.userProfile.lastName}}</p>
              <p *ngIf="index.userProfile.positionHistory[0]" class="srow">{{ index.userProfile.positionHistory[0].PositionTitle }}</p>
              <p class="srow">{{ index.userProfile.username }}</p>
              <button class="col-xs-8 col-xs-offset-2" (click)="toUserProfile(index.userProfile._id)">More Information</button>
            </div>
          </div>
        </div>
      </div>
      <div class="" *ngIf="!this.currentAccount.userProfileProxies" class="main clear">
         No employees to show
      </div>
      <div class="" *ngIf="this.currentAccount.userProfileProxies">
        <div *ngIf="!this.currentAccount.userProfileProxies[0]" class="main clear">No employees to show</div>
      </div>
  </div>


  <div class="leadership leadership-small col-xs-12 clear">
    <div class="col-xs-12 srow div-title">
      <p class="left">EMPLOYEES</p>
      <div></div>
    </div>
    <div class="main clear"></div>
    <div class="main clear">
      <div style="display: flex; flex-wrap: wrap" class="" *ngIf='this.currentAccount.userProfileProxies'>
        <div *ngFor='let index of this.currentAccount.userProfileProxies'>
          <div *ngIf="index.userProfile">
            <img src='{{ index.userProfile.avatar }}' class="avatar" [style.width]="'150px'">
            <p class="srow">{{ index.userProfile.firstName + ' ' + index.userProfile.lastName}}</p>
            <p *ngIf="index.userProfile.positionHistory[0]" class="srow">{{ index.userProfile.positionHistory[0].PositionTitle }}</p>
            <p class="srow">{{ index.userProfile.username }}</p>
            <button (click)="toUserProfile(index.userProfile._id)">More Information</button>
          </div>
        </div>
      </div>
    </div>
    <div class="" *ngIf="!this.currentAccount.userProfileProxies" class="main clear">
      No employees to show
    </div>
    <div class="" *ngIf="this.currentAccount.userProfileProxies">
      <div *ngIf="!this.currentAccount.userProfileProxies[0]" class="main clear">No employees to show</div>
    </div>
  </div>

  <div class="div-tab col-xs-12 clear">
      <div [style.width] = "'80%'" [style.margin-left]="'10%'">
        <!-- <div class="thirdwidth left" id="teamTab" (click)='changeToTeam();'>Team</div><!--TIM-->
          <div class="halfwidth left" id="serviceTab" (click)='showService()'>Services</div>
          <div class="halfwidth left" id="productTab" (click)='showProduct()'>Products</div>
      </div>
  </div>

<!-- START -- FOR PROJECT IN PROJECTS -->
  <div class="service col-xs-12 clear main" *ngIf="!products[0] && currentTab == 2">No Products</div>
  <div class="product col-xs-12 clear" *ngFor='let index of products'>
      <div class="div-title col-xs-12" *ngIf='currentTab == 2'>
          <img src="./assets/img/product.png">
          <p>{{ index.name }}</p>
          <div></div>
      </div>
      <div class="row main" *ngIf='currentTab == 2'>
          <div style="display: block" class="col-xs-12 col-sm-6">
            <canvas baseChart
                    [data]="getProductChartData(index._id)"
                    [labels]="getProductChartLabel(index._id)"
                    [chartType]="'pie'"></canvas>
          </div>
          <div class="col-xs-12 col-sm-6 text-container">
              <div class="col-xs-12" [style.overflow] = "'auto'">
                 <p *ngFor='let feature of index.feature'>{{feature.name}}</p>
              </div>
          </div>
      </div>
      <div class="row main" *ngIf='currentTab == 2'>
          <div class="col-xs-12 text-container">
              <div class="col-xs-12" [style.overflow] = "'auto'">
                 {{index.description}}
              </div>
          </div>
      </div>
      <div class="row main" *ngIf='currentTab == 2'>
         <a href="{{index.moreInfoLink}}"><button class="col-xs-12 col-sm-5">More Information</button></a>
        <a href="{{index.viewDemoLink}}"><button class="col-xs-12 col-sm-5 col-sm-offset-2">View Demo</button></a>
      </div>
      <div class="ad-service div-title col-xs-12" *ngIf='currentTab == 2'>
          <img src="./assets/img/service.png">
          <p>ADDITIONAL SERVICES</p>
          <div></div>
      </div>
      <div class="ad-service main" *ngIf='currentTab== 2'>
          <div class="col-xs-12 col-sm-4"><p class="col-xs-11">Provide Training?</p><input type="checkbox" class="col-xs-1" [attr.checked]="index.training ? true : null">
          </div>
          <div class="col-xs-12 col-sm-4"><p class="col-xs-11">Product Customization?</p><input type="checkbox" class="col-xs-1" [attr.checked]="index.customization ? true : null">
          </div>
          <div class="col-xs-12 col-sm-4"><p class="col-xs-11">Ongoing Maintenance</p><input type="checkbox" class="col-xs-1" [attr.checked]="index.maintenance ? true : null">
          </div>
      </div>
      <div class="customer div-title col-xs-12" *ngIf='currentTab== 2'>
          <img src="./assets/img/customer.png">
          <p>CUSTOMERS USING THE PRODUCT</p>
          <div></div>
      </div>
      <div class="main" *ngIf='currentTab== 2'>
          <div class="row col-xs-12 text-container text-center">
              <div class="left" [style.width]="'120px'">
                  <p class="col-xs-12">DEFENSE</p>
                  <img src="./assets/img/defense.png" [style.width]="'100px'" [style.margin-left]="'10px'">
              </div>
              <div class="left text-center" *ngFor='let jendex of index.customers.defense' [style.width]="'120px'">
                  <img src="{{jendex.avatar}}" [style.width]="'100px'" [style.margin-left]="'10px'">
                  <p class="col-xs-12">{{jendex.name}}</p>
              </div>
          </div>
          <div class="row col-xs-12 text-container">
              <div class="left" [style.width]="'120px'">
                  <p class="col-xs-12">CIVILIAN</p>
                  <img src="./assets/img/civilian.png" [style.width]="'100px'" [style.margin-left]="'10px'">
              </div>
              <div class="left text-center" *ngFor='let jendex of index.customers.civilian' [style.width]="'120px'">
                  <img src="{{jendex.avatar}}" [style.width]="'100px'" [style.margin-left]="'10px'">
                  <p class="col-xs-12">{{jendex.name}}</p>
              </div>
          </div>
          <div class="row col-xs-12 text-container">
              <div class="left" [style.width]="'120px'">
                  <p class="col-xs-12">COMMERCIA</p>
                  <img src="./assets/img/commercia.png" [style.width]="'100px'" [style.margin-left]="'10px'">
              </div>
              <div class="left text-center" *ngFor='let jendex of index.customers.commercial' [style.width]="'120px'">
                  <img src="{{jendex.avatar}}" [style.width]="'100px'" [style.margin-left]="'10px'">
                  <p class="col-xs-12">{{jendex.name}}</p>
              </div>
          </div>
      </div>
  </div>
<!-- END -- FOR PROJECT IN PROJECTS-->

<!-- START -- FOR SERVICE IN SERVICES -->
  <div class="service col-xs-12 clear main" *ngIf="!services[0] && currentTab == 3">No Services</div>
  <div class="service col-xs-12 clear" *ngFor='let index of services'>
    <div class="div-title col-md-12" *ngIf='currentTab == 2'>
        <img src="./assets/img/profile/capabilities-1.png">
        <p>{{index.name}}</p>
        <div></div>
    </div>
    <div class="capa-main col-md-12" *ngIf='currentTab == 3'>
        <div class="col-xl-12 col-lg-6">
            <div class="capa-chart col-xs-12">
                <app-bent-bars-chart width='300' height='300' divID='bbChart{{index._id}}' [values]='getServiceChartValue(index._id)'></app-bent-bars-chart>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 text-container">
            <div class="row">
                <div class="col-xs-12 col-md-6 left">
                    <app-color-comment-box *ngFor='let feature of index.feature' color='{{getServiceChartColor(feature.score)}}' text='{{feature.title}}' class="col-xs-12 col-sm-6 col-md-12"></app-color-comment-box>
                </div>
                <div class="col-xs-12 col-md-6 right">
                    <p *ngFor='let skill of index.skills' class="col-xs-12 col-sm-6 col-md-12">{{ skill }} </p>
                </div>
            </div>
        </div>
    </div>
  </div>
<!-- END -- FOR SERVICE IN SERVICES -->




<!-- START For Team Tab -->
<div class="performance col-xs-12 clear" >
    <div class="div-title col-xs-12">
      <img src="./assets/img/profile/agency-4.png">
      <p>Team Analytics</p>
        <div></div>
    </div>
    <div  id="team_chart"  style="max-width: 75%; margin: 0 auto"></div>
</div>

<!-- END For Team Tab -->

  <div class="performance col-xs-12 clear" >
      <div class="div-title col-xs-12">
          <img src="./assets/img/performance.png">
          <p>PAST PERFORMANCE</p>
          <div></div>
      </div>
      <div class="main clear">
        <div *ngIf="!pastperformances[0]">No past performance to show</div>
        <div class="swiper-container col-xs-12">
            <div class="swiper-wrapper">
                <div class="swiper-slide pp-slide" *ngFor="let pp of pastperformances">
                    <img src="{{pp.avatar}}" class="fullwidth">
                    <p class="col-xs-12">{{pp.title}}</p>
                    <p class="halfwidth left"><strong>Client</strong><br>{{pp.client}}</p>
                    <p class="halfwidth right"><strong>Project</strong><br>{{pp.topic}}</p>
                    <button (click)='toPastPerformance(pp._id)'>More Information</button>
                </div>
            </div>
        </div>
        <button *ngIf="this.isUserAdmin" (click)='toPastPerformanceCreate(this.currentAccount._id)'>Add Past Performance</button>
      </div>
  </div>

  <div class="cert col-xs-12 clear">
      <div class="div-title col-xs-12">
          <img src="./assets/img/cert.png" class="left">
          <p><strong>CERTS, QUALS</strong><br>AWARDS & CLEARANCES</p>
          <div></div>
      </div>
      <div class="row main">
          <div class="col-xs-12 text-container" >
              <div *ngIf="!CQAC[0]">No certs/quals to show</div>
              <div class="col-xs-12" [style.overflow] = "'auto'" [style.max-height]="'250px'">
                  <h5 *ngFor='let index of CQAC'>{{index}}</h5>
              </div>
          </div>
      </div>
  </div>

  <div class="vehicle col-xs-12 clear">
      <div class="div-title col-xs-12">
          <img src="./assets/img/vehicle.png">
          <p>VEHICLES</p>
          <div></div>
      </div>
      <div class="row main">
          <div class="col-xs-12 text-container">
            <div *ngIf="!currentAccount.vehicles">No vehicles to show</div>
            <div class="" *ngIf=currentAccount.vehicles>
              <div *ngIf="!currentAccount.vehicles[0]">No vehicles to show</div>
            </div>
              <div class="col-xs-12" [style.overflow] = "'auto'" [style.max-height]="'250px'">
                   <h5 *ngFor='let index of currentAccount.vehicles'>{{index.vehicleType + ': ' + index.quantity}}</h5>
              </div>
          </div>
      </div>
  </div>

  <div class="schedule col-xs-12 clear">
      <div class="div-title col-xs-12">
          <img src="./assets/img/schedule.png">
          <p>SCHEDULES</p>
          <div></div>
      </div>
      <div class="row main">
          <div class="col-xs-12 text-container">
            <div *ngIf="!currentAccount.schedule">No schedule to show</div>
            <div class="" *ngIf="currentAccount.schedule">
              <div *ngIf="!currentAccount.schedule[0]">No schedule to show</div>
            </div>
              <div class="col-xs-12" [style.overflow] = "'auto'" [style.max-height]="'250px'">
                 <h5 *ngFor='let index of currentAccount.schedule'>{{index.date + ': ' + index.content}}</h5>
              </div>
          </div>
      </div>
  </div>
</div>
